.btn-round {
    border-radius: 10px;
    font-size: 10px !important;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.card:hover  {
    background-color: #e9e8e7;
    box-shadow: none !important;
}

.card:hover .card-title {
    color: #99CC33;
}

.card:hover .btn {
    background-color: white;
    color: #99CC33;
}

.btn:hover {
    background-color: white !important;
    color: #99CC33 !important;
}

.div-content-behind {
    background-color: white;
    border-radius: 50%;
    color: gray;
    height: 40px;
    max-width: 40px;

}

.div-content-behind:hover {
    color: rgb(11, 122, 89);

}

.cursor-pointer {
    cursor: pointer;
}
