<footer class="footer">
    <div class="container-fluid">
        <!-- <nav class="pull-left">
            <ul>

                <li>
                    <a href=" ">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Blog
                    </a>
                </li>
                <li>
                    <a href=" /license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright pull-right">
            Derechos reservados
            &copy; {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
