<!-- <div class="main-content">
    <div class="card">
      <input type="hidden" #selection>
      <button class="btn btn-primary" (click)="test()">
        Scanear
      </button>
      <button hidden id="close-scan"  #close-scan (click)="stopScanning()">
        Scanear
      </button>
      <div class="row">
        <div class="col-sm-8 border text-center justufy-align-center">
          <div class="terminal mx-auto" [ngSwitch]="selection.value">
            <pre *ngSwitchDefault>
              <div>
                <qr-scanner
                  [debug]="false"
                  [canvasWidth]="500"
                  [canvasHeight]="500"
                  [stopAfterScan]="true"
                  [updateTime]="50"> 
                </qr-scanner>    
              </div>
            </pre>
        </div>

        </div>
        <div class="col-sm-4">
          {{student.student_name}} {{student.student_lastname}}
        </div>
      </div>
       
    </div>
</div> -->