openapi: "3.0.3"
info:
  title: "SaasFacturacion — Referencia de Cloud Functions"
  description: |
    Documentación completa de todas las Firebase Cloud Functions del proyecto SaasFacturacion Ecuador.

    ## Protocolo Firebase Callable
    Todas las funciones marcadas como "Callable" siguen el protocolo Firebase Cloud Functions:
    - **Método:** siempre POST
    - **URL:** https://us-central1-facturasproec.cloudfunctions.net/{functionName}
    - **Request body:** siempre `{ "data": { ...parámetros } }`
    - **Response:** siempre `{ "result": { ...respuesta } }` en éxito
    - **Auth:** Bearer token de Firebase ID Token en header Authorization

    ## Funciones Background (Triggers y Scheduled)
    Las funciones de tipo Trigger y Scheduled no tienen endpoint HTTP directo.
    Se documentan aquí como referencia de cuándo se ejecutan y qué hacen.

    ## Roles del sistema
    - `super_admin` — Acceso total a la plataforma. Sin companyId.
    - `admin` — Administrador de una empresa. companyId en claims.
    - `seller`, `accountant`, `cashier`, `read_only` — Roles de empresa con permisos acotados.
  version: "1.0.0"
  contact:
    email: "jrodriguez@dycotein.com"

servers:
  - url: "https://us-central1-facturasproec.cloudfunctions.net"
    description: "Producción"
  - url: "http://localhost:5001/facturasproec/us-central1"
    description: "Emuladores locales (firebase emulators:start)"

security:
  - FirebaseIdToken: []

components:
  securitySchemes:
    FirebaseIdToken:
      type: http
      scheme: bearer
      description: "Firebase ID Token. Obtener con: firebase.auth().currentUser.getIdToken()"

  schemas:
    # ── Error genérico Firebase Callable ─────────────────────────────────────────
    CallableError:
      type: object
      properties:
        error:
          type: object
          properties:
            status:
              type: string
              enum:
                - INVALID_ARGUMENT
                - NOT_FOUND
                - PERMISSION_DENIED
                - UNAUTHENTICATED
                - INTERNAL
                - ALREADY_EXISTS
                - RESOURCE_EXHAUSTED
                - FAILED_PRECONDITION
                - UNAVAILABLE
            message:
              type: string
            details:
              type: object

    # ── Auth ──────────────────────────────────────────────────────────────────────
    SetUserCustomClaimsRequest:
      type: object
      required: [targetUid, companyId, role]
      properties:
        targetUid:
          type: string
          description: "UID del usuario de Firebase Auth al que asignar los claims."
        companyId:
          type: string
          description: "ID de la empresa que se asociará al usuario."
        role:
          type: string
          description: "Código de rol. Solo letras minúsculas, dígitos y guiones bajos (máx. 50 chars). Ejemplo: seller, accountant, cashier."
          pattern: "^[a-z][a-z0-9_]{0,49}$"

    SetUserCustomClaimsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        uid:
          type: string
        companyId:
          type: string
        role:
          type: string

    SetupFirstAdminRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: "Email del primer super_admin."
        password:
          type: string
          minLength: 8
          description: "Contraseña (mínimo 8 caracteres)."

    SetupFirstAdminResponse:
      type: object
      properties:
        success:
          type: boolean
        uid:
          type: string
          description: "UID del super_admin creado en Firebase Auth."
        message:
          type: string
          example: "Super administrador creado correctamente. Ya puedes iniciar sesión."

    # ── Tenants ───────────────────────────────────────────────────────────────────
    SriSetupInput:
      type: object
      required: [environment, ruc, businessName, establishment, emissionPoint, contributorType, accountingRequired]
      properties:
        environment:
          type: string
          enum: [testing, production]
        ruc:
          type: string
          description: "RUC de 13 dígitos."
        businessName:
          type: string
        establishment:
          type: string
          example: "001"
        emissionPoint:
          type: string
          example: "001"
        contributorType:
          type: string
          enum: [natural, juridica]
        accountingRequired:
          type: boolean
        contribuyenteEspecial:
          type: string
          nullable: true
          description: "Número de resolución de contribuyente especial. Opcional."
        microempresa:
          type: boolean
          nullable: true
        regimen:
          type: string
          nullable: true
          enum: [general, rimpe_negocio_popular, rimpe_emprendedor]

    SetupCompanyRequest:
      type: object
      required: [name, taxId, fiscalAddress, city, phone, email, planId, planName, status, subscriptionEnd, sri]
      properties:
        name:
          type: string
          description: "Razón social de la empresa."
        taxId:
          type: string
          description: "RUC de la empresa."
        fiscalAddress:
          type: string
        city:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
          description: "Email corporativo. Si se proporciona adminPassword, también es el email del usuario admin."
        adminPassword:
          type: string
          nullable: true
          description: "Si se proporciona, crea un usuario admin en Firebase Auth con este email y contraseña."
        planId:
          type: string
          description: "ID del plan en /plans/{planId}."
        planName:
          type: string
        status:
          type: string
          example: "active"
        subscriptionEnd:
          type: string
          format: date-time
          description: "Fecha ISO de fin de suscripción."
        sri:
          $ref: '#/components/schemas/SriSetupInput'

    SetupCompanyResponse:
      type: object
      properties:
        companyId:
          type: string
          description: "ID del documento recién creado en /companies/{companyId}."

    AssignPlanToCompanyRequest:
      type: object
      required: [companyId, planId]
      properties:
        companyId:
          type: string
        planId:
          type: string

    AssignPlanToCompanyResponse:
      type: object
      properties:
        success:
          type: boolean
        companyId:
          type: string
        planId:
          type: string

    CheckPlanLimitRequest:
      type: object
      required: [companyId, limitType]
      properties:
        companyId:
          type: string
        limitType:
          type: string
          enum:
            - invoices
            - creditNotes
            - debitNotes
            - retentions
            - totalSriDocs
            - personas
            - customers
            - products
            - warehouses
            - users
            - customRoles
            - activeProjects
            - exports
            - tasks
          description: |
            Tipo de límite a verificar:
            - `invoices` / `creditNotes` / `debitNotes` / `retentions` / `totalSriDocs` — documentos SRI por mes (fuente: usage/{YYYY-MM})
            - `personas` / `customers` / `products` / `warehouses` / `users` / `customRoles` / `activeProjects` — campos del documento de empresa
            - `exports` / `tasks` — contadores de uso mensual

    CheckPlanLimitResponse:
      type: object
      properties:
        allowed:
          type: boolean
          description: "true si se puede continuar la operación."
        current:
          type: integer
          description: "Uso actual."
        limit:
          type: integer
          description: "-1 = ilimitado, 0 = deshabilitado, >0 = límite concreto."
        limitType:
          type: string

    # ── Invoices / SRI ────────────────────────────────────────────────────────────
    UploadCertificateRequest:
      type: object
      required: [companyId, certificateBase64, password]
      properties:
        companyId:
          type: string
        certificateBase64:
          type: string
          description: "Contenido del archivo .p12 en Base64."
        password:
          type: string
          description: "Contraseña del certificado .p12."

    UploadCertificateResponse:
      type: object
      properties:
        success:
          type: boolean
        thumbprint:
          type: string
          description: "SHA1 fingerprint del certificado."
        subject:
          type: string
          description: "Subject DN del certificado X.509."
        expiresAt:
          type: string
          format: date-time
          description: "Fecha de expiración del certificado."
        expiresIn:
          type: integer
          description: "Días hasta la expiración."

    GenerateInvoiceXmlRequest:
      type: object
      required: [invoiceId, companyId]
      properties:
        invoiceId:
          type: string
          description: "ID del documento en companies/{companyId}/invoices/{invoiceId}."
        companyId:
          type: string

    GenerateInvoiceXmlResponse:
      type: object
      properties:
        invoiceId:
          type: string
        accessKey:
          type: string
          description: "Clave de acceso SRI de 49 dígitos."
        xmlUrl:
          type: string
          format: uri
          description: "URL pública del XML en Cloud Storage."
        sriStatus:
          type: string
          example: "xml_generated"
        fullNumber:
          type: string
          description: "Número completo estab-ptoEmi-secuencial. Ejemplo: 001-001-000000001."
        nextStep:
          type: string
          example: "signXml"

    GenerateCreditNoteXmlRequest:
      type: object
      required: [creditNoteId, companyId]
      properties:
        creditNoteId:
          type: string
          description: "ID del documento de nota de crédito en companies/{companyId}/invoices/{creditNoteId} (isCreditNote=true)."
        companyId:
          type: string

    GenerateCreditNoteXmlResponse:
      type: object
      properties:
        accessKey:
          type: string
          description: "Clave de acceso SRI de 49 dígitos."
        xmlUrl:
          type: string
          format: uri

    SignXmlRequest:
      type: object
      required: [invoiceId, companyId]
      properties:
        invoiceId:
          type: string
          description: "ID del documento (factura o nota de crédito). La función obtiene la contraseña del certificado desde Firestore."
        companyId:
          type: string

    SignXmlResponse:
      type: object
      properties:
        invoiceId:
          type: string
        accessKey:
          type: string
        sriStatus:
          type: string
          example: "signed"
        signedXmlUrl:
          type: string
          format: uri
          description: "URL pública del XML firmado con XAdES-BES en Cloud Storage."
        nextStep:
          type: string
          example: "sendToSri"

    SendToSriRequest:
      type: object
      required: [companyId]
      properties:
        documentId:
          type: string
          description: "ID del documento. Acepta también `invoiceId` para compatibilidad retroactiva."
        invoiceId:
          type: string
          description: "Alias retroactivo de documentId."
        documentType:
          type: string
          enum: [invoice, retention, debitNote, creditNote]
          default: invoice
          description: "Tipo de documento a enviar al SRI."
        companyId:
          type: string

    SendToSriResponse:
      type: object
      properties:
        documentId:
          type: string
        companyId:
          type: string
        sriStatus:
          type: string
          enum: [authorized, rejected, pending]
        authorizationNumber:
          type: string
          nullable: true
          description: "Número de autorización SRI (49 dígitos). Solo presente si authorized."
        authorizedAt:
          type: string
          format: date-time
          nullable: true
        estado:
          type: string
          description: "Estado SOAP devuelto por el SRI."
        mensaje:
          type: string
          nullable: true
        detalle:
          type: string
          nullable: true
        sriError:
          type: string
          nullable: true
        nextStep:
          type: string
          nullable: true
          example: "generatePdf"

    CheckSriStatusRequest:
      type: object
      required: [companyId]
      properties:
        documentId:
          type: string
          description: "ID del documento. También acepta `invoiceId` para compatibilidad retroactiva."
        invoiceId:
          type: string
          description: "Alias retroactivo de documentId."
        companyId:
          type: string
        documentType:
          type: string
          enum: [invoice, retention, debitNote]
          default: invoice

    CheckSriStatusResponse:
      type: object
      properties:
        sriStatus:
          type: string
          enum: [authorized, rejected, pending, xml_generated, signed]
        authorizationNumber:
          type: string
          nullable: true
        estado:
          type: string
          description: "Estado SOAP directo del SRI: AUTORIZADO | NO AUTORIZADO | RECHAZADO | PENDIENTE."
        mensaje:
          type: string

    GeneratePdfRequest:
      type: object
      required: [invoiceId, companyId]
      properties:
        invoiceId:
          type: string
        companyId:
          type: string

    GeneratePdfResponse:
      type: object
      properties:
        pdfUrl:
          type: string
          format: uri
          description: "URL pública del PDF RIDE generado en Cloud Storage."

    SendInvoiceEmailRequest:
      type: object
      required: [invoiceId, companyId]
      properties:
        invoiceId:
          type: string
        companyId:
          type: string

    SendInvoiceEmailResponse:
      type: object
      properties:
        sent:
          type: boolean
          description: "false si la factura no tiene email de cliente registrado."
        to:
          type: string
          description: "Dirección de email a la que se envió. Vacío si sent=false."

    GenerateCreditNotePdfRequest:
      type: object
      required: [creditNoteId, companyId]
      properties:
        creditNoteId:
          type: string
        companyId:
          type: string

    GenerateCreditNotePdfResponse:
      type: object
      properties:
        success:
          type: boolean

    SendCreditNoteEmailRequest:
      type: object
      required: [creditNoteId, companyId]
      properties:
        creditNoteId:
          type: string
        companyId:
          type: string

    SendCreditNoteEmailResponse:
      type: object
      properties:
        sent:
          type: boolean
        to:
          type: string

    # ── Retentions ────────────────────────────────────────────────────────────────
    GenerateRetentionXmlRequest:
      type: object
      required: [retentionId, companyId]
      properties:
        retentionId:
          type: string
          description: "ID del documento en companies/{companyId}/retentions/{retentionId}."
        companyId:
          type: string

    GenerateRetentionXmlResponse:
      type: object
      properties:
        accessKey:
          type: string
          description: "Clave de acceso SRI de 49 dígitos."
        xmlUrl:
          type: string
          format: uri

    GenerateRetentionPdfRequest:
      type: object
      required: [retentionId, companyId]
      properties:
        retentionId:
          type: string
        companyId:
          type: string

    GenerateRetentionPdfResponse:
      type: object
      properties:
        pdfUrl:
          type: string
          format: uri

    SendRetentionEmailRequest:
      type: object
      required: [retentionId, companyId]
      properties:
        retentionId:
          type: string
        companyId:
          type: string

    SendRetentionEmailResponse:
      type: object
      properties:
        sent:
          type: boolean
        to:
          type: string

    # ── Debit Notes ───────────────────────────────────────────────────────────────
    GenerateDebitNoteXmlRequest:
      type: object
      required: [debitNoteId, companyId]
      properties:
        debitNoteId:
          type: string
          description: "ID del documento en companies/{companyId}/debitNotes/{debitNoteId}."
        companyId:
          type: string

    GenerateDebitNoteXmlResponse:
      type: object
      properties:
        accessKey:
          type: string
        xmlUrl:
          type: string
          format: uri

    GenerateDebitNotePdfRequest:
      type: object
      required: [debitNoteId, companyId]
      properties:
        debitNoteId:
          type: string
        companyId:
          type: string

    GenerateDebitNotePdfResponse:
      type: object
      properties:
        pdfUrl:
          type: string
          format: uri

    SendDebitNoteEmailRequest:
      type: object
      required: [debitNoteId, companyId]
      properties:
        debitNoteId:
          type: string
        companyId:
          type: string

    SendDebitNoteEmailResponse:
      type: object
      properties:
        sent:
          type: boolean
        to:
          type: string

    # ── Accounting ────────────────────────────────────────────────────────────────
    CloseAccountingPeriodRequest:
      type: object
      required: [companyId, periodId]
      properties:
        companyId:
          type: string
        periodId:
          type: string
          description: "ID del período contable en companies/{companyId}/accounting_periods/{periodId}. Debe tener status='open'."

    CloseAccountingPeriodResponse:
      type: object
      properties:
        success:
          type: boolean
        entryId:
          type: string
          nullable: true
          description: "ID del asiento de cierre creado. null si el período no tenía movimientos."
        totalIncome:
          type: number
          nullable: true
        totalExpense:
          type: number
          nullable: true
        netResult:
          type: number
          nullable: true
          description: "Resultado neto: positivo=utilidad, negativo=pérdida."
        message:
          type: string

    RunDepreciationForMonthRequest:
      type: object
      required: [companyId, year, month]
      properties:
        companyId:
          type: string
        year:
          type: integer
          description: "Año a procesar. Ejemplo: 2025."
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: "Mes a procesar (1-12)."

    RunDepreciationForMonthResponse:
      type: object
      properties:
        success:
          type: boolean
        assetsProcessed:
          type: integer
          description: "Cantidad de activos fijos depreciados."
        entryId:
          type: string
          nullable: true
          description: "ID del journal_entry de depreciación creado."
        skipped:
          type: boolean
          nullable: true
          description: "true si ya existía un asiento de depreciación para ese mes o si no hay activos que depreciar."
        message:
          type: string

    GenerateOpeningEntryRequest:
      type: object
      required: [companyId, newPeriodId]
      properties:
        companyId:
          type: string
        newPeriodId:
          type: string
          description: "ID del período contable de destino (el nuevo ejercicio). Debe tener status='open' y no tener openingEntryId."

    GenerateOpeningEntryResponse:
      type: object
      properties:
        success:
          type: boolean
        entryId:
          type: string
          description: "ID del asiento de apertura creado."
        linesCount:
          type: integer
          nullable: true
          description: "Número de líneas del asiento de apertura."
        totalDebit:
          type: number
        totalCredit:
          type: number
        message:
          type: string

    ReportLine:
      type: object
      description: "Fila de datos pre-calculada por el frontend para incluir en el PDF."
      additionalProperties:
        oneOf:
          - type: string
          - type: number

    GenerateAccountingPdfRequest:
      type: object
      required: [reportType, companyId, periodName, data]
      properties:
        reportType:
          type: string
          enum:
            - libro-diario
            - libro-mayor
            - balance-comprobacion
            - estado-resultados
            - balance-general
        companyId:
          type: string
        periodName:
          type: string
          description: "Nombre del período para el encabezado del PDF. Ejemplo: 'Enero 2025'."
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReportLine'
          description: "Filas pre-calculadas por el frontend."
        extraData:
          type: object
          description: "Totales, secciones y datos adicionales dependiendo del tipo de reporte."
          nullable: true
          additionalProperties: true

    GenerateAccountingPdfResponse:
      type: object
      properties:
        pdf:
          type: string
          description: "Contenido del PDF en Base64."
        filename:
          type: string
          description: "Nombre de archivo sugerido. Ejemplo: libro-diario-Enero_2025.pdf."

    # ── Users ─────────────────────────────────────────────────────────────────────
    CreateCompanyUserRequest:
      type: object
      required: [email, password, displayName, platformRole, companyId]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
        displayName:
          type: string
        platformRole:
          type: string
          description: "Código de rol. No puede ser super_admin. Para asignar admin solo super_admin puede hacerlo."
          pattern: "^[a-z][a-z0-9_]{0,49}$"
        companyId:
          type: string
        personaId:
          type: string
          nullable: true
          description: "ID de persona asociada (opcional). Vincula el usuario a un documento en personas."

    CreateCompanyUserResponse:
      type: object
      properties:
        uid:
          type: string
        email:
          type: string
        displayName:
          type: string
        platformRole:
          type: string

    UpdateCompanyUserRequest:
      type: object
      required: [uid, companyId]
      properties:
        uid:
          type: string
          description: "UID del usuario a modificar."
        companyId:
          type: string
        displayName:
          type: string
          nullable: true
        platformRole:
          type: string
          nullable: true
          description: "Nuevo rol. Si se cambia, actualiza los custom claims JWT. No puede ser super_admin."
        isActive:
          type: boolean
          nullable: true
          description: "false deshabilita la cuenta en Firebase Auth."
        personaId:
          type: string
          nullable: true

    UpdateCompanyUserResponse:
      type: object
      properties:
        success:
          type: boolean
        uid:
          type: string

    DeleteCompanyUserRequest:
      type: object
      required: [uid, companyId]
      properties:
        uid:
          type: string
          description: "UID del usuario a eliminar permanentemente. No puede ser el mismo caller."
        companyId:
          type: string

    DeleteCompanyUserResponse:
      type: object
      properties:
        success:
          type: boolean
        uid:
          type: string

    # ── School Bar ────────────────────────────────────────────────────────────────
    SchoolScanQrRequest:
      type: object
      required: [token, companyId]
      properties:
        token:
          type: string
          description: "Token QR del alumno. Formato: base64url(payload).hmacHex. Generado automáticamente al crear el alumno."
        companyId:
          type: string

    SchoolScanQrResponse:
      type: object
      properties:
        studentId:
          type: string
        fullName:
          type: string
        code:
          type: string
          description: "Código interno del alumno."
        gradeId:
          type: string
        gradeName:
          type: string
        section:
          type: string
        walletBalance:
          type: number
          description: "Saldo actual del monedero escolar en USD."

    # ── Utils ─────────────────────────────────────────────────────────────────────
    DownloadDocumentRequest:
      type: object
      required: [documentType, documentId, companyId, fileType]
      properties:
        documentType:
          type: string
          enum: [invoice, creditNote, retention, debitNote]
        documentId:
          type: string
        companyId:
          type: string
        fileType:
          type: string
          enum: [xml, pdf]

    DownloadDocumentResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: "URL pública de Cloud Storage del archivo solicitado."

    # ── DevTools ──────────────────────────────────────────────────────────────────
    GetAuthTokenRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: "Email del usuario registrado en Firebase Auth."
          example: "admin@miempresa.com"
        password:
          type: string
          format: password
          description: "Contraseña del usuario."
          example: "micontraseña123"

    GetAuthTokenResponse:
      type: object
      properties:
        idToken:
          type: string
          description: |
            Firebase ID Token JWT. Úsalo en el header de todas las Cloud Functions callable:
            `Authorization: Bearer <idToken>`
          example: "eyJhbGciOiJSUzI1NiIsImtpZCI6..."
        expiresIn:
          type: string
          description: "Tiempo de vida del token en segundos. Default Firebase: 3600 (1 hora)."
          example: "3600"
        tokenType:
          type: string
          example: "Bearer"
        uid:
          type: string
          description: "UID del usuario en Firebase Auth."
        companyId:
          type: string
          nullable: true
          description: "companyId del custom claim. null si el usuario es super_admin sin empresa vinculada."
        role:
          type: string
          nullable: true
          description: "Rol del usuario: admin, seller, accountant, cashier, read_only, super_admin."
        usage:
          type: string
          example: "Agrega el idToken en el header: Authorization: Bearer <idToken>"

    # ── createAndEmitInvoice ──────────────────────────────────────────────────────
    ExternalInvoiceLine:
      type: object
      required: [description, quantity, unitPrice, vatPct]
      properties:
        sku:
          type: string
          nullable: true
          description: "Código del producto en el sistema de origen."
          example: "PROD-001"
        description:
          type: string
          description: "Descripción del producto o servicio."
          example: "Servicio de consultoría mensual"
        quantity:
          type: number
          format: float
          description: "Cantidad. Acepta decimales (hasta 6 según XSD del SRI)."
          example: 2
        unitPrice:
          type: number
          format: float
          description: "Precio unitario sin IVA."
          example: 100.00
        discountPct:
          type: number
          format: float
          nullable: true
          description: "Porcentaje de descuento sobre la línea (0-100). Default: 0."
          example: 0
        vatPct:
          type: number
          enum: [0, 5, 15]
          description: |
            Porcentaje de IVA según tarifas vigentes Ecuador 2024+:
            - `0` — Tarifa 0% (exento o no objeto de IVA)
            - `5` — Tarifa 5%
            - `15` — Tarifa 15% (tarifa general vigente)
          example: 15
        unit:
          type: string
          nullable: true
          description: "Unidad de medida. Default: UNIDAD."
          example: "HORA"

    ExternalCustomer:
      type: object
      required: [taxId, taxIdType, name]
      properties:
        taxId:
          type: string
          description: |
            Número de identificación del comprador.
            - RUC: 13 dígitos
            - Cédula: 10 dígitos
            - Pasaporte: alfanumérico
            - Consumidor Final: exactamente `9999999999999`
          example: "1712345678001"
        taxIdType:
          type: string
          enum: [RUC, CI, PASAPORTE, CONSUMIDOR_FINAL, EXTERIOR]
          description: "Tipo de identificación del comprador."
          example: "RUC"
        name:
          type: string
          description: "Razón social o nombre completo del comprador."
          example: "EMPRESA CLIENTE S.A."
        email:
          type: string
          format: email
          nullable: true
          description: "Email del comprador. Se usa para envío automático del PDF RIDE."
          example: "facturacion@cliente.com"
        address:
          type: string
          nullable: true
          description: "Dirección del comprador (para infoAdicional del XML)."
          example: "Av. Amazonas 123, Quito"

    ExternalPaymentMethod:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: |
            Código SRI de forma de pago (Tabla 24 Ficha Técnica SRI):
            - `01` — Sin utilización del sistema financiero (efectivo)
            - `15` — Compensación de deudas
            - `16` — Tarjeta de débito
            - `17` — Dinero electrónico
            - `18` — Tarjeta prepago
            - `19` — Tarjeta de crédito
            - `20` — Otros con utilización del sistema financiero
            - `21` — Endoso de títulos
          example: "01"
        amount:
          type: number
          format: float
          nullable: true
          description: "Monto de este método de pago. Si se omite, se usa el total de la factura."
          example: 230.00
        deadline:
          type: integer
          nullable: true
          description: "Plazo en unidades de tiempo. Para pago inmediato: 0."
          example: 0
        timeUnit:
          type: string
          nullable: true
          description: "Unidad de tiempo del plazo: dias, meses, anios."
          example: "dias"

    CreateAndEmitInvoiceRequest:
      type: object
      required: [companyId, customer, lines]
      properties:
        companyId:
          type: string
          description: |
            ID de la empresa en Firestore (`companies/{companyId}`).
            **Seguridad:** se valida contra el `companyId` del Firebase ID Token.
            Un usuario no puede emitir facturas en nombre de otra empresa.
          example: "abc123xyz"
        externalId:
          type: string
          nullable: true
          description: |
            ID de la factura en el sistema de origen (idempotencia).
            Si ya existe un documento con el mismo `externalId` para este `companyId`,
            se retorna ese documento sin crear uno nuevo.
          example: "buseta-inv-2026-001"
        source:
          type: string
          nullable: true
          description: "Etiqueta del sistema que origina la factura (trazabilidad)."
          example: "flutter_app"
        date:
          type: string
          format: date
          nullable: true
          description: "Fecha de emisión YYYY-MM-DD. Default: fecha actual (zona Ecuador)."
          example: "2026-09-03"
        customer:
          $ref: '#/components/schemas/ExternalCustomer'
        lines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ExternalInvoiceLine'
        paymentMethods:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalPaymentMethod'
          description: "Si se omite, se usa pago inmediato en efectivo (código 01) por el total."
        notes:
          type: string
          nullable: true
          description: "Notas internas. No aparecen en el XML del SRI."
        mode:
          type: string
          enum: [async, sync]
          default: async
          description: |
            - `async` (default): retorna `{ invoiceId, status: 'processing' }` inmediatamente.
              El pipeline SRI corre en background. Usar `checkSriStatus` para consultar el resultado.
            - `sync`: espera hasta que el SRI responda (o hasta `syncTimeoutMs`).
              Retorna el resultado completo en una sola llamada. Riesgo de timeout con SRI lento.
        syncTimeoutMs:
          type: integer
          nullable: true
          description: "Solo en mode=sync. Tiempo máximo de espera en ms. Default: 45000. Máximo: 90000."
          example: 45000

    CreateAndEmitInvoiceResponse:
      type: object
      properties:
        invoiceId:
          type: string
          description: "ID del documento creado en `companies/{companyId}/invoices/{invoiceId}`."
          example: "Kj8mN2pQrT4w"
        fullNumber:
          type: string
          description: "Número de factura asignado: estab-ptoEmi-secuencial."
          example: "001-001-000000042"
        status:
          type: string
          enum: [processing, authorized, rejected, not_required, plan_limit_reached]
          description: |
            - `processing`: factura creada, pipeline SRI corriendo en background (modo async o timeout sync).
            - `authorized`: SRI autorizó el comprobante (solo en modo sync con respuesta a tiempo).
            - `rejected`: SRI rechazó el comprobante (solo en modo sync).
            - `not_required`: empresa sin facturación electrónica habilitada en el plan.
            - `plan_limit_reached`: límite mensual de facturas SRI alcanzado.
        isDuplicate:
          type: boolean
          nullable: true
          description: "true si se retornó un documento existente por coincidencia de externalId."
        message:
          type: string
          nullable: true
          description: "Mensaje descriptivo del estado. Incluye instrucción de polling en modo async."
        accessKey:
          type: string
          nullable: true
          description: "Clave de acceso SRI de 49 dígitos. Solo disponible en modo sync cuando authorized."
        authorizationNumber:
          type: string
          nullable: true
          description: "Número de autorización SRI. Solo disponible en modo sync cuando authorized."
        authorizedAt:
          type: object
          nullable: true
          description: "Timestamp de autorización SRI."
        xmlUrl:
          type: string
          format: uri
          nullable: true
          description: "URL del XML original en Cloud Storage. Solo en modo sync."
        signedXmlUrl:
          type: string
          format: uri
          nullable: true
          description: "URL del XML firmado XAdES-BES en Cloud Storage. Solo en modo sync."
        pdfUrl:
          type: string
          format: uri
          nullable: true
          description: "URL del PDF RIDE en Cloud Storage. Solo en modo sync cuando authorized."
        sriError:
          type: string
          nullable: true
          description: "Mensaje de error del SRI. Solo en modo sync cuando rejected."

tags:
  - name: Auth
    description: "Autenticación y asignación de roles custom claims."
  - name: Tenants
    description: "Setup y configuración de empresas (tenants). Acceso restringido a super_admin."
  - name: Invoices
    description: "Pipeline SRI para facturas electrónicas: XML, firma XAdES-BES, envío al SRI, PDF RIDE, email."
  - name: CreditNotes
    description: "Pipeline SRI para notas de crédito electrónicas (codDoc=04). Los documentos se almacenan en la misma colección que facturas con isCreditNote=true."
  - name: DebitNotes
    description: "Pipeline SRI para notas de débito electrónicas (codDoc=05)."
  - name: Retentions
    description: "Pipeline SRI para comprobantes de retención electrónicos (codDoc=07)."
  - name: Accounting
    description: "Módulo contable: cierre de ejercicio, depreciaciones, asientos de apertura y PDFs de reportes financieros."
  - name: Users
    description: "Gestión de usuarios de empresa. Las operaciones de creación y eliminación usan Firebase Admin SDK para no autenticar al nuevo usuario en el proceso."
  - name: SchoolBar
    description: "Módulo de bar escolar: validación de QR, procesamiento de compras y recargas de monedero."
  - name: Utils
    description: "Utilidades generales."
  - name: Triggers
    description: "Funciones background disparadas por cambios en Firestore. Sin endpoint HTTP directo. Solo referencia."
  - name: Scheduled
    description: "Funciones que corren en horario automático (Cloud Scheduler). Sin endpoint HTTP directo. Solo referencia."
  - name: DevTools
    description: |
      Herramientas de desarrollo e integración. Facilitan pruebas desde Postman, Swagger UI, curl
      o cualquier cliente HTTP sin SDK de Firebase. No forman parte del flujo de usuario final.

paths:
  # ────────────────────────────────────────────────────────────────────────────────
  # AUTH
  # ────────────────────────────────────────────────────────────────────────────────
  /setUserCustomClaims:
    post:
      tags: [Auth]
      summary: "Asignar companyId y rol (custom claims) a un usuario"
      description: |
        Asigna los custom claims `companyId` y `role` a un usuario de Firebase Auth existente.
        Estos claims quedan disponibles en el JWT en requests posteriores.

        **Permisos:**
        - `admin` puede gestionar usuarios de su propia empresa únicamente.
        - `super_admin` puede gestionar cualquier usuario y asignar el rol `super_admin`.
        - Ningún otro rol puede llamar esta función.

        **Efectos secundarios:** actualiza `companies/{companyId}/users/{targetUid}` y `users/{targetUid}` en Firestore.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SetUserCustomClaimsRequest'
      responses:
        '200':
          description: Claims asignados correctamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SetUserCustomClaimsResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /setupFirstAdmin:
    post:
      tags: [Auth]
      summary: "Crear el primer super_admin (bootstrap inicial)"
      description: |
        Crea el primer usuario `super_admin` del sistema. Solo funciona cuando no existe
        ningún super_admin en la colección `users`. Una vez creado el primer super_admin,
        esta función devuelve `ALREADY_EXISTS`.

        **IMPORTANTE:** Esta función no requiere autenticación (bootstrap). Debe deshabilitarse
        después de la configuración inicial del sistema.

        **Efectos secundarios:** crea el usuario en Firebase Auth, asigna claims `role: super_admin`,
        y escribe el documento en `users/{uid}`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SetupFirstAdminRequest'
      responses:
        '200':
          description: Super admin creado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SetupFirstAdminResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '409':
          description: Ya existe un super admin (ALREADY_EXISTS).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # DEVTOOLS — Autenticación rápida para pruebas e integraciones
  # ────────────────────────────────────────────────────────────────────────────────
  /getAuthToken:
    post:
      tags: [DevTools]
      summary: "Obtener Firebase ID Token a partir de email + password"
      description: |
        Endpoint HTTP (no callable) para obtener un Firebase ID Token sin necesidad
        del SDK de Firebase. Diseñado para pruebas rápidas desde Postman, Swagger UI,
        curl o cualquier cliente HTTP, y para sistemas externos (Spring Boot, scripts,
        CI/CD) que necesitan autenticarse.

        **Flujo:**
        1. Envía `{ email, password }` en el body.
        2. La función llama a la Firebase Auth REST API y retorna el `idToken`.
        3. Usa el `idToken` en el header `Authorization: Bearer <idToken>` en todas
           las llamadas a las Cloud Functions callable.

        **Nota:** El token expira en 1 hora (3600 segundos). Puedes guardarlo y
        reutilizarlo hasta su expiración.

        **Nota de seguridad:** Este endpoint es una herramienta de desarrollo.
        Para producción, usar el SDK de Firebase en el cliente.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAuthTokenRequest'
            examples:
              admin:
                summary: "Login como admin de empresa"
                value:
                  email: "admin@miempresa.com"
                  password: "contraseña123"
              superadmin:
                summary: "Login como super_admin"
                value:
                  email: "superadmin@facturasec.com"
                  password: "contraseña123"
      responses:
        '200':
          description: "Token generado correctamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthTokenResponse'
              example:
                idToken: "eyJhbGciOiJSUzI1NiIsImtpZCI6..."
                expiresIn: "3600"
                tokenType: "Bearer"
                uid: "aBcDeFgH123"
                companyId: "empresa-xyz-001"
                role: "admin"
                usage: "Agrega el idToken en el header: Authorization: Bearer <idToken>"
        '400':
          description: "Email o password faltante."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "INVALID_ARGUMENT" }
                  message: { type: string, example: "email es requerido." }
        '401':
          description: "Credenciales incorrectas."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "INVALID_CREDENTIALS" }
                  message: { type: string, example: "Email o contraseña incorrectos." }
        '403':
          description: "Usuario deshabilitado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "USER_DISABLED" }
                  message: { type: string }
        '429':
          description: "Demasiados intentos fallidos."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "TOO_MANY_ATTEMPTS" }
                  message: { type: string }
        '500':
          description: "Error interno."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "INTERNAL" }
                  message: { type: string }

  # ────────────────────────────────────────────────────────────────────────────────
  # INVOICES — createAndEmitInvoice (puerta de entrada para sistemas externos)
  # ────────────────────────────────────────────────────────────────────────────────
  /createAndEmitInvoice:
    post:
      tags: [Invoices]
      summary: "Crear y emitir factura electrónica desde un sistema externo"
      description: |
        **Función puente para sistemas externos** (Flutter, Spring Boot, ERPs, Zapier, etc.)
        que necesitan emitir facturas electrónicas sin acceso directo a Firestore.

        Acepta el payload completo de la factura, crea el documento en Firestore con el
        secuencial correcto, y dispara automáticamente el pipeline SRI completo:
        `XML → firma XAdES-BES → SRI → PDF RIDE → email`.

        ### Modos de operación

        **Modo async (recomendado):**
        Retorna `{ invoiceId, status: 'processing' }` inmediatamente.
        Luego hacer polling con `checkSriStatus` hasta obtener `authorized` o `rejected`.

        **Modo sync:**
        Espera hasta que el SRI responda. Retorna el resultado completo en una sola llamada.
        Útil para integraciones simples. Riesgo de timeout si el SRI tarda más de `syncTimeoutMs`.

        ### Idempotencia
        Si se envía el campo `externalId`, la función es idempotente: si ya existe un documento
        con ese `externalId` para el mismo `companyId`, retorna ese documento sin crear uno nuevo.

        ### Seguridad multi-tenant
        El `companyId` se valida contra el claim del token JWT. Un usuario no puede emitir
        facturas en nombre de una empresa diferente a la suya.

        ### Cálculo automático de totales
        No es necesario calcular `subtotal`, `vatAmount` ni `total` — la función los calcula
        automáticamente desde `quantity`, `unitPrice`, `discountPct` y `vatPct` de cada línea.

        ### Polling con checkSriStatus (modo async)
        ```
        POST /checkSriStatus
        { "data": { "invoiceId": "<invoiceId>", "companyId": "<companyId>" } }
        ```
        Consultar cada 2-3 segundos hasta que `sriStatus` sea `authorized` o `rejected`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/CreateAndEmitInvoiceRequest'
            examples:
              flutter_async:
                summary: "Desde Flutter — modo async (recomendado)"
                value:
                  data:
                    companyId: "empresa-xyz-001"
                    externalId: "flutter-inv-2026-001"
                    source: "flutter_app"
                    mode: "async"
                    date: "2026-09-03"
                    customer:
                      taxId: "1712345678"
                      taxIdType: "CI"
                      name: "Juan Pérez"
                      email: "juan@email.com"
                    lines:
                      - sku: "SERV-001"
                        description: "Servicio de consultoría"
                        quantity: 2
                        unitPrice: 100.00
                        vatPct: 15
                    paymentMethods:
                      - code: "01"
                        amount: 230.00
              spring_boot_sync:
                summary: "Desde Spring Boot — modo sync"
                value:
                  data:
                    companyId: "empresa-xyz-001"
                    externalId: "buseta-factura-20260903-001"
                    source: "buseta_backend"
                    mode: "sync"
                    syncTimeoutMs: 45000
                    date: "2026-09-03"
                    customer:
                      taxId: "0912345678001"
                      taxIdType: "RUC"
                      name: "EMPRESA CLIENTE S.A."
                      email: "contabilidad@cliente.com"
                      address: "Av. Patria 123, Quito"
                    lines:
                      - sku: "RUTA-001"
                        description: "Servicio de transporte urbano — Ruta Norte"
                        quantity: 1
                        unitPrice: 200.00
                        vatPct: 15
                      - sku: "RUTA-002"
                        description: "Servicio de transporte urbano — Ruta Sur"
                        quantity: 1
                        unitPrice: 150.00
                        vatPct: 0
                    paymentMethods:
                      - code: "19"
                        amount: 230.00
              consumidor_final:
                summary: "Consumidor Final (sin identificación)"
                value:
                  data:
                    companyId: "empresa-xyz-001"
                    mode: "async"
                    customer:
                      taxId: "9999999999999"
                      taxIdType: "CONSUMIDOR_FINAL"
                      name: "CONSUMIDOR FINAL"
                    lines:
                      - description: "Producto varios"
                        quantity: 3
                        unitPrice: 10.00
                        vatPct: 15
      responses:
        '200':
          description: "Factura creada. Pipeline SRI iniciado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/CreateAndEmitInvoiceResponse'
              examples:
                async_processing:
                  summary: "Respuesta modo async"
                  value:
                    result:
                      invoiceId: "Kj8mN2pQrT4w"
                      fullNumber: "001-001-000000042"
                      status: "processing"
                      message: "Factura creada. Use checkSriStatus({ invoiceId, companyId }) para consultar el resultado."
                sync_authorized:
                  summary: "Respuesta modo sync — SRI autorizó"
                  value:
                    result:
                      invoiceId: "Kj8mN2pQrT4w"
                      fullNumber: "001-001-000000042"
                      status: "authorized"
                      accessKey: "0309202601179012345678001120010010000000421234567812"
                      authorizationNumber: "0309202601179012345678001120010010000000421234567812"
                      pdfUrl: "https://storage.googleapis.com/facturasproec.appspot.com/companies/.../pdf/Kj8mN2pQrT4w.pdf"
                duplicate:
                  summary: "Respuesta de duplicado (mismo externalId)"
                  value:
                    result:
                      invoiceId: "Kj8mN2pQrT4w"
                      fullNumber: "001-001-000000042"
                      status: "authorized"
                      isDuplicate: true
        '400':
          description: "Payload inválido."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
              examples:
                missing_lines:
                  value:
                    error:
                      status: "INVALID_ARGUMENT"
                      message: "lines debe ser un arreglo con al menos un elemento."
                invalid_vat:
                  value:
                    error:
                      status: "INVALID_ARGUMENT"
                      message: "lines[0].vatPct debe ser 0, 5 o 15. Recibido: 12"
        '401':
          description: "No autenticado."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: "Sin permisos para operar en esa empresa."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: "Empresa no encontrada."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '412':
          description: "Empresa sin configuración SRI completa (establishment/emissionPoint faltante)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: "Error interno."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # TENANTS
  # ────────────────────────────────────────────────────────────────────────────────
  /setupCompany:
    post:
      tags: [Tenants]
      summary: "Crear una nueva empresa (tenant) con datos por defecto"
      description: |
        Llamada por `super_admin` para crear un nuevo tenant. Lee los datos por defecto de
        `platform/defaults` y los copia a la empresa. Si no existen datos en platform, usa
        valores hardcodeados como fallback.

        **Crea en Firestore:**
        - `companies/{companyId}` — documento principal
        - `companies/{companyId}/configuration/sri` — configuración SRI
        - `companies/{companyId}/configuration/general` — configuración general
        - `companies/{companyId}/warehouses/*` — bodegas
        - `companies/{companyId}/taxRates/*` — tasas de impuesto
        - `companies/{companyId}/paymentTerms/*` — condiciones de pago
        - `companies/{companyId}/documentSeries/*` — series de documentos
        - `companies/{companyId}/currencies/*` — monedas
        - `companies/{companyId}/countries/*` — países
        - `companies/{companyId}/roles/*` — roles de empresa (seller, accountant, cashier, read_only)
        - `companies/{companyId}/company-users/{adminUid}` — si se proporciona adminPassword

        Si se proporciona `adminPassword`, también crea el usuario en Firebase Auth y asigna claims `role: admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SetupCompanyRequest'
      responses:
        '200':
          description: Empresa creada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SetupCompanyResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos (requiere super_admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '409':
          description: El email corporativo ya está registrado como usuario (ALREADY_EXISTS).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /assignPlanToCompany:
    post:
      tags: [Tenants]
      summary: "Asignar un plan a una empresa existente"
      description: |
        Solo `super_admin`. Lee el plan de `/plans/{planId}`, calcula los `enabledModules`
        (unión del plan + paquetes adicionales ya habilitados), y desnormaliza
        `planLimits`, `planFeatures` y `enabledModules` en el documento de la empresa.
        También calcula y actualiza `subscriptionEnd` basado en el `billingPeriod` del plan
        (monthly=30 días, yearly=365 días).
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/AssignPlanToCompanyRequest'
      responses:
        '200':
          description: Plan asignado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/AssignPlanToCompanyResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos (requiere super_admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: Plan o empresa no encontrados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /checkPlanLimit:
    post:
      tags: [Tenants]
      summary: "Verificar si una empresa ha alcanzado un límite de su plan"
      description: |
        Cualquier usuario autenticado puede llamar esta función.
        Consulta el documento de la empresa y (para límites basados en uso) el documento
        `companies/{companyId}/usage/{YYYY-MM}` para comparar el uso actual vs el límite del plan.

        **Convenciones de respuesta:**
        - `limit = -1` → ilimitado, siempre `allowed: true`
        - `limit = 0` → deshabilitado, siempre `allowed: false`
        - `limit > 0` → `allowed = current < limit`
        - Si la empresa no tiene `planLimits` (empresa legacy), devuelve `allowed: true` sin bloquear.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/CheckPlanLimitRequest'
      responses:
        '200':
          description: Resultado de la verificación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/CheckPlanLimitResponse'
        '400':
          description: Argumento inválido o limitType no reconocido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: Empresa no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # INVOICES / SRI
  # ────────────────────────────────────────────────────────────────────────────────
  /uploadCertificate:
    post:
      tags: [Invoices]
      summary: "Subir certificado de firma electrónica .p12"
      description: |
        Valida el certificado .p12 con node-forge (parsea el archivo, extrae el certificado X.509,
        verifica que no esté vencido, valida el RUC contra el subject si está configurado).
        Guarda el .p12 en Cloud Storage en `companies/{companyId}/certificates/signing.p12`
        y actualiza los campos `sri.certificate*` en el documento de la empresa.

        **Permisos:** `admin` de la empresa o `super_admin`.

        **ADVERTENCIA DE SEGURIDAD:** La contraseña del certificado se almacena en Firestore
        para que las funciones de firma puedan accederla en tiempo de ejecución sin exposición
        al frontend.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/UploadCertificateRequest'
      responses:
        '200':
          description: Certificado validado y guardado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/UploadCertificateResponse'
        '400':
          description: Certificado inválido, contraseña incorrecta o certificado vencido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: Empresa no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateInvoiceXml:
    post:
      tags: [Invoices]
      summary: "Generar XML SRI de una factura (paso 1/4 del pipeline)"
      description: |
        Lee la factura de Firestore, lee la configuración SRI de la empresa y genera el XML
        según la Ficha Técnica SRI v2.32. Calcula la clave de acceso de 49 dígitos con el
        dígito verificador por módulo 11. Soporta IVA 15%, 5%, 0% y exento.

        El XML se sube a Cloud Storage en `companies/{companyId}/xml/{invoiceId}.xml`
        y se actualiza `sriStatus: 'xml_generated'` en el documento de la factura.

        **Normalmente llamado automáticamente por `onInvoiceEmit` trigger.**
        También puede llamarse manualmente para reprocesar.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateInvoiceXmlRequest'
      responses:
        '200':
          description: XML generado y subido a Storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateInvoiceXmlResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno (factura no encontrada, empresa sin configuración SRI, error de Storage).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateCreditNoteXml:
    post:
      tags: [CreditNotes]
      summary: "Generar XML SRI de una nota de crédito (paso 1/4)"
      description: |
        Lee el documento de nota de crédito (almacenado en `companies/{companyId}/invoices/` con
        `isCreditNote=true`) y genera el XML `<notaCredito>` según la Ficha Técnica SRI v2.32
        (codDoc=04). El XML se sube a `companies/{companyId}/xml/cn-{creditNoteId}.xml`.

        **Requiere que la nota de crédito tenga `isCreditNote=true`, de lo contrario retorna error.**

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateCreditNoteXmlRequest'
      responses:
        '200':
          description: XML de nota de crédito generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateCreditNoteXmlResponse'
        '400':
          description: Argumento inválido o documento no es nota de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /signXml:
    post:
      tags: [Invoices]
      summary: "Firmar XML con XAdES-BES usando el certificado .p12 de la empresa (paso 2/4)"
      description: |
        Descarga el XML sin firmar de Storage, descarga el certificado .p12 de Storage,
        lee la contraseña desde Firestore (campo `sri.certificatePassword` en el documento
        de la empresa), y aplica la firma XAdES-BES (XML Advanced Electronic Signatures –
        Basic Electronic Signature) según los requisitos del SRI Ecuador.

        El XML firmado se guarda en `companies/{companyId}/xml/{invoiceId}-signed.xml`.

        Para notas de crédito, el trigger `onInvoiceEmit` llama esta función con el
        nombre de archivo `cn-{invoiceId}.xml`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SignXmlRequest'
      responses:
        '200':
          description: XML firmado y guardado en Storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SignXmlResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno (XML no encontrado, certificado no encontrado, error de firma).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /sendToSri:
    post:
      tags: [Invoices]
      summary: "Enviar documento firmado al SRI mediante SOAP (paso 3/4)"
      description: |
        Función unificada para todos los tipos de documentos electrónicos.
        Descarga el XML firmado de Storage, lo convierte a Base64 y lo envía al
        web service SOAP del SRI (`RecepcionComprobantesOffline`). Implementa retry
        con backoff exponencial (3 intentos: 1s, 2s, 4s).

        Tras recepción exitosa (`RECIBIDA`), espera 5 segundos y consulta la autorización
        (`AutorizacionComprobantesOffline`) con 1 reintento a los 5s.

        Los endpoints del SRI se leen de `platform/defaults/sriConfig/data`; si no existe,
        usa las URLs por defecto hardcodeadas (testing/producción).

        **Actualiza en Firestore:** `sriStatus`, `authorizationNumber`, `authorizedAt`, `sriError`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SendToSriRequest'
      responses:
        '200':
          description: Resultado del envío al SRI (puede ser authorized, rejected o pending).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SendToSriResponse'
        '400':
          description: Argumento inválido o documentType no reconocido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /checkSriStatus:
    post:
      tags: [Invoices]
      summary: "Consultar el estado de autorización en el SRI en tiempo real"
      description: |
        Consulta directamente el WS SOAP del SRI (`AutorizacionComprobantesOffline`)
        usando la clave de acceso almacenada en el documento. Actualiza el estado en
        Firestore si el SRI devuelve AUTORIZADO o NO AUTORIZADO.

        Útil para documentos en estado `pending` que quedaron sin respuesta de autorización.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/CheckSriStatusRequest'
      responses:
        '200':
          description: Estado de autorización del SRI.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/CheckSriStatusResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: Documento no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '503':
          description: Error de red al consultar el SRI (UNAVAILABLE).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generatePdf:
    post:
      tags: [Invoices]
      summary: "Generar PDF RIDE de una factura (paso 4/4)"
      description: |
        Genera el Representación Impresa del Documento Electrónico (RIDE) de una factura
        usando PDFKit. Incluye QR code de la clave de acceso.
        El PDF se guarda en `companies/{companyId}/pdf/{invoiceId}.pdf` y se actualiza
        `pdfUrl` en el documento de la factura.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GeneratePdfRequest'
      responses:
        '200':
          description: PDF generado y subido a Storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GeneratePdfResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /sendInvoiceEmail:
    post:
      tags: [Invoices]
      summary: "Enviar factura autorizada por email al cliente"
      description: |
        Envía un email HTML con los datos de la factura y links de descarga al email
        del cliente (`invoice.customerEmail`). Solo funciona si `sriStatus === 'authorized'`.

        Si la factura no tiene email de cliente registrado, devuelve `{ sent: false, to: '' }`
        sin error.

        El email se envía via SMTP configurado en los secrets del proyecto.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SendInvoiceEmailRequest'
      responses:
        '200':
          description: Email enviado o skipped (sin email de cliente).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SendInvoiceEmailResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno (factura no autorizada o error SMTP).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateCreditNotePdf:
    post:
      tags: [CreditNotes]
      summary: "Generar PDF RIDE de una nota de crédito"
      description: |
        Genera el RIDE de la nota de crédito. El PDF incluye los datos del comprobante
        modificado (factura original) y el motivo de la nota. Se guarda en
        `companies/{companyId}/pdf/cn-{creditNoteId}.pdf`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateCreditNotePdfRequest'
      responses:
        '200':
          description: PDF generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateCreditNotePdfResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /sendCreditNoteEmail:
    post:
      tags: [CreditNotes]
      summary: "Enviar nota de crédito autorizada por email"
      description: |
        Envía email con los datos de la nota de crédito al cliente. El email se resuelve
        primero desde `personas/{customerId}`, y si no existe, desde `invoice.customerEmail`.

        Solo funciona si `sriStatus === 'authorized'`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SendCreditNoteEmailRequest'
      responses:
        '200':
          description: Email enviado o skipped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SendCreditNoteEmailResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # RETENTIONS
  # ────────────────────────────────────────────────────────────────────────────────
  /generateRetentionXml:
    post:
      tags: [Retentions]
      summary: "Generar XML SRI de un comprobante de retención (codDoc=07)"
      description: |
        Genera el XML `<comprobanteRetencion>` versión 2.0.0 según la Ficha Técnica SRI v2.32.
        Los impuestos van dentro de `<docsSustento><docSustento><retenciones>`.
        El XML se sube a `companies/{companyId}/xml/ret-{retentionId}.xml`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateRetentionXmlRequest'
      responses:
        '200':
          description: XML de retención generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateRetentionXmlResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateRetentionPdf:
    post:
      tags: [Retentions]
      summary: "Generar PDF RIDE de un comprobante de retención"
      description: |
        Genera el RIDE del comprobante de retención con tabla de impuestos retenidos.
        Se guarda en `companies/{companyId}/pdf/ret-{retentionId}.pdf`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateRetentionPdfRequest'
      responses:
        '200':
          description: PDF de retención generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateRetentionPdfResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /sendRetentionEmail:
    post:
      tags: [Retentions]
      summary: "Enviar comprobante de retención autorizado por email al proveedor"
      description: |
        Envía el comprobante de retención al proveedor. El email del proveedor se resuelve
        desde `companies/{companyId}/personas/{supplierId}` (campos `email` o `primaryEmail`),
        con fallback a `retention.supplierEmail`.

        Solo funciona si `sriStatus === 'authorized'`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SendRetentionEmailRequest'
      responses:
        '200':
          description: Email enviado o skipped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SendRetentionEmailResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # DEBIT NOTES
  # ────────────────────────────────────────────────────────────────────────────────
  /generateDebitNoteXml:
    post:
      tags: [DebitNotes]
      summary: "Generar XML SRI de una nota de débito (codDoc=05)"
      description: |
        Genera el XML `<notaDebito>` según la Ficha Técnica SRI v2.32. El XML se sube a
        `companies/{companyId}/xml/dn-{debitNoteId}.xml`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateDebitNoteXmlRequest'
      responses:
        '200':
          description: XML de nota de débito generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateDebitNoteXmlResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateDebitNotePdf:
    post:
      tags: [DebitNotes]
      summary: "Generar PDF RIDE de una nota de débito"
      description: |
        Genera el RIDE de la nota de débito con tabla de motivos. Se guarda en
        `companies/{companyId}/pdf/dn-{debitNoteId}.pdf`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/GenerateDebitNotePdfRequest'
      responses:
        '200':
          description: PDF de nota de débito generado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GenerateDebitNotePdfResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /sendDebitNoteEmail:
    post:
      tags: [DebitNotes]
      summary: "Enviar nota de débito autorizada por email al cliente"
      description: |
        Envía el email de la nota de débito. El email del cliente se resuelve desde
        `companies/{companyId}/personas/{customerId}` (campos `email` o `primaryEmail`),
        con fallback a `debitNote.customerEmail`.

        Solo funciona si `sriStatus === 'authorized'`.

        **Permisos:** usuario de la empresa o `super_admin`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/SendDebitNoteEmailRequest'
      responses:
        '200':
          description: Email enviado o skipped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SendDebitNoteEmailResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  # ────────────────────────────────────────────────────────────────────────────────
  # ACCOUNTING
  # ────────────────────────────────────────────────────────────────────────────────
  /closeAccountingPeriod:
    post:
      tags: [Accounting]
      summary: "Cerrar un período contable y generar el asiento de cierre"
      description: |
        Agrega todos los asientos `status='posted'` del período, identifica las cuentas
        de ingresos (grupo 4) y gastos (grupo 5), y crea el asiento de cierre que salda
        estas cuentas contra Utilidad/Pérdida del ejercicio (cuentas 3.3.02.001 / 3.3.02.002).

        El período se actualiza a `status: 'closed'`. Si el período no tiene movimientos,
        cierra sin asiento de cierre.

        **Validaciones:**
        - El período debe existir y tener `status: 'open'`.
        - El asiento de cierre debe cuadrar (débito = crédito). Si no cuadra, devuelve INTERNAL.

        **Efectos secundarios:** crea `companies/{companyId}/journal_entries/{entryId}`,
        actualiza `companies/{companyId}/accounting_periods/{periodId}`.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/CloseAccountingPeriodRequest'
      responses:
        '200':
          description: Período cerrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/CloseAccountingPeriodResponse'
        '400':
          description: Argumento inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '404':
          description: Período no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '428':
          description: El período no está abierto (FAILED_PRECONDITION).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno (asiento descuadrado).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /runDepreciationForMonth:
    post:
      tags: [Accounting]
      summary: "Ejecutar depreciación manual para un mes específico"
      description: |
        Permite al usuario ejecutar la depreciación de activos fijos desde el frontend
        para un mes y año concretos. Usa la misma lógica que el scheduled
        `runMonthlyDepreciation`.

        **Idempotente:** si ya existe un asiento de depreciación para ese mes y empresa,
        devuelve `skipped: true` sin crear duplicados.

        El caller debe pertenecer a la empresa (`callerCompanyId === companyId`).

        **Efectos secundarios:** crea `journal_entry` de tipo `depreciation`, actualiza
        `accumulatedDepreciation`, `remainingValue` y `lastDepreciationMonthKey` en cada activo.
      security:
        - FirebaseIdToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/RunDepreciationForMonthRequest'
      responses:
        '200':
          description: Depreciación procesada o skipped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/RunDepreciationForMonthResponse'
        '400':
          description: Argumento inválido (month fuera de rango, year no entero, companyId vacío).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '401':
          description: No autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '403':
          description: Sin permisos (el caller no pertenece a la empresa).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'
        '500':
          description: Error interno.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallableError'

  /generateOpeningEntry:
    post:
      tags: [Accounting]
      summary: "Generar asiento de apertura para un nuevo ejercicio contable"
      description: |
        Lee los saldos de las cuentas de Balance General (grupos 1, 2, 3) del período
        anterior (`year - 1`, estado `closed` o `locked`) y crea el asiento de apertura
        para el nuevo período.

        **Validaciones:**
        - `newPeriodId` debe existir con `status: 'open'` y sin `openingEntryId` ya asignado.
[...]
