.btn {
    font-size: 10px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.card-title {
  font-size: 16px !important;
}

.text-info-methd-payment {
  color: gray;
  font-size: 16px;
}
.col-content-products {
  border: 2px solid gray;
  border-radius: 10px;

}
.col-content-category {
  background-color: #fff;
  position: relative;
  top: -20px;
  left: 10px;
}
.font-category {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}