<div class="main-content">
    <div class="container-fluid-body">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12">
                <!-- /// *** OJO no negar *** -->
                
                <div class="row p-4 m-0 justify-content-center text-center" *ngIf="!provider.provider_state_method">
                    <span class="text-info-methd-payment"> <i class="nc-icon nc-alert-circle-i text-warning"></i>
                        <br>
                        Estimado proveedor, aún no cuenta con un método de pago asociado a su cuenta, para
                        culminar con el proceso de registro deberá agregar un método de pago.</span>
                    <button class="btn btn-sm btn-info mt-2" data-toggle="modal"
                        data-target="#myModaldetailPaymentMethod"> Agregar método de pago</button>
                </div>
                <hr *ngIf="!provider.provider_state_method">
                <form #formProvider="ngForm" novalidate
                    (ngSubmit)="updateProvider(formProvider.value, formProvider.valid)">
                    <div class="card-header ">
                        <h4 class="card-title">Bienvenido(a) {{provider.provider_name_contact}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row m-0 ">
                            <div class="col-md-4">
                                <div class="">
                                    <label class="control-label" for="provider_image">Subir un logo:</label>
                                    <div class="col-sm-12 text-center p-2 m-0">
                                        <div class="fileinput fileinput-new text-center border-dashed"
                                            data-provides="fileinput">
                                            <div *ngIf="!provider.provider_image && !previe_url_image  "
                                                class="thumbnail-xs avatar">
                                                <img class="avatar" src="./assets/img/icons/gallery.png"
                                                    alt="provider_image">
                                            </div>
                                            <div *ngIf="previe_url_image &&  provider.provider_image"
                                                class="thumbnail-xs avatar">
                                                <img class="avatar" src="{{previe_url_image}}"
                                                    alt="provider_image">
                                            </div>
                                            <div *ngIf="previe_url_image &&  !provider.provider_image"
                                                class="thumbnail-xs avatar">
                                                <img class="avatar" src="{{previe_url_image}}"
                                                    alt="provider_image">
                                            </div>
                                            <div class=" thumbnail-xs avatar"
                                                *ngIf="provider.provider_image && !previe_url_image ">
                                                <img class="avatar" src="{{provider.provider_image}}"
                                                    alt="provider_image">
                                            </div>
                                            <div>
                                                <span class="btn btn-rose btn-file btn-primary btn-block">
                                                    <span class=""
                                                        *ngIf="!provider.provider_image && !previe_url_image">
                                                        Seleccionar imagen
                                                    </span>
                                                    <span *ngIf="provider.provider_image || previe_url_image">
                                                        Cambiar la imagen
                                                    </span>
                                                    <input accept="image/*" type="file" id="provider_image"
                                                        name="provider_image " (change)="fileProgress($event)" />
                                                </span>
                                            </div>
                                        </div>
                                        <p class="text-white p-mini">
                                            Para una experiencia más profesional y reconocible,
                                            sube el logotipo de tu establecimiento.
                                            Esto ayudará a que padres y estudiantes 
                                            identifiquen fácilmente tu bar en la plataforma.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div hidden class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div *ngIf="!provider.provider_image && !previe_url_image  " class="thumbnail">
                                            <img src="./assets/img/image_placeholder.jpg" alt="provider_image">
                                        </div>
                                        <div *ngIf="previe_url_image &&  provider.provider_image" class="thumbnail">
                                            <img src="{{previe_url_image}}" alt="provider_image">
                                        </div>
                                        <div *ngIf="previe_url_image &&  !provider.provider_image" class="thumbnail">
                                            <img src="{{previe_url_image}}" alt="provider_image">
                                        </div>
                                        <!-- <div  class="fileinput-preview  thumbnail"></div> -->
                                        <div class=" thumbnail" *ngIf="provider.provider_image && !previe_url_image ">
                                            <img src="{{provider.provider_image}}" alt="provider_image">

                                        </div>
                                        <div>
                                            <span class="btn btn-rose btn-file">
                                                <span class="fileinput-new "
                                                    *ngIf="!provider.provider_image && !previe_url_image">
                                                    Seleccionar imagen
                                                </span>
                                                <span *ngIf="provider.provider_image">Cambiar</span>
                                                <input accept="image/*" type="file" id="provider_image"
                                                    name="provider_image" (change)="fileProgress($event)" />
                                            </span>
                                            <a href="javascript:void(0)" class="btn btn-danger" data-dismiss="fileinput"
                                                *ngIf="provider.provider_image" (click)="deleteFile()"><i
                                                    class="fa fa-times"></i>
                                                Eliminar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group has-label">
                                    <div class="row m-0 align-items-center ">
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_id">Id del proveedor:
                                                <span class="star">*</span>
                                            </label>
                                            <input readonly type="text" class="form-control" name="provider_id" id="provider_id"
                                                [(ngModel)]="provider.provider_id" required #provider_id="ngModel">
                                            <small
                                                [hidden]="provider_id.valid || (provider_id.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Id es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_name">Nombre:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_name" id="provider_name"
                                                [(ngModel)]="provider.provider_name" required #provider_name="ngModel">
                                            <small
                                                [hidden]="provider_name.valid || (provider_name.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Nombre es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_surname">Apellido:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_surname" id="provider_surname"
                                                [(ngModel)]="provider.provider_surname" required
                                                #provider_surname="ngModel">
                                            <small
                                                [hidden]="provider_surname.valid || (provider_surname.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Apellido es requerido.
                                            </small>
                                        </div>

                                    </div>


                                </div>

                                <div class="form-group has-label">
                                    <div class="row m-0 align-items-center  justify-content-center ">
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_email">Email:
                                                <span class="star">*</span>
                                            </label>
                                            <input readonly type="email" class="form-control" name="provider_email" id="provider_email"
                                                [(ngModel)]="provider.provider_email" required #provider_email="ngModel"
                                                pattern="^[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$">
                                            <small
                                                [hidden]="provider_email.valid || (provider_email.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Email es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_address">Dirección:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_address" id="provider_address"
                                                [(ngModel)]="provider.provider_address" required
                                                #provider_address="ngModel">
                                            <small
                                                [hidden]="provider_address.valid || (provider_address.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Dirección es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_name_contact">Nombre de contacto:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_name_contact" id="provider_name_contact"
                                                [(ngModel)]="provider.provider_name_contact" required
                                                #provider_name_contact="ngModel">
                                            <small
                                                [hidden]="provider_name_contact.valid || (provider_name_contact.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Nombre de contacto es requerido .
                                            </small>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group has-label">
                                    <div class="row m-0 align-items-start  justify-content-start ">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="provider_ruc">Ruc/CI del bar:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_ruc" id="provider_ruc"
                                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                [(ngModel)]="provider.provider_ruc" required #provider_ruc="ngModel">
                                            <small
                                                [hidden]="provider_ruc.valid || (provider_ruc.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Ruc es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label" for="provider_business_name">Razón social del bar:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="provider_business_name" id="provider_business_name"
                                                [(ngModel)]="provider.provider_business_name" required
                                                #provider_business_name="ngModel">
                                            <small
                                                [hidden]="provider_business_name.valid || (provider_business_name.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Razón social es requerido .
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group has-label">
                                    <div class="row m-0 align-items-start  justify-content-start ">

                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_phone">Teléfono:
                                                <span class="star">*</span>
                                            </label>
                                            <input
                                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                type="text" pattern="[0-9]+" class="form-control" name="provider_phone" id="provider_phone"
                                                [(ngModel)]="provider.provider_phone" required
                                                #provider_phone="ngModel">
                                            <small
                                                [hidden]="provider_phone.valid || (provider_phone.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Teléfeno es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="provider_id_school">Id de la U.E.:
                                                <span class="star">*</span>
                                            </label>
                                            <input readonly type="number" class="form-control" name="provider_id_school" id="provider_id_school"
                                                [(ngModel)]="provider.provider_id_school" required
                                                #provider_id_school="ngModel">
                                            <small
                                                [hidden]="provider_id_school.valid || (provider_id_school.pristine && !formProvider.submitted)"
                                                class="text-danger">
                                                Id de Escuela es requerido .
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="text-white">
                                                {{school.school_name}}
                                            </h4>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="category"> <span class="star">*</span> Campos obligatorios.</div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
                <hr>
                <div class="row m-3  align-items-center justify-content-center">
                    <div class="col-sm-12 p-2 col-content-products ">
                        <div
                            class="col-lg-6 col-md-6 col-6 p-0 col-content-category  d-flex justify-content-center pl-0  d-flex justify-content-center align-items-center">
                            <h3 class=" mb-0 font-category ">Configuración de mi cuenta de Paymentez</h3>
                        </div>
                        <div class="row m-0 justify-content-center">
                            <div class="col-sm-12">
                                <i class="fa fa-info-circle"></i>
                                Para poder cobrar con tarjeta a tus clientes necesitas configurar las credenciales
                                de tu cuenta de Paymentez
                            </div>
                        </div>
                        <hr>
                        <form #formConfig="ngForm" novalidate
                            (ngSubmit)="saveConfigPaymentez(formConfig.value, formConfig.valid)">
                            <div class="row m-0">
                                <div class="col-sm-6">
                                    <label class="control-label" for="provider_NAME_EC_CLIENT">NOMBRE EC-CLIENT:
                                        <span class="star">*</span>
                                    </label>
                                    <!-- provider_TPP3_EC_CLIENT -->
                                    <input type="text" class="form-control" name="provider_NAME_EC_CLIENT" id="provider_NAME_EC_CLIENT"
                                        [(ngModel)]="provider.provider_NAME_EC_CLIENT" required
                                        placeholder="NOMBRE-EC-CLIENT" #provider_NAME_EC_CLIENT="ngModel">
                                    <small
                                        [hidden]="provider_NAME_EC_CLIENT.valid || (provider_NAME_EC_CLIENT.pristine && !formProvider.submitted)"
                                        class="text-danger">
                                        Campo obligatorio.
                                    </small>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="provider_KEY_EC_CLIENT">KEY EC-CLIENT:
                                        <span class="star">*</span>
                                    </label>
                                    <!-- provider_TPP3_EC_SERVER -->
                                    <input type="text" class="form-control" name="provider_KEY_EC_CLIENT" id="provider_KEY_EC_CLIENT"
                                        [(ngModel)]="provider.provider_KEY_EC_CLIENT" required
                                        placeholder="KEY-EC-CLIENT" #provider_KEY_EC_CLIENT="ngModel">
                                    <small
                                        [hidden]="provider_KEY_EC_CLIENT.valid || (provider_KEY_EC_CLIENT.pristine && !formProvider.submitted)"
                                        class="text-danger">
                                        Campo obligatorio requerido.
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-0">
                                <div class="col-sm-6">
                                    <label class="control-label" for="provider_NAME_EC_SERVER">NOMBRE EC-SERVER:
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="provider_NAME_EC_SERVER" id="provider_NAME_EC_SERVER"
                                        [(ngModel)]="provider.provider_NAME_EC_SERVER" required
                                        placeholder="NAME-EC-SERVER" #provider_NAME_EC_SERVER="ngModel">
                                    <small
                                        [hidden]="provider_NAME_EC_SERVER.valid || (provider_NAME_EC_SERVER.pristine && !formProvider.submitted)"
                                        class="text-danger">
                                        Campo obligatorio.
                                    </small>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="provider_KEY_EC_SERVER">KEY EC-SERVER:
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="provider_KEY_EC_SERVER" id="provider_KEY_EC_SERVER"
                                        [(ngModel)]="provider.provider_KEY_EC_SERVER" required
                                        placeholder="KEY-EC-SERVER" #provider_KEY_EC_SERVER="ngModel">
                                    <small
                                        [hidden]="provider_KEY_EC_SERVER.valid || (provider_KEY_EC_SERVER.pristine && !formProvider.submitted)"
                                        class="text-danger">
                                        Campo obligatorio requerido.
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div class="row m-0">
                                <div class="col-sm-4 pt-3">
                                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!provider.provider_state_method" #myModaldetailPaymentMethod class="modal fade"
    id="myModaldetailPaymentMethod" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h4 class="title title-up">Ingresa la Tarjeta</h4>
            </div>
            <div class="modal-body">
                <iframe id="videoContainer" width="100%" height="430" [src]="urlByAddPayment" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>