.btn-outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    align-items: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    gap: 0.5rem;
}

.btn-outline:hover {
    background-color: var(--primary) !important;
    color: #fff;
    border-color: var(--primary);
}

.btn-primary {
    border: 1px solid var(--primary);
    color: #fff;
    align-items: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    gap: 0.5rem;
}

.p-info {
    color: var(--primary);
    font-size: 25px;
    font-weight: bold;
}

.p-details {
    font-size: 14px;
}

.p-title {
    font-size: 18px !important;
}

.numbers {
    font-size: 22px !important;
}

.icon-big {
    height: 100px !important;
}

.icon-white {
    height: 80px !important;
    width: 80px;
    margin: 0 auto;
}

.h-1 {
    line-height: 1;
}





.credit-card {
    /* background: linear-gradient(135deg, var(--bgLightTwo), var(--bgLight)); */
    /* degradado púrpura */
    background: linear-gradient(135deg, #4A00E0, #8E2DE2); /* degradado púrpura */
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.credit-card:hover {
    /* transform: scale(1.01); */
}

.credit-card .card-category {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9;
}

.credit-card h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}

.credit-card .card-number {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 15px;
}

.credit-card .card-logo img {
    width: 60px;
    height: auto;
}

.credit-card .row {
    align-items: center;
}

.card-stats {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    /* background-color: #3e3e3e; */
}

.card-body.credit-card {
    min-height: 150px;
}

.btn.btn-danger.btn-sm i {
    pointer-events: none;
}

.btn-option {
    /* position: absolute; */
    right: 10px;
    top: 2px;
    z-index: 1;
}