.table-bordered {
  border: none !important;
}

.table-bordered td,
.table-bordered th {
  border: none !important;
  color: #ffffff;
}

.table-bordered tr {
  /* border-top: 0.5px solid var(--bgLightTwo) !important; */
  border-bottom: 0.5px solid var(--bgLightTwo) !important;
  color: #ffffff;
}

::ng-deep .mat-header-row {
  background-color: var(--bgLightTwo);
  border-radius: 20px !important;
}

::ng-deep .mat-header-cell {
  color: #ffffff !important;
  /* Texto blanco */
  border-left: none !important;
  border-right: none !important;
}

.mat-header-cell:first-child {
  border-top-left-radius: 12px;
  overflow: hidden;
}

.mat-header-cell:last-child {
  border-top-right-radius: 12px;
  overflow: hidden;
}

::ng-deep .mat-paginator {
  background-color: var(--bgLightTwo);
  ;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  margin-top: 0;
}

/* Aplica color blanco a los textos, inputs e íconos del datepicker */

::ng-deep .mat-form-field-infix {
  padding: 0.5em 0;
  color: #fff !important;
  border-top: 0 !important;
}

/* Ícono del datepicker */
::ng-deep .mat-datepicker-toggle-default-icon {
  width: 2.5em !important;
  color: #fff !important;
}

/* Estado activo del ícono */
::ng-deep .mat-datepicker-toggle-default-icon:active {
  border: none !important;
  background-color: transparent !important;
}

/* Texto de los inputs del rango */
::ng-deep .mat-date-range-input input {
  color: #fff !important;
}

/* Fecha seleccionada en el calendario */
::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary) !important;
  color: #fff !important;
}

/* Fecha activa (hover o focus) */
::ng-deep .mat-calendar-body-active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Fondo del campo de formulario deshabilitado */
::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: transparent !important;
}

/* Estilo general del input con fondo transparente y texto blanco */
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0 !important;
  align-items: center !important;
  color: #fff !important;
}

/* Ícono en el sufijo del campo */
::ng-deep .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  margin: auto;
  margin-bottom: 15px !important;
  color: #fff !important;
}

/* Color del texto de los inputs de inicio y fin */
::ng-deep .mat-date-range-input-start-wrapper .mat-date-range-input-inner,
::ng-deep .mat-date-range-input-end-wrapper .mat-date-range-input-inner {
  color: #fff !important;
}

/* Placeholder blanco */
::ng-deep .mat-input-element::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

::ng-deep .mat-form-field-disabled .mat-date-range-input-separator {
  color: rgba(255, 255, 255, 0.6) !important;
}

/* ************************************************** */
.modal-dialog {
  min-width: 90%;
}

.img-voucher {
  width: 190px;
  height: auto;
  border: 2px solid #ffffff33;
  transition: transform 0.3s ease;
}

