<div class="main-content">
    <div class="container-fluid p-0" >
        <div class="row" class="collapse multi-collapse " id="multiCollapseGroup">
            <div class="col-sm-12 p-0" >
                <div class="card">
                    <form #formGroup="ngForm" novalidate (ngSubmit)="saveGroup(formGroup.value, formGroup.valid , formGroup)">

                        <div class="card-header ">
                            <h4 class="card-title">{{isEditGroup ? 'Editar' : 'Nuevo'}} Grupo.</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group has-label">
                                <div class="row m-0 w-100 align-items-center justify-content-center  ">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="">Código:
                                            <span class="star">*</span>
                                        </label>
                                        <input readonly type="text" class="form-control" name="group_code"
                                            [(ngModel)]="group.group_code" required #group_code="ngModel">
                                        <small
                                            [hidden]="group_code.valid || (group_code.pristine && !formGroup.submitted)"
                                            class="text-danger">
                                            Código es requerido.
                                        </small>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label" for="">Nombre:
                                            <span class="star">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="group_name"
                                            [(ngModel)]="group.group_name" required #group_name="ngModel" >
                                        <small
                                            [hidden]="group_name.valid || (group_name.pristine && !formGroup.submitted)"
                                            class="text-danger">
                                            Nombre es requerido.
                                        </small>
                                    </div>
                                   
                                    <div class="col-sm-5" *ngIf="array_lines" >
                                        <label class="control-label" for="">Seleccionar categoría:
                                            <span class="star">*</span>
                                        </label>
                                        <div class="btn-group  w-100">
                                            <select [(ngModel)]="group.group_line" name="group_line" id="group_line" class="form-control w-100" data-size="7"  title="Single Select">
                                              <option disabled selected>Seleccione </option>
                                              <option *ngFor="let line of array_lines" [value]="line.category_id">{{line.category_name}}</option>
                                            </select>
                                          </div>
                                    </div>
                                    
                                </div>

                            </div>
                            <div class="form-group has-label">
                                <div class="row m-0">
                                    <div class="col-sm-3">
                                        <label class="control-label" for="">Estado:
                                            <span class="star">*</span>
                                        </label>
                                        <br>
                                        <bSwitch name="group_state" [(ngModel)]="group.group_state"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>
                                    <div class="col-sm-4 d-flex align-items-end justify-content-center p-0">
                                        <div class="row m-0 w-100 justify-content-end align-items-end ">
                                            <div class="col-6 p-0 d-flex align-items-end mt-3">
                                                <button type="submit"
                                                    class="btn btn-primary text-btn-form">Registrar</button>
                                            </div>
                                            <div class="col-6 p-0 d-flex align-items-end mt-3">
                                                <button type="button" (click)="cancelViewForm()"
                                                    class="btn btn-danger text-btn-form">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            </div>


                            <div class="category"> <span class="star">*</span> Campos requeridos</div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
        <!-- LISTA - Lineas -->
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 p-0 ">
                            <div class="row m-0">
                                <div class="col-sm-6 d-flex justify-content-start">
                                    <div>
                                        <button class="btn btn-primary" (click)="newGroup()">Nuevo Grupo</button>

                                    </div>
                                </div>
                                <div class="col-sm-6 p-0 d-flex justify-content-end">
                                    <!-- <div class="container"> -->
                                    <mat-form-field>
                                        <!-- <mat-label>Filter</mat-label> -->
                                        <mat-label>Buscar</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" class=" input-search-table" #input>
                                    </mat-form-field>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <div class="col-12 p-0 w-100">

                                <table #table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 table-reponsive table-bordered"
                                    style="min-width: 100%;">
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef
                                            class="text-center title-table">
                                            Código </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <span>{{row.group_code
                                                |
                                                slice:6}}</span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef
                                            class="text-center title-table">
                                            Nombre </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <span>{{row.group_name}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef 
                                            class="text-center title-table">
                                            Estado </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <i *ngIf="row.group_state" class="fa fa-check text-primary"
                                                aria-hidden="true"></i>
                                            <i *ngIf="!row.group_state" class="fa fa-times text-danger"
                                                aria-hidden="true"></i>

                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="line">
                                        <th mat-header-cell *matHeaderCellDef 
                                            class="text-center title-table">
                                            Categoría </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <span>{{row.group_line_name}}</span>

                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                            Editar
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <i class="fa fa-pencil-square cursor-pointer text-warning btn-functions  cursor-pointer"
                                                aria-hidden="true" (click)="editGroup(row)"></i>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                            Eliminar
                                        </th>
                                        <td mat-cell *matCellDef="let row" class="text-center">
                                            <i class="fa fa-trash text-danger cursor-pointer btn-functions cursor-pointer "
                                                aria-hidden="true" type="button" (click)="deleteGroup(row)"></i>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                </table>
                                <!-- [pageSizeOptions]="[10, 50]"-->
                                <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableGroups showFirstLastButtons></mat-paginator>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div> 
    </div>
</div>
