.single_features .features_content .features_title {
    font-size: 24px;
    font-weight: 600;
    color: #3A424E;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sub-title {
    font-weight: bold;
    display: block;
    margin-left: 2rem;
}

.bg-green {
  /* background-image: url('../../../assets/img/bgFour.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Opacidad del fondo */
}