<div class="wrapper wrapper-full-page bg-green text-white">
	<div class="overlay"></div>
	<div class="pt-5">
		<section id="features" class="features_area">
			<div class="container p-2">
				<div class="row card justify-content-center p-4 mb-4">
					
					<div class="col-sm-12 mb-4">
						<div class="single_features mt-30 features_4 text-justify wow fadeInUp" data-wow-duration="1.3s"
							data-wow-delay="0.2s">
							<div [innerHTML]="countrySelected.countryPrivacity"></div>
							<br>
							<br>
							<br>
							<div [innerHTML]="countrySelected.countryTermsAndConditions"></div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>