.login-page {
  /* background-image: url('../../../assets/img/bgFour.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Opacidad del fondo */
}

.card-title {
    font-size: 18px !important;
    /* color: var(--primary) !important; */
}

.btn-outline {
    border: 1px solid var(--red);
    background-color: white;
    color: var(--red);
    align-items: center;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
    text-decoration: none !important;
    text-transform: none;
}

.btn-outline:hover {
    background-color: var(--red) !important;
    color: #fff;
    border: 1px solid var(--red);
}

.span-primary {
    color: #4880FF;
    font-weight: bold;
}