<div class="row w-100 login-page m-0 p-0 align-items-center">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-lock text-center w-100 container-fluid-body">
      <div class="card-body">
        <h4 class="card-title mt-4 m-0 p-0">Bienvenido a <span class="span-primary">Tu</span>BarAmigo
        </h4>
        <h5 class="text-white m-0 p-0">Gestiona tus compras y las de tus hijos de forma rápida y sencilla</h5>
        <!-- <h4 class="card-title mt-4 m-0 p-0">INICIAR SESIÓN</h4> -->
        <h5 class="text-white m-0 p-0">Por favor ingrese su email y contraseña para continuar</h5>
        <form autocomplete="off" #loginForm="ngForm" class="form-login w-100 p-4" novalidate
          (ngSubmit)="onLogin(loginForm.value, loginForm.valid)">
          <div class="text-left text-white">
            <div class="">
              <label for="user_email text-white">Correo electrónoico</label>
              <input autocomplete="new-email" placeholder="Email" type="email" placeholder="Email"
                class="form-control m-0" name="user_email" [(ngModel)]="user.user_email" required #user_email="ngModel"
                pattern="^[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$">
              <small [hidden]="user_email.valid || (user_email.pristine && !loginForm.submitted)" class="text-danger">
                Email inválido.
              </small>
            </div>

            <div class="mt-3">
              <label for="user_password">Contraseña</label>
              <input autocomplete="new-password" type="password" placeholder="Contraseña" class="form-control m-0"
                name="user_password" [(ngModel)]="user.user_password" required minlength="6" #user_password="ngModel">
              <small [hidden]="user_password.valid || (user_password.pristine && !loginForm.submitted)"
                class="text-danger">
                Ingrese contraseña.
              </small>
            </div>
          </div>
          <div class="row w-100 text-center align-items-center justify-content-center m-0 p-0 mt-3">
            <div class="col-sm-12 cursor-pointer m-0 p-0">
              <button type="submit" class="btn btn-fill btn-block btn-wd btn-login btn-primary">
                Iniciar sesión
              </button>
            </div>

            <div class="col-12">
              <h5 class="text-white">
                No tienes una cuenta?
                <a href="http://">Crear cuenta</a>
              </h5>
            </div>

            <div class="col-sm-12 cursor-pointer m-0 p-0 mt-4">
              <button type="button" class="btn btn-block btn-danger">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>