<div class="row w-100 login-page m-0 p-0 align-items-center">
      <div class="overlay"></div>

  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-lock text-center w-100 container-fluid-body">
      <div class="card-body">
        <h4 class="card-title mt-4 m-0 p-0">Bienvenido a <span class="span-primary">i</span>Move
        </h4>
        <h5 class="text-white m-0 p-0">Por favor ingrese su email y contraseña para continuar</h5>
        <form autocomplete="off" #loginForm="ngForm" class="form-login w-100 p-4" novalidate
          (ngSubmit)="onLogin(loginForm.value, loginForm.valid)">
          <div class="text-left text-white">
            <div class="">
              <label for="userEmail text-white">Correo electrónoico</label>
              <input autocomplete="new-email" placeholder="Email" type="email" placeholder="Email"
                class="form-control m-0" name="userEmail" [(ngModel)]="user.userEmail" required #userEmail="ngModel"
                pattern="^[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$">
              <small [hidden]="userEmail.valid || (userEmail.pristine && !loginForm.submitted)" class="text-danger">
                Email inválido.
              </small>
            </div>

            <div class="mt-3">
              <label for="userPassword">Contraseña</label>
              <input autocomplete="new-password" type="password" placeholder="Contraseña" class="form-control m-0"
                name="userPassword" [(ngModel)]="user.userPassword" required minlength="6" #userPassword="ngModel">
              <small [hidden]="userPassword.valid || (userPassword.pristine && !loginForm.submitted)"
                class="text-danger">
                Ingrese contraseña. 
              </small>
            </div>
          </div>
          <div class="row w-100 text-center align-items-center justify-content-center m-0 p-0 mt-3">
            <div class="col-sm-12 cursor-pointer m-0 p-0">
              <button type="submit" class="btn btn-fill btn-block btn-wd btn-login btn-primary">
                Iniciar sesión
              </button>
            </div>

            <div class="col-12">
              <h5 class="text-white">
                No tienes una cuenta?
                <a href="http://">Crear cuenta</a>
              </h5>
            </div>

            <div class="col-sm-12 cursor-pointer m-0 p-0 mt-4">
              <button type="button" class="btn btn-block btn-danger" (click)="cancel()">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>