<div class="main-content">
    <app-loading></app-loading>

    <div class="row m-0 p-0 w-100">
        <div class="col-sm-4">
            <div class="card card-stats border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="fa fa-upload text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">
                                    Importar categorías de ALMA
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button (click)="importData()" class="btn btn-success btn-fill btn-block"><i
                                    class="fa fa-file-excel-o"></i>
                                Importar .csv
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-8 m-0 p-0 text-white">
            <div class="form-check">
                <div class="form-check">
                    <label class="form-check-label">
                        <input (ngModelChange)="selectedOnlyMain($event)" required class="form-check-input"
                            type="checkbox" value="" name="viewAll" id="viewAll" [(ngModel)]="viewAll"
                            #userAcceptContracts="ngModel">
                        Filtrar principales
                        <span class="form-check-sign"></span>
                    </label> <br>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-0 p-0">
            <div class="card card-stats container-fluid-body">
                <div class="card-body">
                    <div class="row">

                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total de categorías</p>
                                <p class="card-title mt-4 mb-5">
                                    {{ arrayCategory.length }}
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center bg-purple-dark p-3 mx-0">
                                <img src="../../../../assets/img/icons/users.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" (click)="newCategories()">Nuevo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 w-100">
        <div class="row w-100 m-0 p-0 mt-2 container-fluid-body">
            <div class="col-12 p-0 w-100 container-fluid-body m-0 p-0 table-responsive">
                <table mat-table matSort [dataSource]="dataSource"
                    class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
                    style="min-width: 100%;">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Código
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                            <span>
                                {{i+1}}
                                <!-- #{{row.categoriesCode | slice:6}} -->
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.categoriesName}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Descripción
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.categoriesDescription}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Estado
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span *ngIf="row.categoriesState" class="state-order btn btn-success btn-sm m-0 ml-2">
                                Activa
                            </span>
                            <span *ngIf="!row.categoriesState" class="state-order btn btn-danger btn-sm m-0 ml-2">
                                Inactiva
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="statusCange">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Cambiar estado
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <bSwitch name="categoriesIsPremium" [(ngModel)]="row.categoriesState"
                                (ngModelChange)="onPremiumChange($event, row)" [switch-on-color]="'primary'"
                                [switch-off-color]="'primary'" [switch-off-text]="'&#x2715;'" 
                                [switch-on-text]="'&#x2714;'">
                            </bSwitch>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Editar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span (click)="editCategories(row)" class="state-order btn btn-primary btn-sm m-0 ml-2">
                                Editar
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Eliminar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span (click)="deleteUser(row)" class="state-order btn btn-danger btn-sm m-0 ml-2">
                                Eliminar
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableProviders showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>


<!-- *** Modal New User *** -->
<div class="modal fade" id="modalNewCategories" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid-body">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h4 class="card-title">
                    {{ isEdit ? "Actualizar" : "Nueva" }}
                    Categoría
                </h4>
            </div>
            <div class="modal-body">
                <form #formCategories="ngForm" novalidate
                    (ngSubmit)="saveCategories(formCategories.valid, formCategories)">
                    <div class="row w-100 m-0 p-0">
                        <div class="col-6 col-sm-6 col-md-3">
                            <div class="col-sm-12 text-center">
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div *ngIf="!categories.categoriesIcon && !previewImage" class="thumbnail">
                                        <img src="../../../../assets/img/early/logoPlaceholder.jpeg"
                                            alt="categoriesIcon" />
                                    </div>
                                    <div *ngIf="previewImage && categories.categoriesIcon" class="thumbnail">
                                        <img src="{{ previewImage }}" alt="categoriesIcon" />
                                    </div>
                                    <div *ngIf="previewImage && !categories.categoriesIcon" class="thumbnail">
                                        <img src="{{ previewImage }}" alt="categoriesIcon" />
                                    </div>
                                    <div class="thumbnail" *ngIf="categories.categoriesIcon && !previewImage">
                                        <img src="{{ categories.categoriesIcon }}" alt="categoriesIcon" />
                                    </div>
                                    <div>
                                        <span class="btn btn-rose btn-file">
                                            <span class="fileinput-new"
                                                *ngIf="!categories.categoriesIcon && !previewImage">Seleccionar
                                                imagen</span>
                                            <span *ngIf="categories.categoriesIcon || previewImage">Cambiar</span>
                                            <input accept="image/jpg, image/jpeg, image/png" type="file"
                                                id="categoriesIcon" name="categoriesIcon"
                                                (change)="fileProgress($event)" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-9">
                            <div class="form-group has-label">
                                <div class="row w-100 m-0 p-0 mb-3 p-3 border">
                                    <input readonly type="hidden" class="form-control" name="categoriesId"
                                        placeholder="Id" [(ngModel)]="categories.categoriesId" required
                                        #categoriesId="ngModel" />

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Código
                                        </label>
                                        <input type="text" class="form-control" name="categoriesCode"
                                            placeholder="Código" [(ngModel)]="categories.categoriesCode" required
                                            #categoriesCode="ngModel" />
                                        <small
                                            [hidden]="categoriesCode.valid || (categoriesCode.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Categoría
                                        </label>
                                        <input type="text" class="form-control" name="categoriesName"
                                            placeholder="Categoría" [(ngModel)]="categories.categoriesName" required
                                            #categoriesName="ngModel" />
                                        <small
                                            [hidden]="categoriesName.valid || (categoriesName.pristine && !formCategories.submitted)"
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Descripción
                                        </label>
                                        <input type="text" class="form-control" name="categoriesTickets"
                                            [(ngModel)]="categories.categoriesDescription" required
                                            #categoriesTickets="ngModel" pattern="" placeholder="Descripción" />
                                        <small
                                            [hidden]="categoriesTickets.valid || (categoriesTickets.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Type
                                        </label>
                                        <input type="text" class="form-control" name="categoriesType"
                                            [(ngModel)]="categories.categoriesType"
                                            #categoriesType="ngModel" pattern="" placeholder="Descripción" />
                                        <small
                                            [hidden]="categoriesType.valid || (categoriesType.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Precio (Si aplica y es servicio)
                                        </label>
                                        <input type="text" class="form-control" name="categoriesPrice"
                                            [(ngModel)]="categories.categoriesPrice"
                                            #categoriesPrice="ngModel" pattern="" placeholder="Precio (Si aplica y es servicio)" />
                                        <small
                                            [hidden]="categoriesPrice.valid || (categoriesPrice.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Nro de pasajeros
                                        </label>
                                        <input type="text" class="form-control" name="categoriesNumberOfPassengers"
                                            [(ngModel)]="categories.categoriesNumberOfPassengers"
                                            #categoriesNumberOfPassengers="ngModel" pattern="" placeholder="Nro de pasajeros" />
                                        <small
                                            [hidden]="categoriesNumberOfPassengers.valid || (categoriesNumberOfPassengers.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Nro de maletas
                                        </label>
                                        <input type="text" class="form-control" name="categoriesNumberOfLuggage"
                                            [(ngModel)]="categories.categoriesNumberOfLuggage"
                                            #categoriesNumberOfLuggage="ngModel" pattern="" placeholder="Nro de equipajes" />
                                        <small
                                            [hidden]="categoriesNumberOfLuggage.valid || (categoriesNumberOfLuggage.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>



                                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3 text-center">
                                        <label class="control-label" for="">Estado:
                                            <span class="star">*</span>
                                        </label>
                                        <br />
                                        <bSwitch name="categoriesState" [(ngModel)]="categories.categoriesState"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-3 text-center">
                                        <label class="control-label" for="">Principal:
                                            <span class="star">*</span>
                                        </label>
                                        <br />
                                        <bSwitch name="categoriesIsMain" [(ngModel)]="categories.categoriesIsMain"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-12 col-lg-12 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Categoría madre
                                        </label>
                                        <select *ngIf="!categories.categoriesIsMain" class="form-control"
                                            name="categoriesParent" id="categoriesParent"
                                            [(ngModel)]="categories.categoriesParent" #categoriesParent="ngModel"
                                            required>
                                            <option [selected]="true" value="">
                                                Seleccione
                                            </option>
                                            <option *ngFor="let category of arrayCategory"
                                                [value]="category.categoriesId">
                                                {{ category.categoriesName }}
                                            </option>

                                        </select>
                                        <small
                                            [hidden]="categoriesTickets.valid || (categoriesTickets.pristine && !formCategories.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div> 
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3 text-center">
                                        <label class="control-label" for="">Permite seleccion multiple:
                                            <span class="star">*</span>
                                        </label>
                                        <br />
                                        <bSwitch name="categoriesAllowsMultipleSelection" [(ngModel)]="categories.categoriesAllowsMultipleSelection"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3 text-center">
                                        <label class="control-label" for="">Es Premium:
                                            <span class="star">*</span>
                                        </label>
                                        <br />
                                        <bSwitch name="categoriesIsPremium" [(ngModel)]="categories.categoriesIsPremium"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3">
                                        <button type="submit" class="btn btn-primary text-btn-form btn-block">
                                            {{ isEdit ? "Actualizar" : "Guardar" }}
                                        </button>
                                        <div class="category">
                                            <span class="star">*</span> Campos requeridos
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3">
                                        <button type="button" (click)="cancelViewForm(formCategories)"
                                            class="btn btn-danger text-btn-form btn-block">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- *** #Modal New User *** -->

<!-- Modal from import Users -->
<!-- <div class="modal" id="modalImportCategory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <i class="glyphicon glyphicon-import"></i>&nbsp;
                    Importar contenido
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <form class="form" enctype="multipart/form-data">
                            <p class="help-block">
                                Por favor seleccione un archivo .csv (<a target="blank"
                                    href="../../../../assets/doc/PlantillaUsers.csv">descargar plantilla</a>)
                            </p>

                            <div>
                                <span class="btn btn-rose btn-file">
                                    <span class="fileinput-new ">
                                        Seleccionar csv
                                    </span>
                                    <input accept="file/csv" type="file" id="importUsersByCompany"
                                        name="importUsersByCompany" (change)="readExcel($event)" />
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                        <p class="">
                            Procesar información
                        </p>
                        <button type="button" class="btn btn-primary" (click)="saveDataImports()">
                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp; Guardar
                        </button>
                    </div>

                </div>

                <input type="button" id="fileExport" hidden="true" />
                <table class="table table-hover table-bordered" *ngIf="data.length">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th class="text-center">C. Madre</th>
                            <th class="text-center">Categoría</th>
                            <th class="text-center">Frase</th>
                            <th class="text-center">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of data; let i = index">
                            <th>{{i + 1}}</th>
                            <td *ngFor="let cell of row">{{ cell }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer p-4">
                <button type="button" class="btn btn-primary" (click)="saveDataImports()">
                    <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp; Guardar
                </button>
            </div>
        </div>
    </div>
</div> -->
<!-- #Modal from import data -->