<div class="main-content">
  <app-loading></app-loading>

    <div class="container-fluid p-0">
        <!-- *** tarjetas para mostrar datos de estudiantes *** -->
        <div *ngIf='!showFormAddStudents' class="row w-100 m-0 p-0">
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 m-0 p-1" *ngFor="let student of arrayStudents, let i = index">
                <div class="card card-stats container-fluid-body m-0 p-0">
                    <div class="card-body m-0 p-0 w-100 mx-0 text-center">
                        <!-- *** imagen de perfil *** -->
                        <div class="bg-purple-dark-img m-0 p-0 pt-4 w-100 text-center">
                            <div *ngIf="student.student_img" class="avatar m-0 mx-0"
                                [ngStyle]="student.student_img ? {'background-image': 'url(' + student.student_img + ')', 'background-size': 'cover', 'background-position': 'center'} : ''">
                            </div>
                            <img *ngIf="!student.student_img" class="avatar opacity img-student mb-5"
                                src="../../../../assets/img/icons/gallery.png" alt="imagen del estudiante">
                        </div>
                        <!-- *** Btn para editar studiante *** -->
                        <button type="button" (click)="selectedStudent(student)"
                            class="btn btn-secundary btn-icon-mini p-0 cursor-pointer">
                            <i class="fa fa-pencil-square icon-edit" aria-hidden="true"></i>
                        </button>
                        <h3 class="name p-0 m-0 mt-5 pt-4">
                            {{student.student_name}} {{student.student_lastname}}
                        </h3>
                        <h4 class="email p-0 m-0 mb-4">
                            {{student.student_email}}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <!-- *** Opciones *** -->
                        <div class="row w-100 m-0 p-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center p-1 m-0 mb-2">
                                <button class="btn btn-outline text-center" (click)="viewProviders(student)">
                                    <img src="../../../../assets/img/icons/shoppingCart.png"
                                        class="icon-mini mr-1 mx-0 " alt="icono editar" />
                                    Comprar
                                </button>
                                <!-- <button class="btn btn-outline text-center" (click)="viewProviderss(student)">
                                    <img src="../../../../assets/img/icons/shoppingCart.png"
                                        class="icon-mini mr-1 mx-0 " alt="icono editar" />
                                    Comprars
                                </button> -->
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center p-1 m-0 mb-2">
                                <button class="btn btn-outline text-center" (click)="viewOrdersByStudent(student)">
                                    <img src="../../../../assets/img/icons/shoppingBag.png"
                                        class="icon-mini mr-1 mx-0  " alt="icono editar" />
                                    Ordenes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 m-0 p-1">
                <div class="card card-stats container-fluid-body m-0 p-0">
                    <div class="card-body m-0 p-0 w-100 mx-0 text-center">
                        <!-- *** imagen de perfil *** -->
                        <div class="bg-purple-dark-img m-0 p-0 pt-4 w-100 text-center">
                            <img class="border-dashed avatar-null img-student m-4"
                                src="../../../../assets/img/icons/gallery.png" alt="imagen del estudiante">
                        </div>

                        <h3 class="name p-0 m-0 mt-5 pt-4">
                            Aquí puedes agregar nuevos
                        </h3>
                        <h4 class="email p-0 m-0 mb-4">
                            estudiantes
                        </h4>
                    </div>
                    <div class="card-footer">
                        <!-- *** Opciones *** -->
                        <div class="row w-100 m-0 p-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-1 m-0 mb-2">
                                <button class="btn btn-outline text-center" (click)='addStudent()'>
                                    <img src="../../../../assets/img/icons/shoppingCart.png"
                                        class="icon-mini mr-1 mx-0 " alt="icono editar" />
                                    Agregar nuevo estudiante
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf='showFormAddStudents' class="row w-100 m-0 p-0">
            <div class="col-12 m-0 p-0">
                <div class="card card-user container-fluid-body m-0 p-0">
                    <div class="card-body">
                        <div class="row m-0 p-0 w-100">
                            <div class="col-12 update ml-auto mr-auto">
                                <div class="badge badge-secondary border-none btn-block p-4">
                                    {{!isEdit ? 'Nuevo estudiante' : 'Editar perfil / ' + student.student_name}} 
                                    <button type="button" (click)="addStudent()"
                                        class="btn btn-danger btn-close cursor-pointer">
                                        cancelar
                                        <!-- <i class="nc-icon nc-simple-remove text-white"></i> -->
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form #formStudent="ngForm" novalidate
                            (ngSubmit)="saveStudent(formStudent.value, formStudent.valid, formStudent)">
                            <div class="row m-0 p-0 w-100">
                                <div class="col-md-3">
                                    <div class="">
                                        <label class="control-label" for="">Subir foto (Opcional):</label>
                                        <div class="col-sm-12 text-center p-2 m-0">
                                            <div class="fileinput fileinput-new text-center border-dashed"
                                                data-provides="fileinput">
                                                <div *ngIf="!student.student_img && !previe_url_image  "
                                                    class="thumbnail-xs avatar">
                                                    <img src="./assets/img/icons/gallery.png"
                                                        alt="student_image">
                                                </div>
                                                <div *ngIf="previe_url_image &&  student.student_img"
                                                    class="thumbnail-xs avatar">
                                                    <img src="{{previe_url_image}}" alt="student_image">
                                                </div>
                                                <div *ngIf="previe_url_image &&  !student.student_img"
                                                    class="thumbnail-xs avatar">
                                                    <img src="{{previe_url_image}}" alt="student_image">
                                                </div>
                                                <div class="thumbnail-xs avatar"
                                                    *ngIf="student.student_img && !previe_url_image">
                                                    <img src="{{student.student_img}}" alt="student_image">
                                                </div>
                                                <div>
                                                    <span class="btn btn-rose btn-file btn-primary btn-block">
                                                        <span class=""
                                                            *ngIf="!student.student_img && !previe_url_image">
                                                            Seleccionar imagen
                                                        </span>
                                                        <span
                                                            *ngIf="student.student_img || previe_url_image">
                                                            Cambiar la imagen
                                                        </span>
                                                        <input accept="image/*" type="file" id="student_image "
                                                            name="student_image "
                                                            (change)="fileProgress($event)" />
                                                    </span>
                                                </div>
                                            </div>
                                            <p class="text-white p-mini">
                                                Para una experiencia más segura y personalizada,
                                                sube una foto tipo carné de tu hijo/a.
                                                Así, el personal del bar podrá reconocerlo
                                                fácilmente al momento de comprar
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row m-0 p-0 w-100">
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Nombre del estudiante:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control mb-0" name="student_name"
                                                [(ngModel)]="student.student_name" required #student_name="ngModel"
                                                placeholder="Nombre del estudiante">
                                            <small
                                                [hidden]="student_name.valid || (student_name.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Por favor, ingrese el nombre del estudiante
                                            </small>
                                        </div>
                                        <div class=" col-md-4">
                                            <label class="control-label" for="">Apellido del estudiante:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="student_lastname"
                                                [(ngModel)]="student.student_lastname" required
                                                #student_lastname="ngModel" placeholder="Apellido del estudiante">
                                            <small
                                                [hidden]="student_lastname.valid || (student_lastname.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Por favor, ingrese el apellido del estudiante
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Identificación:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control"
                                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                name="student_identification"
                                                [(ngModel)]="student.student_identification" required
                                                #student_identification="ngModel" placeholder="Identificación">
                                            <small
                                                [hidden]="student_identification.valid || (student_identification.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Por favor, ingrese la identificación
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Email (usado para inicio de
                                                sesión):
                                                <span class="star">*</span>
                                            </label>
                                            <input autocomplete="off" type="email" class="form-control"
                                                name="student_email" [(ngModel)]="student.student_email" required
                                                #student_email="ngModel"
                                                pattern="^[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$"
                                                title="Por favor, ingrese un correo electrónico válido."
                                                placeholder="Email (valor usado para inicio de sesión)">
                                            <small
                                                [hidden]="student_email.valid || (student_email.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Por favor, ingrese un email valido
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Contraseña:
                                                <span class="star">*</span>
                                            </label>

                                            <input type="password" placeholder="Contraseña" class="form-control"
                                                name="student_password" [(ngModel)]="student.student_password" required
                                                minlength="6" #student_password="ngModel">
                                            <small
                                                [hidden]="student_password.valid || (student_password.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Ingrese Contraseña
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Confirmar Contraseña:
                                                <span class="star">*</span>
                                            </label>

                                            <input type="password" placeholder="Confirmar Contraseña"
                                                class="form-control" name="student_password_confirm"
                                                [(ngModel)]="student.student_password_confirm" required minlength="6"
                                                #student_password_confirm="ngModel">
                                            <small
                                                [hidden]="student_password_confirm.valid || (student_password_confirm.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Ingrese Contraseña
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">
                                                Fecha de nacimiento:
                                            </label>
                                            <input type="date" class="form-control" name="student_date_of_birth"
                                                required [(ngModel)]="student.student_date_of_birth"
                                                #student_date_of_birth="ngModel">
                                            <small
                                                [hidden]="student_date_of_birth.valid || (student_date_of_birth.pristine && !formStudent.submitted)"
                                                class="text-danger">
                                                Fecha de nacimiento requerida
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Seleccione el género:</label>
                                            <div class="btn-group  w-100">
                                                <mat-select [(ngModel)]="student.student_gender" name="student_gender"
                                                    id="group_line" class="form-control white-text-select pt-2"
                                                    data-size="7" title="" required>
                                                    <mat-option disabled value="">Seleccione</mat-option>
                                                    <mat-option *ngFor="let gender of array_gender" [value]="gender">
                                                        {{gender}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">
                                                Seleccione el nivel:
                                            </label>
                                            <div class="btn-group w-100">
                                                <mat-select name="student_level" placeholder="Seleccione"
                                                    class="form-control white-text-select pt-2"
                                                    (selectionChange)="selectLevel($event)"
                                                    [(ngModel)]="student.student_level">
                                                    <mat-option disabled value="">Seleccione</mat-option>
                                                    <mat-option *ngFor="let level of levels" [value]="level.level_id">
                                                        {{level.level_name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="">Seleccione el paralelo:
                                            </label>
                                            <div class="btn-group  w-100">
                                                <mat-select name="student_parallel" placeholder="Seleccione"
                                                    class="form-control white-text-select pt-2"
                                                    [(ngModel)]="student.student_parallel">
                                                    <mat-option disabled value="">Seleccione</mat-option>
                                                    <mat-option *ngFor="let parallel of parallels"
                                                        [value]="parallel.parallel_id">
                                                        {{parallel.parallel_name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <label class="control-label mb-3" for="">Estado del estudinte
                                                ({{student.student_state ? 'ACTIVO' : 'INACTIVO'}}):
                                            </label>
                                            <br>
                                            <bSwitch class="mx-0" [disabled]="!isEdit" name="group_state"
                                                [(ngModel)]="student.student_state" [switch-on-color]="'primary'"
                                                [switch-off-color]="'primary'" [switch-off-text]="'&#x2715;'"
                                                [switch-on-text]="'&#x2714;'">
                                            </bSwitch>
                                        </div>
                                        <div class="col-md-4 text-center pt-3">
                                            <button type="submit" class="btn btn-primary btn-block mt-4">
                                                <!-- si no está editando muestra el botón guardar, en caso
                                                        contrario muestra el botón editar -->
                                                {{!isEdit ? 'Guardar' : 'Editar'}}
                                            </button>
                                        </div>
                                    </div>
                                    <div hidden class="row m-0 p-0 w-100">
                                        <div class="update ml-auto mr-auto">
                                            <button type="submit"
                                                class="btn btn-block {{showFormAddStudents ? 'btn-danger' : 'btn-primary'}} "
                                                (click)='addStudent()'>
                                                {{showFormAddStudents ? 'Cancelar' : 'Agregar estudiante'}}
                                                <i
                                                    class="{{showFormAddStudents ? 'fa fa-close' : 'nc-icon nc-simple-add'}} "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='!showFormAddStudents' class="row w-100 m-0 p-0">
        <!-- *** numero de estudiantes *** -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-0 p-1">
            <div class="card card-stats container-fluid-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total de estudiantes</p>
                                <p class="card-title mt-4 mb-5">
                                    {{ arrayStudents.length }}
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center bg-purple-dark p-3 mx-0">
                                <img src="../../../../assets/img/icons/users.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white mb-3">Nro de estudiantes agregados</p>
                </div>
            </div>
        </div>

        <!-- *** numero de ordenes *** -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-0 p-1">
            <div class="card card-stats container-fluid-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total de ordenes</p>
                                <p class="card-title mt-4 mb-5">
                                    {{ arrayStudents.length }}
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center bg-yellow-dark p-3 mx-0">
                                <img src="../../../../assets/img/icons/product.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white">
                        <img src="../../../../assets/img/icons/up.png" class="icon-mini" alt="">
                        <span class="text-green">1.3%</span> Más que la semana pasada
                    </p>
                </div>
            </div>
        </div>

        <!-- *** numero de ordenes pendientes por entregar *** -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-0 p-1">
            <div class="card card-stats container-fluid-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Ordenes pendientes</p>
                                <p class="card-title mt-4 mb-5">
                                    {{ arrayStudents.length }}
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center bg-green-dark p-3 mx-0">
                                <img src="../../../../assets/img/icons/grafic.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white">
                        <img src="../../../../assets/img/icons/down.png" class="icon-mini" alt="">
                        <span class="text-red">1.3%</span> Aun no se han entregado
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>