.cursor-pointer {
    cursor: pointer;
}
.img-wrapper {
    width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }

.img-row {
  max-width: 60px;
  width: 60px; 
}

.content-image {
    background-color: rgb(153, 153, 153);
}

.modal-content {
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
}

.card-user .card-body {
    min-height: 280px;
}

.modal-header { 
    border-bottom: none !important;
}