<div class="main-content">
    <div class="container-fluid p-0">
        <!-- LISTA - LISTA ESTUDIANTES -->
        <div class="row m-0">
            <div class="col-sm-12 p-0">

                <div class="card">
                    <div class="card-body">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul id="tabs" class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                                            aria-expanded="true">
                                            <span class="badge badge-success">{{array_students.length}}</span>
                                            Estudiantes
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                                            aria-expanded="false">
                                            <span class="badge badge-success">{{array_representatives.length}}</span>
                                            Representantes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="my-tab-content" class="tab-content text-center">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                                <div class="col-12 p-0 " *ngIf="array_students && array_students.length > 0">
                                    <div class="row m-0">
                                        <div class="col-sm-6 d-flex justify-content-start">

                                        </div>
                                        <div class="col-sm-6 p-0 d-flex justify-content-end">
                                            <!-- <div class="container"> -->
                                            <mat-form-field>
                                                <mat-label>Buscar</mat-label>
                                                <input matInput (keyup)="applyFilter($event)" class="input-search-table"
                                                    #input>
                                            </mat-form-field>
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                    <div class="col-12 p-0 w-100">

                                        <table #table mat-table matSort [dataSource]="dataSource"
                                            class="mat-elevation-z8 table-reponsives table-bordered"
                                            style="min-width: 100%;">
                                            <ng-container matColumnDef="details">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Detalles</th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>Acceso a la plataforma de estudiante</span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="nameRepresentative">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Nombre del representante</th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>{{row.student_name_representative}}</span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="nameStudent">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Nombre del estudiante </th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>{{row.student_name}} {{row.student_lastname}}</span>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Fecha">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Día </th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>{{row.student_date_register}}</span>

                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="view">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Ver
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <i class="text-info nc-icon nc-zoom-split cursor-pointer"
                                                        (click)="viewDateilStudent(row)"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                        </table>
                                        <!-- [pageSizeOptions]="[10, 50]"-->
                                        <mat-paginator #tableStudentsRequest [pageSizeOptions]="[10, 25, 50]"
                                            showFirstLastButtons>
                                        </mat-paginator>
                                    </div>
                                </div>
                                <div class="col-12 p-0 " *ngIf="array_students && array_students.length === 0">
                                    <div class="row m-0 justify-content-center">
                                        <i class="nc-icon nc-alert-circle-i text-warning  "></i> &nbsp; <p
                                            class="card-description">
                                            No hay nuevas solicitudes de estudiantes para mostrar.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                                <div class="col-12 p-0 "
                                    *ngIf="array_representatives && array_representatives.length > 0">
                                    <div class="row m-0">
                                        <div class="col-sm-6 d-flex justify-content-start">

                                        </div>
                                        <div class="col-sm-6 p-0 d-flex justify-content-end">
                                            <!-- <div class="container"> -->
                                            <mat-form-field>
                                                <mat-label>Buscar representante</mat-label>
                                                <input matInput (keyup)="applyFilterR($event)"
                                                    class="input-search-table" #input>
                                            </mat-form-field>
                                            <!-- </div> -->
                                        </div>
                                    </div>

                                    <div class="col-12 p-0 w-100">

                                        <table #table mat-table matSort [dataSource]="dataSourceR"
                                            class="mat-elevation-z8 table-reponsives table-bordered"
                                            style="min-width: 100%;">
                                            <ng-container matColumnDef="details">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Detalles</th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>Acceso a la plataforma de representante</span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="nameRepresentative">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Nombre del representante</th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <span>{{row.representative_name}}
                                                        {{row.representative_surname}}</span>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="view">
                                                <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                                    Ver
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="text-center">
                                                    <i class="text-info nc-icon nc-zoom-split cursor-pointer"
                                                        (click)="viewDateilR(row)"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>

                                        </table>
                                        <!-- [pageSizeOptions]="[10, 50]"-->
                                        <mat-paginator #tableStudentsRequestR [pageSizeOptions]="[10, 25, 50]"
                                            showFirstLastButtons>
                                        </mat-paginator>
                                    </div>
                                </div>
                                <div class="col-12 p-0 "
                                    *ngIf="array_representatives && array_representatives.length === 0">
                                    <div class="row m-0 justify-content-center">
                                        <i class="nc-icon nc-alert-circle-i text-warning  "></i> &nbsp; <p
                                            class="card-description">
                                            No hay nuevas solicitudes de estudiantes para mostrar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-primary" id="myModaldetailStudent" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="min-width: 50%;">
        <div class="modal-content">
            <div class="modal-header justify-content-center d-flex justify-content-center">

                <button hidden id="modal-students" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1 pr-1" *ngIf="student">
                <div class="card card-user">
                    <div class="content-image">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="javascript:void(0)">
                                <img *ngIf="student && student.student_img" class="avatar border-gray"
                                    src="{{student.student_img}}" alt="...">
                                <img *ngIf="student && !student.student_img" class="avatar border-gray"
                                    src="../../../../assets/img/default-avatar.png" alt="...">
                                <h5 class="title">{{student.student_name}} , {{student.student_lastname}}</h5>
                            </a>
                            <p class="description">
                                {{student.student_email}}
                            </p>
                        </div>
                        <!-- <div class="col-12 p-0">
                            <div class="row m-0">
                                <div class="col-sm-6">
                                    <p class="description text-center">
                                        Fecha de nacimiento:
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="description text-center">
                                        {{student.student_date_of_birth}}
                                    </p>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-12 p-0">
                            <div class="row m-0">
                                <div class="col-sm-6">
                                    <p class="description text-center">
                                        Fecha de registro:
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="description text-center">
                                        {{student.student_date_register}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-0 ">
                            <div class="row m-0 justify-content-center">
                                <button data-dismiss="modal" aria-label="Close" (click)="acceptStudent()"
                                    class=" btn btn-sm btn-success"><i class="fa fa-check"></i> Aceptar</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-primary" id="myModaldetailR" tabindex="-1" role="dialog" aria-labelledby="myModaldetailR"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" style="min-width: 50%;">
        <div class="modal-content">
            <div class="modal-header justify-content-center d-flex justify-content-center">

                <button hidden id="modal-students" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1 pr-1" *ngIf="representative">
                <div class="card card-user">
                    <div class="content-image">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="javascript:void(0)">
                                <img class="avatar border-gray" src="../../../../assets/img/default-avatar.png"
                                    alt="...">
                                <h5 class="title">{{representative.representative_name}},
                                    {{representative.representative_surname}}</h5>
                            </a>
                            <p class="description">
                                {{representative.representative_email}}
                            </p>
                        </div>
                        <div class="col-12 m-0 ">
                            <div class="row m-0 justify-content-center">
                                <button data-dismiss="modal" aria-label="Close" (click)="acceptRep()"
                                    class=" btn btn-sm btn-success"><i class="fa fa-check"></i> Aceptar</button>
	                              <button data-dismiss="modal" aria-label="Close" (click)="declineRep()"
	                                    class=" btn btn-sm btn-danger"><i class="fa fa-times"></i> Declinar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
