.text-nav-link {
    font-size: 13px;
    text-align: start;
}

.btn-style-none {
    border: 1px solid gray !important;
    background-color: transparent !important;
}

.btn-style-none:hover {
    background-color: transparent !important;
    color: rgb(29,207,145);
}

.cursor-pointer {
    cursor: pointer;
}

.fileinput .thumbnail > img {
    max-height: 100px;
    width: 100%;
}

.nav-tabs-navigation.vertical-navs {
    border-right: 2px solid #F1EAE0;
}

.color-red {
    color: rgb(255, 70, 70) !important;
}

.text-gray {
    color: rgb(155, 153, 153);
}