<div class="main-content">

    <div class="container-fluid p-0">

        <app-top-bar [info_provider]="info_provider" [student_id]="student_id"></app-top-bar>
        <div class="row m-0 justify-content-center align-items-center mb-1 mt-1">
            <div class="col-sm-12 p-0">
                <div class="row m-0 w-100  align-items-center justify-content-center ">
                    <div (click)="goBehind()"
                        class="col-1 div-content-behind d-flex justify-content-center align-items-center cursor-pointer mb-2 ">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>

                    </div>
                    <div class="col-11  mb-2 pr-0  my-auto">
                        <form>
                            <div class="input-group no-border">
                                <input (keyup)="searchProduct($event)" type="text" value="" class="form-control"
                                    placeholder="Buscar...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="nc-icon nc-zoom-split"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>


        </div>
        <div class="row m-0 mt-3">
            <div class="col-sm-12 ">

                <!-- LISTA DE PRODUCTOS SI CATEGORIA ES DIFERENTE A TODOS-->
                <div class="row align-items-center justify-content-center  "
                    *ngIf="category_id !== 'all' && !isViewDaysCategoryMenu">
                    <div class="col-sm-12 p-2 col-content-products ">
                        <div
                            class="col-lg-2 col-md-2 col-4 p-0 col-content-category  d-flex justify-content-center pl-0  d-flex justify-content-center align-items-center">
                            <h3 class=" mb-0 font-category " *ngIf="category ">{{category.category_name}}</h3>
                        </div>
                        <div class="row m-0 justify-content-center" *ngIf=" product_list && product_list.length > 0">
                            <div class="col-md-4 col-lg-3 col-sm-6 col-8 mt-3 col-content-product cursor-pointer "
                                (click)="viewDetailProduct(product)" *ngFor="let product of product_list">

                                <div class="card">

                                    <div class="col-sm-12 pl-0 pr-0 pt-1 pb-0 ">
                                        <div class="row m-0 justify-content-center">
                                            <div
                                                class="col-12 col-content-image-product p-0 d-flex justify-content-center">
                                                <div class="background-image-product"
                                                    style="background-image: url({{product.product_images[0]}});"></div>
                                            </div>
                                        </div>

                                        <div class="row m-0 align-items-end justify-content-start pl-2">
                                            <div class="col-sm-12 p-0 text-center" *ngIf="isViewDaysCategoryMenu">
                                                <span class="text-info font-bold"
                                                    *ngFor="let day of product.product_days_of_availability , let i = index">
                                                    {{array_week[day]}}<span
                                                        *ngIf=" product.product_days_of_availability.length - i > 1"> ,
                                                    </span>
                                                    <span
                                                        *ngIf="product.product_days_of_availability.length - i === 1">.</span></span>
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-sm-12 pl-0">
                                                    <h4 class="title-product mb-0">{{product.product_name}}</h4>
                                                </div>
                                                <div
                                                    class="col-sm-12  pl-0 d-flex justify-content-start align-items-center">
                                                    <!-- <button class="btn btn-round btn-price  mt-0 pt-0 "> -->
                                                    <h4 class="title-product text-price text-warning mb-0">
                                                        {{product.product_price |
                                                        currency}}</h4>
                                                    <!-- </button> -->
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-12 pl-0 pr-0 pl-2">
                                        <p class="card-description">
                                            {{product.product_description | slice:0:40}}
                                        </p>
                                    </div>
                                </div>



                            </div>

                        </div>

                        <div class="row m-0 align-items-center justify-content-center  "
                            *ngIf=" product_list && product_list.length === 0">
                            <i class="nc-icon nc-alert-circle-i text-warning  "></i> &nbsp; <p class="card-description">
                                No hay productos asociados a esta categoría.
                            </p>
                        </div>
                        <div class="row p-0">
                            <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center  "
                                *ngIf="!hiddenButton">
                                <button (click)="moreSix()" class="btn btn-sm btn-primary cursor-pointer  ">
                                    <span>Ver más...</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- LISTA DE PRODUCTOS SI CATEGORIA ES IGUAL A TODOS-->
                <div class="row align-items-center justify-content-center  "
                    *ngIf="category_id === 'all' && allCategories && allCategories.length > 0 &&  productsOfCategoryAll && productsOfCategoryAll.length > 0">
                    <div class="col-sm-12  p-2  mt-5" *ngFor="let category of allCategories , let i = index">
                        <div class="col-content-products"
                            *ngIf="productsOfCategoryAll && productsOfCategoryAll[i] && productsOfCategoryAll[i].length > 0">

                            <div
                                class="col-lg-2 col-md-2 col-4 p-0 col-content-category  d-flex justify-content-center pl-0  d-flex justify-content-center align-items-center">
                                <h3 class=" mb-0 font-category " *ngIf="category ">{{category.category_name}}
                                </h3>
                            </div>
                            <div class="row m-0">
                                <div class="ccol-md-4 col-lg-3 col-sm-6 col-8 col-content-product cursor-pointer mt-3"
                                    (click)="viewDetailProduct(product)"
                                    *ngFor="let product of productsOfCategoryAll[i]">
                                    <div class="card">

                                        <div class="col-sm-12 pl-0 pr-0 pt-1 pb-0 ">
                                            <div class="row m-0 justify-content-center">
                                                <div
                                                    class="col-12 col-content-image-product p-0 d-flex justify-content-center">
                                                    <div class="background-image-product"
                                                        style="background-image: url({{product.product_images[0]}});">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0 align-items-end justify-content-start pl-2">
                                                <div class="col-sm-12 p-0 text-center" *ngIf="isViewDaysCategoryMenu">
                                                    <span class="text-info font-bold"
                                                        *ngFor="let day of product.product_days_of_availability , let i = index">
                                                        {{array_week[day]}}<span
                                                            *ngIf=" product.product_days_of_availability.length - i > 1">
                                                            ,
                                                        </span>
                                                        <span
                                                            *ngIf="product.product_days_of_availability.length - i === 1">.</span></span>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="col-sm-12 pl-0">
                                                        <h4 class="title-product mb-0">{{product.product_name}}</h4>
                                                    </div>
                                                    <div
                                                        class="col-sm-12  pl-0 d-flex justify-content-start align-items-center">
                                                        <!-- <button class="btn btn-round btn-price  mt-0 pt-0 "> -->
                                                        <h4 class="title-product text-price text-warning mb-0">
                                                            {{product.product_price |
                                                            currency}}</h4>
                                                        <!-- </button> -->
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-sm-12 pl-0 pr-0 pl-2">
                                            <p class="card-description">
                                                {{product.product_description | slice:0:40}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row p-0">
                                <div class="col-sm-12 p-0 d-flex justify-content-center align-items-center  "
                                    *ngIf="hiddenInCategoryAll && !hiddenInCategoryAll[i]">
                                    <button (click)="moreSixCategoryAll(category.category_id , i)"
                                        class="btn btn-sm btn-primary cursor-pointer  ">
                                        <span>Ver más...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LISTA DE PRODUCTOS SI EL BUSCA Y  LA  CATEGORIA ES IGUAL A TODOS-->
                <div class="row align-items-center justify-content-center  "
                    *ngIf="category_id === 'all' && allCategories && allCategories.length === 0 && productsOfCategoryAll && productsOfCategoryAll.length > 0">
                    <div class="col-sm-12 p-2 c mt-5">
                        <div class="">
                            <div class="row m-0">
                                <div class="col-md-4 col-lg-3 col-sm-6 col-8  col-content-product cursor-pointer mt-3"
                                    (click)="viewDetailProduct(product)"
                                    *ngFor="let product of productsOfCategoryAll[0]">
                                    <div class="card">

                                        <div class="col-sm-12 pl-0 pr-0 pt-1 pb-0 ">
                                            <div class="row m-0 justify-content-center">
                                                <div
                                                    class="col-12 col-content-image-product p-0 d-flex justify-content-center">
                                                    <div class="background-image-product"
                                                        style="background-image: url({{product.product_images[0]}});">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-0 align-items-end justify-content-start pl-2">
                                                <div class="col-sm-12 p-0 text-center" *ngIf="isViewDaysCategoryMenu">
                                                    <span class="text-info font-bold"
                                                        *ngFor="let day of product.product_days_of_availability , let i = index">
                                                        {{array_week[day]}}<span
                                                            *ngIf=" product.product_days_of_availability.length - i > 1">
                                                            ,
                                                        </span>
                                                        <span
                                                            *ngIf="product.product_days_of_availability.length - i === 1">.</span></span>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="col-sm-12 pl-0">
                                                        <h4 class="title-product mb-0">{{product.product_name}}</h4>
                                                    </div>
                                                    <div
                                                        class="col-sm-12  pl-0 d-flex justify-content-start align-items-center">
                                                        <!-- <button class="btn btn-round btn-price  mt-0 pt-0 "> -->
                                                        <h4 class="title-product text-price text-warning mb-0">
                                                            {{product.product_price |
                                                            currency}}</h4>
                                                        <!-- </button> -->
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-sm-12 pl-0 pr-0 pl-2">
                                            <p class="card-description">
                                                {{product.product_description | slice:0:40}}
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- LISTA DE PRODUCTOS CATEGORÍA MENÚ-->
                <div class=" "
                    >
                    <div [hidden]="category_id === 'all' || !isViewDaysCategoryMenu" class="col-sm-12 p-2 col-content-products " >
                        <div 
                            class="col-lg-2 col-md-2 col-4 p-0 col-content-category  d-flex justify-content-center pl-0  d-flex justify-content-center align-items-center">
                            <h3 class=" mb-0 font-category " *ngIf="category ">{{category.category_name}}</h3>
                        </div>
                        <div  class="row m-0 justify-content-center card card-calendar" >
                            <div class="col-12 card-content p-4" >
                                <full-calendar  style="min-height: 75vh; max-width: 95%; margin: 0 auto;" id="fullCalendar"  [options]="calendarOptions">
                                </full-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-product-detail-modal *ngIf="isViewDetailProduct" [student_id]="this.student_id" [product]="product" [menuSelect] ="menuSelect"
    (changeModality)="closeModal($event)">
</app-product-detail-modal>