<div class="main-content m-0 p-0">
  <app-loading></app-loading>
  <div class="row w-100 m-0 p-0">
    <!-- Column: Categories -->
    <div class="col-4 col-sm-2 m-0 p-1 text-white">
      <div class="container-fluid-body column">
        <div class="input-group mb-2 mt-2"> 

          <input type="text" class="form-control form-control-sm border-left-0" placeholder="Buscar productos..."
            [(ngModel)]="productSearchTerm" (ngModelChange)="filterProducts()" />
          <span class="input-group-text border-0">
            <i class="fas fa-search text-muted"></i>
          </span>
        </div>
        <h4>Categorías</h4>

        <ul class="category-list">
          <!-- <li class="" *ngFor="let category of categoriesList" (click)="selectCategory(category)">
            {{ category.category_name }}
          </li> -->
          <li *ngFor="let category of categoriesList" [class.active]="category.category_id === selectedCategoryId"
            (click)="selectCategory(category)">
            {{ category.category_name }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Column: Details -->
    <div class="{{productsCartInCache.length <= 0 ? 'col-8 col-sm-10': 'col-4 col-sm-7'}} m-0 p-0 pt-1 text-white">
      <div class="row w-100 m-0 p-0 container-fluid-body">
        <div class="col-12 col-sm-4 m-0 text-white">
          <div class="">
            <label class="control-label" for="">Seleccione el bar:
              <span class="star">*</span>
            </label>
            <div class="btn-group w-100">
              <select (ngModelChange)="getCategoriesByProviderSelected($event)"
                [(ngModel)]="providerSelected.provider_id" name="provider_id" id="provider_id" #provider_id="ngModel"
                class="form-control w-100" title="Seleccione un proveedor">
                <option disabled [ngValue]="null">Seleccione</option>
                <option *ngFor="let provider of providersList" [ngValue]="provider.provider_id">
                  {{ provider.provider_business_name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 m-0 text-white">
          <label class="control-label" for="">Fecha de entrega:
            <span class="star">*</span>
          </label>
          <div class="col display-col-center p-0">
            <div class="form-group">
              <input id='date' min="{{minDate}}" [(ngModel)]="daySelected" class="form-control cursor-pointer"
                placeholder="Seleccione fecha de entrega" name="date" ngbDatepicker #d="ngbDatepicker"
                (click)="d.toggle()" (ngModelChange)="onDateSelected()">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 m-0 text-white">
          <label class="control-label" for="">Cuando retira:
            <span class="star">*</span>
          </label>
          <div class="col display-col-center p-0">
            Lista: primer receso, segundo receso, salida
          </div>
        </div>
      </div>

      <!-- Column: Products -->
      <div class="container-fluid-body column-products m-0 p-0 mt-1">
        <!-- *** Lista de productos = todos / no munu *** -->
        <div class="row w-100 m-0 p-0">
          <div *ngIf="product_list.length === 0" class="col-12 p-1 text-center text-muted my-4">
            <p class="mb-0">No se encontraron productos para la categoría seleccionada.</p>
            <small>Por favor, elige otra categoría o revisa más tarde.</small>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 text-white text-center p-1" *ngFor="let product of product_list">
            <div class="container-fluid-body-light m-0 p-0">
              <div class="row w-100 m-0 p-0">
                <!-- *** Products: Image *** -->
                <div class="col-12 text-center m-0 p-0 pt-2">
                  <div class="avatar-mini m-0 p-0" style="background-image: url({{product.product_images[0]}});">
                  </div>
                </div>
                <!-- *** Products: Details *** -->
                <div class="col-12 p-0 m-0">
                  <div class="product-info text-center p-0">
                    <p class="p-0 mt-1 mb-0 p-price">{{ product.product_price | currency }}</p>
                    <p class="p-0 mb-1 mt-0 p-mini text-center">{{ product.product_name }}</p>
                  </div>
                </div>
              </div>
              <div class="row w-100 m-0 p-0">
                <div class="col-12 m-0 p-0 pb-1 pl-1 pr-1">
                  <button (click)="viewDetailProduct(product)" class="btn btn-sm btn-primary-outline btn-block m-0">
                    <img src="../../../../assets/img/icons/shoppingCart.png" class="icon-mini mr-2" alt="">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Column: Shopping Cart -->
    <div *ngIf="productsCartInCache.length > 0"
      class="{{productsCartInCache.length > 0 ? 'col-4 col-sm-3': 'col-1'}} m-0 p-1 text-white">
      <div class="container-fluid-body column d-flex flex-column h-100">
        <!-- Header fijo -->
        <div id="shoppingCartIcon" class="cart-header-fixed">
          <h4 class="m-0 p-0">Carrito de compras</h4>
          <div class="row m-0 p-0 w-100">
            <div class="col-sm-12 text-center m-0 p-0">
              <div class="div-total-amount p-3">
                {{ order.order_total_to_pay | currency }}
              </div>
              <span class="c-gray font-bold">Resumen de la compra</span>
            </div>
          </div>
        </div>

        <!-- Lista de productos con scroll -->
        <div class="cart-body-fixed flex-grow-1 overflow-auto mt-2" *ngIf="productsCartInCache">
          <div class="row m-0 w-100 p-0">
            <div class="col-sm-12 m-0 p-0 mb-1" *ngFor="let product of productsCartInCache; let i = index">
              <div class="container-fluid-body-light m-0 p-0 pb-1">
                <div class="row w-100 m-0 p-0 pt-2 pl-2 pr-2">
                  <div class="col-8 p-0 text-left">
                    <h3 class="m-0 p-0 p-minis h-1">{{ product.product_name }}</h3>
                    <h5 class="m-0 p-0 p-mini h-1">{{ product.product_order_delivery_date }}</h5>
                  </div>
                  <div class="col-4 p-0 text-right">
                    <p class="p-0 p-price">{{ product.product_price | currency }}</p>
                  </div>
                </div>
                <div class="row w-100 m-0 p-0 mb-1 px-2">
                  <div class="col-7 m-0 p-0">
                    <div class="quantity-group d-flex align-items-center m-0 p-0">
                      <button type="button" class="btn btn-sm m-0 p-0 amount btn-decrease"
                        (click)="decreaseAmount(product, i)">
                        <img src="../../../../assets/img/icons/minus.png" class="icon-mini" alt="">
                      </button>
                      <div class="amount p-1 text-center">
                        {{product.product_quantity_in_cart}}
                      </div>
                      <button type="button" class="btn btn-sm m-0 p-0 amount btn-increase"
                        (click)="increaseAmount(product, i)">
                        <img src="../../../../assets/img/icons/plus.png" class="icon-mini" alt="">
                      </button>
                    </div>
                  </div>
                  <div class="col-5 m-0 p-0 text-right">
                    <button type="button" class="btn btn-sm m-0 p-0 amount btn-danger"
                      (click)="deleteProduct(product, i)">
                      <img src="../../../../assets/img/icons/delete.png" class="icon-mini icon-danger" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer fijo -->
        <div class="cart-footer-fixed border-top p-0">
          <div class="row w-100 p-0 m-0">
            <div class="col-10 d-flex justify-content-end align-items-center">
              <span class="c-gray font-bold p-0 m-0 h-1">Subtotal</span>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <p class="text-white font-bold p-0 m-0 h-1">{{ order.order_subtotal_price | currency }}</p>
            </div>
          </div>
          <div class="row w-100 p-0 m-0">
            <div class="col-10 d-flex justify-content-end align-items-center">
              <span class="c-gray font-bold p-0 m-0 h-1">Total</span>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <p class="text-white font-bold p-0 m-0 h-1">{{ order.order_total_to_pay | currency }}</p>
            </div>
          </div>
          <div class="row w-100 p-0 m-0">
            <div class="col-12 col-sm-12 col-lg-6 p-1 m-0 h-1">
              <button (click)="cancelPurchase()" class="btn btn-danger-outline btn-block">
                Cancelar
              </button>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 p-1 m-0 h-1">
              <button (click)="completePurchase()" class="btn btn-primary btn-block">
                Completar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *** Modal to completed order *** -->

<!-- Modal de Confirmación de Método de Pago -->
<div class="modal fade" id="myModalcompleteOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="min-width: 80%;">
    <div class="modal-content container-fluid-body text-white">
      <div class="modal-body  text-white p-4">
        <form id="form-payment_methods  text-white" #formPaymentMethod="ngForm" novalidate>
          <h3 class="text-center mb-2">Finaliza tu compra</h3>
          <p class="text-muted text-center">Selecciona el método de pago preferido</p>
          <h1 class="text-center mb-2">Total a pagar: {{order.order_total_to_pay | currency}}</h1>

          <!-- Opciones de Método de Pago estilo iOS -->

          <div class="ios-segment-container mx-auto my-4" [style.--items]="paymentMethods.length">
            <div class="ios-segment-bg" [ngStyle]="{transform: 'translateX(' + selectedMethodIndex * 100 + '%)'}"></div>

            <div *ngFor="let method of paymentMethods" class="ios-segment-option"
              [ngClass]="{ active: order.order_payment_method === method.key }"
              (click)="order.order_payment_method = method.key">
              <!-- <i class="nc-icon me-1" [ngClass]="method.icon"></i>  -->
              {{ method.label }}
            </div>
          </div>



          <!-- <div class="ios-segment-container mx-auto my-4">
            <div class="ios-segment-bg"
              [ngStyle]="{'transform': order.order_payment_method === 'Tarjeta' ? 'translateX(100%)' : 'translateX(0)'}">
            </div>

            <div class="ios-segment-option" [ngClass]="{'active': order.order_payment_method === 'Efectivo'}"
              (click)="order.order_payment_method = 'Efectivo'">
              Transferencia
            </div>

            <div class="ios-segment-option" [ngClass]="{'active': order.order_payment_method === 'Tarjeta'}"
              (click)="order.order_payment_method = 'Tarjeta'">
              Tarjeta
            </div>
            <div class="ios-segment-option" [ngClass]="{'active': order.order_payment_method === 'Otro'}"
              (click)="order.order_payment_method = 'Otro'">
              Otro
            </div>
          </div> -->



          <!-- Opción: Transferencia Bancaria -->
          <div class="col-12" *ngIf="order.order_payment_method === 'Efectivo'">
            <div class="row justify-content-center mb-3">
              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div *ngIf="!order.order_image_payment_cash && !preview_url_image" class="thumbnail mb-2">
                  <img src="./assets/img/image_placeholder.jpg" alt="Comprobante" />
                </div>
                <div *ngIf="preview_url_image" class="thumbnail mb-2">
                  <img [src]="preview_url_image" alt="Comprobante" />
                </div>
                <div *ngIf="order.order_image_payment_cash && !preview_url_image" class="thumbnail mb-2">
                  <img [src]="order.order_image_payment_cash" alt="Comprobante" />
                </div>

                <span class="btn btn-rose btn-file">
                  <span *ngIf="!order.order_image_payment_cash && !preview_url_image">Seleccionar imagen</span>
                  <span *ngIf="order.order_image_payment_cash || preview_url_image">Cambiar imagen</span>
                  <input accept="image/*" type="file" id="provider_image" name="provider_image"
                    (change)="fileProgress($event)" />
                </span>
              </div>
            </div>
            <div class="alert alert-info text-center">
              <i class="nc-icon nc-alert-circle-i icon-small"></i>
              Para finalizar la compra, sube una imagen del comprobante de transferencia. El proveedor la utilizará para
              confirmar la orden.
            </div>
          </div>

          <!-- Opción: Pago con Tarjeta -->
          <div class="col-12" *ngIf="order.order_payment_method === 'Tarjeta'">
            <div *ngIf="arrayPaymentMethod.length === 0 && providerSelected.provider_NAME_EC_SERVER"
              class="alert alert-danger text-center">
              No tienes métodos de pago registrados en <b>{{ providerSelected.provider_business_name | uppercase }}</b>.
            </div>

            <div *ngIf="order.order_total_to_pay < 1" class="alert alert-warning text-center">
              <i class="fa fa-info-circle"></i> El monto mínimo para pagar con tarjeta debe ser $1 (actual:
              {{ order.order_total_to_pay | currency }})
            </div>

            <div *ngIf="order.order_total_to_pay >= 1" class="row justify-content-center">
              <div *ngFor="let item of arrayPaymentMethod" class="col-md-4 col-lg-3 mb-3"
                (click)="selectedPaymentMethod(item)" data-toggle="modal" data-target="#modalCvc">
                <!-- <div class="card-wrapper" (click)="flippedCardIndex = flippedCardIndex === i ? null : i">
                    <div class="credit-card-flip" [class.flipped]="flippedCardIndex === i">
                      <div class="card-face card-front">
                        <div class="card-body credit-card text-white">
                          <div class="row">
                            <div class="col-9">
                              <div class="numbers">
                                <div class="card-category">{{ getCardTypeName(item.type) }}</div>
                                <div class="card-number">**** **** **** {{ item.number }}</div>
                                <div class="card-category">{{ item.expiry_month }}/{{ item.expiry_year }}</div>
                                <div class="card-category mt-3">{{ item.holder_name }}</div>
                              </div>
                            </div>
                            <div class="col-3 text-end card-logo">
                              <img src="../../../../assets/img/icons/creditCard.png" alt="credit card">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card-face card-back">
                        <div
                          class="card-body credit-card text-white text-center d-flex align-items-center justify-content-center">
                          <div>
                            <p class="mb-0">Código CVV</p>
                            <p class="h4">•••</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <!-- <div class="card-wrapper" (click)="flippedCardIndex = flippedCardIndex === i ? null : i">
                  <div class="credit-card-flip" [class.flipped]="flippedCardIndex === i">
                    <div class="card-face card-front custom-card-bg">
                      <div class="card-body text-white">
                      </div>
                    </div>

                    <div class="card-face card-back custom-card-bg-back">
                      <div class="card-body text-white d-flex justify-content-center align-items-center">
                        <div>
                          <p class="mb-0">CVV</p>
                          <p class="h4">•••</p>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div> -->

                <div class="card-stats p-0 rounded shadow-sm bg-dark text-white cursor-pointer">
                  <div class="card-body credit-card custom-card-bg">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <div class="card-category">{{ getCardTypeName(item.type) }}</div>
                        <div class="card-number">**** **** **** {{ item.number }}</div>
                        <div class="card-category">{{ item.expiry_month }}/{{ item.expiry_year }}</div>
                        <div class="card-category mt-2">{{ item.holder_name }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Botón Finalizar -->
          <div class="text-center mt-4">
            <button [disabled]="order.order_payment_method === 'Efectivo' && !preview_url_image" type="submit"
              class="btn btn-success btn-lg" (click)="registerOrder()">
              Finalizar Compra
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade modal-primary" id="myModalcompleteOrderOLD" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="min-width: 80%">
    <div class="modal-content">
      <div class="modal-body pl-1 pr-1">
        <form id="form-payment_methods" #formPaymentMethod="ngForm" novalidate>
          <div class="row justify-content-center align-items-center p-4">
            <h3>Confirmar método de pago</h3>
            <div class="col-lg-12">
              <div class="row justify-content-center align-items-center">
                <div class="col-sm-4 text-center" (click)="order.order_payment_method = 'Efectivo'">
                  <div class="choice border-select-payment-method {{
                      order.order_payment_method === 'Efectivo'
                        ? 'border-color-select'
                        : ''
                    }} ml-auto mr-auto">
                    <div class="icon  {{
                        order.order_payment_method === 'Efectivo'
                          ? 'is-select'
                          : ''
                      }}">
                      <i *ngIf="order.order_payment_method !== 'Efectivo'" class="nc-icon nc-money-coins"></i>
                      <i *ngIf="order.order_payment_method === 'Efectivo'"
                        class="nc-icon nc-check-2 text-primary icon-peyment"></i>
                    </div>
                  </div>
                  <h6>Transferencia bancaria</h6>
                </div>
                <div class="col-sm-4 text-center" (click)="order.order_payment_method = 'Tarjeta'">
                  <div class="choice  border-select-payment-method  ml-auto mr-auto {{
                      order.order_payment_method === 'Tarjeta'
                        ? 'border-color-select'
                        : ''
                    }} ">
                    <div class="icon  {{
                        order.order_payment_method === 'Tarjeta'
                          ? 'is-select'
                          : ''
                      }}">
                      <i *ngIf="order.order_payment_method !== 'Tarjeta'" class="nc-icon nc-credit-card"></i>
                      <i *ngIf="order.order_payment_method === 'Tarjeta'"
                        class="nc-icon nc-check-2 text-primary icon-peyment"></i>
                    </div>
                  </div>

                  <h6>Pagar con Tarjeta</h6>
                </div>
              </div>
            </div>

            <div class="col-lg-12" *ngIf="order.order_payment_method === 'Efectivo'">
              <div class="row m-0 justify-content-center align-items-center">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div *ngIf="!order.order_image_payment_cash && !preview_url_image" class="thumbnail">
                    <img src="./assets/img/image_placeholder.jpg" alt="provider_image" />
                  </div>
                  <div *ngIf="preview_url_image && order.order_image_payment_cash" class="thumbnail">
                    <img src="{{ preview_url_image }}" alt="provider_image" />
                  </div>
                  <div *ngIf="preview_url_image && !order.order_image_payment_cash" class="thumbnail">
                    <img src="{{ preview_url_image }}" alt="provider_image" />
                  </div>
                  <!-- <div  class="fileinput-preview  thumbnail"></div> -->
                  <div class="thumbnail" *ngIf="order.order_image_payment_cash && !preview_url_image">
                    <img src="{{ order.order_image_payment_cash }}" alt="provider_image" />
                  </div>
                  <div>
                    <span class="btn btn-rose btn-file">
                      <span class="fileinput-new" *ngIf="
                          !order.order_image_payment_cash && !preview_url_image
                        ">Seleccionar imagen</span>
                      <span *ngIf="
                          (!order.order_image_payment_cash &&
                            preview_url_image) ||
                          (order.order_image_payment_cash &&
                            preview_url_image) ||
                          (order.order_image_payment_cash && !preview_url_image)
                        ">Cambiar</span>
                      <input accept="image/*" type="file" id="provider_image" name="provider_image"
                        (change)="fileProgress($event)" />
                    </span>
                  </div>
                </div>
              </div>
              <span class="text-confirm-payment-method">
                <i class="nc-icon nc-alert-circle-i text-info icon-small"></i>
                &nbsp; &nbsp;Para poder finalizar su compra deberá seleccionar
                una imagen del comprobante de transferencía, recuerda que el
                proveedor visualizará el detalle del comprobante para poder
                confirmar la orden realizada.</span>
            </div>
            <div class="col-lg-12" *ngIf="order.order_payment_method === 'Tarjeta'">
              <div *ngIf="
                  arrayPaymentMethod.length == 0 &&
                  providerSelected.provider_NAME_EC_SERVER != undefined
                " class="alert alert-danger p-4">
                No tienes métodos de pago agregados en el bar:
                <b>{{ providerSelected.provider_business_name | uppercase }}</b>
              </div>
              <div *ngIf="order.order_total_to_pay < 1" class="row">
                <div class="col-12 p-3 m-3 text-center">
                  <i class="fa fa-info-circle text-warning"></i><br />
                  El monto mínimo para pagar con tarjeta debe ser $1 (valor
                  actual {{ order.order_total_to_pay | currency }})
                </div>
              </div>

              <!-- *** Métodos de pago tarjetas del usuario *** -->
              <div *ngIf="order.order_total_to_pay > 1"
                class="row w-100 m-0 p-0 align-items-center justify-content-center">
                <div *ngFor="let item of arrayPaymentMethod; let i = index" data-toggle="modal" data-target="#modalCvc"
                  (click)="selectedPaymentMethod(item)" class="col-12 col-sm-6 col-md-4 col-lg-3 m-0 p-2">

                  <div class="card-wrapper" (click)="flippedCardIndex = flippedCardIndex === i ? null : i">
                    <div class="credit-card-flip" [class.flipped]="flippedCardIndex === i">
                      <!-- Front -->
                      <div class="card-face card-front">
                        <div class="card-body credit-card text-white">
                          <div class="row">
                            <div class="col-9">
                              <div class="numbers">
                                <div class="card-category">{{ getCardTypeName(item.type) }}</div>
                                <div class="card-number">**** **** **** {{ item.number }}</div>
                                <div class="card-category">{{ item.expiry_month }}/{{ item.expiry_year }}</div>
                                <div class="card-category mt-3">{{ item.holder_name }}</div>
                              </div>
                            </div>
                            <div class="col-3 text-end card-logo">
                              <img src="../../../../assets/img/icons/creditCard.png" alt="credit card">
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Back -->
                      <div class="card-face card-back">
                        <div
                          class="card-body credit-card text-white text-center d-flex align-items-center justify-content-center">
                          <div>
                            <p class="mb-0">Código CVV</p>
                            <p class="h4">•••</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- <div class="card-stats p-1 position-relative container-fluid-bodys">
                    <div class="card-body credit-card text-white">
                      <div class="row">
                        <div class="col-12 col-md-9">
                          <div class="numbers">
                            <div class="card-category">{{ getCardTypeName(item.type) }}</div>
                            <div class="card-number">*******{{item.number}}</div>
                            <div class="card-category">{{item.expiry_month}}/{{item.expiry_year}}</div>
                            <div class="card-category mt-3">{{item.holder_name}}</div>
                          </div>
                        </div>
                        <div class="col-12 col-md-3 text-end card-logo">
                          <img src="../../../../assets/img/icons/creditCard.png" alt="credit card">
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- <div *ngFor="let paymentMethod of arrayPaymentMethod" class="card bg-grey">
                
                <div class="row p-3">
                  <div class="col-sm-2">
                    <i class="fa fa-credit-card"></i>
                  </div>
                  <div class="col-sm-7 text-left">
                    xxxx-xxxx-xxxx-{{ paymentMethod.number }} <br />
                    {{ paymentMethod.holder_name }}
                  </div>
                  <div class="col-sm-3">
                    <button [disabled]="order.order_total_to_pay < 1" data-toggle="modal" data-target="#modalCvc"
                      class="btn btn-info btn-sm" (click)="selectedPaymentMethod(paymentMethod)">
                      Pagar
                    </button>
                    
                  </div>
                </div>
              </div> -->
            </div>
            <button [disabled]="!preview_url_image" [hidden]="this.order.order_payment_method === 'Tarjeta'"
              (click)="registerOrder()" type="submit" class="btn btn-sm btn-success">
              Finalizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- *** Modal to security code *** -->
<div class="modal fade modal-primary" id="modalCvc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content container-fluid-body">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove text-white"></i>
        </button>
        <h4 class="title title-up text-white">Ingrese el código CVC</h4>
      </div>
      <form id="form-payment_methods" #formCvc="ngForm" novalidate>
        <div class="modal-body">
          <div class="row p-4 m-0 p-0">
            <div class="col-12 text-center">
              <img src="../../../../assets/img/bgs/BgCardSix.png" class="card-cvc mx-0" alt="" srcset="">
              <label class="control-label" for="">Código de seguridad o cvc
                <span class="star">*</span>
              </label>

              <input type="password" class="form-control text-center form-control-lg cvc-input" name="cvc"
                [(ngModel)]="cvc" required maxlength="4" minlength="3" #cvcv="ngModel" placeholder="***"
                inputmode="numeric" pattern="[0-9]*" />
              <small [hidden]="cvcv.valid || (cvcv.pristine && !formCvc.submitted)" class="text-danger">
                CVC requerido
              </small>
              


              <!-- <input type="password" class="form-control text-center" name="cvc" [(ngModel)]="cvc" required
                maxlength="4" minlength="3" #cvcv="ngModel" placeholder="Código de seguridad o cvc"
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
              <small [hidden]="cvcv.valid || (cvcv.pristine && !formCvc.submitted)" class="text-danger">
                CVC requerido
              </small> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-side mx-0 p-1">
            <button type="button" data-dismiss="modal" class="btn btn-danger btn-block">
              Cancelar
            </button>
          </div>
          <!-- <div class="divider"></div> -->
          <div class="right-side mx-0 p-1">
            <button [disabled]="!cvcv.valid" type="button" (click)="finalizedWithPaymentMethod(paymentMethodSelected)"
              class="btn btn-primary btn-block" data-dismiss="modal">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- *** Modal details product to add cart *** -->
<div class="modal fade modal-primary" id="myModalAddProductToCart" tabindex="-1" role="dialog"
  aria-labelledby="myModalAddProductToCart" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content w-100 container-fluid-body">
      <div class="modal-header justify-content-center m-0 p-0 pt-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove text-white"></i>
        </button>
        <div class="row justify-content-center align-items-center">
          <div class="col-2">
            <img src="../../../../assets/img/icons/shoppingCart.png" class="icon-mini" alt="">
          </div>
          <div class="col-10">
            <h4 class="title title-up text-white m-0 p-0">Agregar producto al carrito de</h4>
            <h3 *ngIf="student.student_name != undefined" class="text-white m-0 p-0">{{student.student_name}}</h3>
          </div>
        </div>
      </div>
      <div class="modal-body p-0">
        <div *ngIf="productSelected" class="row w-100 m-0 p-0">
          <div class="col-12 col-sm-6 col-lg-12 text-white text-center p-1">
            <div class="container-fluid-body m-0 p-0">
              <div class="row w-100 m-0 p-0">
                <!-- *** Products: Image *** -->
                <div *ngIf="productSelected.product_images != undefined" class="col-12 col-sm-4 col-lg-4 p-0 m-0 pt-3">
                  <div class="avatar-mini-details m-0 p-0"
                    style="background-image: url({{productSelected.product_images[0]}});">
                  </div>
                </div>
                <!-- *** Products: Details *** -->
                <div class="col-12 col-sm-8 col-lg-8 p-0 m-0">
                  <h6 class="p-name text-center mt-3">{{ productSelected.product_name }}</h6>
                  <p class="p-mini text-center">{{ productSelected.product_description }}</p>
                  <p class="p-price m-3">{{ productSelected.product_price | currency }}</p>
                </div>

                <!-- *** Products: Date delivery *** -->
                <div class="row w-100 m-0 p-0">
                  <div class="col-12 p-0 m-0">
                    <div class="product-info text-center p-0">
                      <div class="ml-3 mr-3 p-2 text-left">
                        <label for="date">Fecha de entrega:</label>
                        <div class="col display-col-center p-0">
                          <div class="form-group">
                            <input [disabled]="isCategoryMenu" id='date' min="{{minDate}}" [(ngModel)]="daySelected"
                              class="form-control cursor-pointer" placeholder="Fecha de entrega" name="date"
                              ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (ngModelChange)="onDateSelected()">
                            <p class="p-mini m-0 p-0 mt-1">
                              Selecciona el día en que desea que {{student.student_name}} reciba
                              el producto.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="m-3 p-2 container-fluid-body-light">
                        <label class="font-weight-bold mb-2">
                          ¿Cómo prefieres que {{ student.student_name }} reciba tu pedido?
                        </label>

                        <div class="row w-100 m-0 p-0">
                          <!-- Opción 1: Entrega en aula -->
                          <div class="col-sm-6 mb-2">
                            <div class="" [class.active]="productSelected.product_delivery_method === 'delivery'">
                              <label class="form-check-label cursor-pointer w-100 m-0">
                                <input [(ngModel)]="productSelected.product_delivery_method" type="radio"
                                  name="radioDeliveryMethod" value="delivery" class="form-check-input d-none" />
                                <div class="radio-content">
                                  <i [ngClass]="{
                                      'far fa-circle': productSelected.product_delivery_method !== 'delivery',
                                      'fas fa-check-circle': productSelected.product_delivery_method === 'delivery'
                                    }" class="icon-radio"></i>
                                  <span class="text-white text-left">Recibir el producto en el aula</span>
                                </div>
                              </label>
                            </div>
                          </div>

                          <!-- Opción 2: Retirar en bar -->
                          <div class="col-sm-6 mb-2">
                            <div class="" [class.active]="productSelected.product_delivery_method === 'i withdraw'">
                              <label class="form-check-label cursor-pointer w-100 m-0">
                                <input [(ngModel)]="productSelected.product_delivery_method" type="radio"
                                  name="radioDeliveryMethod" value="i withdraw" class="form-check-input d-none" />
                                <div class="radio-content">
                                  <i [ngClass]="{
                                      'far fa-circle': productSelected.product_delivery_method !== 'i withdraw',
                                      'fas fa-check-circle': productSelected.product_delivery_method === 'i withdraw'
                                    }" class="icon-radio"></i>
                                  <span class="text-white text-left">Retirar personalmente en el bar</span>
                                </div>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row w-100 m-0 p-0 mt-2">
                  <div class="col-12 m-0 p-0 pb-2 pl-1 pr-1">
                    <button (click)="addToCart(productSelected)" class="btn btn-primary btn-block m-0">
                      <img src="../../../../assets/img/icons/shoppingCart.png" class="icon-mini mr-2" alt="">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>