<div class="main-content">
    <app-loading></app-loading>
    <div class="container-fluid-body p-0">
        <div class="row" class="collapse multi-collapse container-fluid-body" id="multiCollapseCoupon">
            <div class="col-sm-12 p-0">
                <form #formCoupon="ngForm" novalidate
                    (ngSubmit)="saveCoupon(formCoupon.value, formCoupon.valid , formCoupon)">

                    <div class="card-header ">
                        <h4 class="card-title">{{isEditCoupon ? 'Editar' : 'Nuevo'}} Cupón.</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group has-label">
                            <div class="row m-0 w-100">
                                <div class="col-sm-2">
                                    <label class="control-label" for="">Valor de recarga ($):
                                        <span class="star">*</span>
                                    </label>
                                    <input readonly type="hidden" class="form-control" name="coupon_code"
                                        [(ngModel)]="coupon.couponCode" required #coupon_code="ngModel">
                                    <input type="text" class="form-control" name="coupon_value"
                                        placeholder="Valor de recarga ($)" [(ngModel)]="coupon.couponDiscountValue"
                                        #coupon_value="ngModel"
                                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                                    <small
                                        [hidden]="coupon_value.valid || (coupon_value.pristine && !formCoupon.submitted)"
                                        class="text-danger">
                                        Valor es requerido.
                                    </small>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="">Nombre del paquete:
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="coupon_name"
                                        [(ngModel)]="coupon.couponName" required #coupon_name="ngModel"
                                        placeholder="Nombre del paquete">
                                    <small
                                        [hidden]="coupon_name.valid || (coupon_name.pristine && !formCoupon.submitted)"
                                        class="text-danger">
                                        Nombre es requerido.
                                    </small>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label" for="">Estado del paquete:
                                        <span class="star">*</span>
                                    </label>
                                    <br>
                                    <bSwitch name="coupon_state" [(ngModel)]="coupon.couponIsActive"
                                        [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                        [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                    </bSwitch>
                                </div>
                                <div class="col-sm-5 pt-3">
                                    <div class="row w-100">
                                        <div class="col-6">
                                            <button type="submit"
                                                class="btn btn-primary text-btn-form">Registrar</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" (click)="cancelViewForm()"
                                                class="btn btn-danger text-btn-form">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="category"> <span class="star">*</span> Campos requeridos</div>
                    </div>

                </form>
            </div>
        </div>
        <!-- LISTA - cupons -->
        <div class="row m-0 p-0 w-100">
            <div class="col-sm-12 p-0 m-0">
                <div class="row m-0">
                    <div class="col-sm-6 d-flex justify-content-start">
                        <div>
                            <button class="btn btn-primary" (click)="newCoupon()">Nuevo paquete de recarga</button>
                        </div>
                    </div>
                    <div class="col-sm-6 p-3 text-right">
                        <mat-form-field class="text-white">
                            <mat-label>
                                <i class="fa fa-search"></i>
                                Buscar paquetes
                            </mat-label>
                            <input matInput (keyup)="applyFilter($event)" class="input-search-table" #input>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-12 p-0 w-100 p-2">
                    <table #table mat-table matSort [dataSource]="dataSource"
                        class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
                        style="min-width: 100%;"> <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Código
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <span>
                                    #{{row.couponCode | slice:6}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Valor de recarga
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <span>{{row.couponDiscountValue | currency}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Nombre del paquete
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <span>{{row.couponName}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <!-- <i *ngIf="row.couponIsActive" class="fa fa-check text-primary" aria-hidden="true"></i>
                                <i *ngIf="!row.couponIsActive" class="fa fa-times text-danger" aria-hidden="true"></i> -->
                                <span *ngIf="row.couponIsActive" class="state-order btn btn-success btn-sm m-0 ml-2">
                                    Activo
                                </span>
                                <span *ngIf="!row.couponIsActive" class="state-order btn btn-danger btn-sm m-0 ml-2">
                                    Inactivo
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="line">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Categoría
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <span>{{row.coupon_line_name}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Editar
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <span (click)="editCoupon(row)" class="state-order btn btn-primary btn-sm m-0 ml-2">
                                    Editar
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                                Eliminar
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                 <span (click)="deleteCoupon(row)" class="state-order btn btn-danger btn-sm m-0">
                                    Eliminar
                                </span>
                                <!-- <i class="fa fa-trash text-danger cursor-pointer btn-functions cursor-pointer "
                                    aria-hidden="true" type="button" (click)="deleteCoupon(row)"></i> -->
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableCoupons showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** Modal admin *** -->
<div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid-body">
            <form #formCoupon="ngForm" novalidate
                (ngSubmit)="saveCoupon(formCoupon.value, formCoupon.valid , formCoupon)">
                <div class="modal-header justify-content-center text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="nc-icon nc-simple-remove text-white"></i>
                    </button>
                    <h4 class="card-title">{{isEditCoupon ? 'Editar' : 'Nueva'}} Recarga</h4>
                </div>
                <div class="modal-body m-0 p-0">
                    <div class="row m-0 p-0 w-100 ">
                        <div class="col-sm-6">
                            <label class="control-label" for="">Valor de recarga ($):
                                <span class="star">*</span>
                            </label>
                            <input readonly type="hidden" class="form-control" name="coupon_code"
                                [(ngModel)]="coupon.couponCode" required #coupon_code="ngModel">
                            <input type="text" class="form-control" name="coupon_value"
                                placeholder="Valor de recarga ($)" [(ngModel)]="coupon.couponDiscountValue"
                                #coupon_value="ngModel"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                            <small [hidden]="coupon_value.valid || (coupon_value.pristine && !formCoupon.submitted)"
                                class="text-danger">
                                Valor es requerido.
                            </small>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="">Nombre del paquete:
                                <span class="star">*</span>
                            </label>
                            <input type="text" class="form-control" name="coupon_name" [(ngModel)]="coupon.couponName"
                                required #coupon_name="ngModel" placeholder="Nombre del paquete">
                            <small [hidden]="coupon_name.valid || (coupon_name.pristine && !formCoupon.submitted)"
                                class="text-danger">
                                Nombre es requerido.
                            </small>
                        </div>
                        <div class="col-sm-12 text-center">
                            <label class="control-label" for="">Estado del paquete:
                                <span class="star">*</span>
                            </label>
                            <br>
                            <bSwitch name="coupon_state" [(ngModel)]="coupon.couponIsActive" [switch-on-color]="'primary'"
                                [switch-off-color]="'primary'" [switch-off-text]="'&#x2715;'"
                                [switch-on-text]="'&#x2714;'">
                            </bSwitch>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer border-none">
                    <div class="left-side mx-0">
                        <button (click)="cancelViewForm()" type="button" class="btn btn-danger btn-link">
                            Cancelar
                        </button>
                    </div>
                    <div class="right-side mx-0">
                        <button type="submit" class="btn btn-primary btn-link">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- *** #Modal admin *** -->