<div class="main-content">
    <app-loading></app-loading>

    <!-- *** Tabla de ordenes *** -->
    <div class="row w-100 m-0 p-0 container-fluid-body p-2">
        <div class="col-12 col-sm-6 m-0 text-white">
            <label class="control-label" for="date">
                Fecha de entrega
            </label>
            <div class="col display-col-center p-0">
                <div class="input-group mb-2 shadow-sm rounded" style="max-width: 300px;">
                    <div class="input-group-prepend m-0 p-0">
                        <span class="input-group-text div-icon-prepend text-white border-0">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input id="date" [(ngModel)]="daySelected" class="form-control border-0"
                        placeholder="Seleccione una fecha" name="date" ngbDatepicker #d="ngbDatepicker"
                        (click)="d.toggle()" (ngModelChange)="onDateSelected()">
                    <!-- <div class="input-group-append m-0 p-0">
                        <button class="btn btn-light border-0 div-icon m-0 p-0" type="button" (click)="cleanInputDate()"
                            title="Limpiar fecha">
                            <i class="fa fa-times text-white"></i>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 m-0 text-white text-right">
            <div class="btn btn-primary" (click)="viewScanSearchByStudent()">
                <img src="../../../../assets/img/icons/codigo-qr.png" class="qr-code" alt="">
            </div>
        </div>
        <div class="col-12 p-0">
            <table #table mat-table matSort [dataSource]="dataSource"
                class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
                style="min-width: 100%;">
                <!-- *** Nro de orden *** -->
                <ng-container matColumnDef="n">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Nro Orden
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                        <span>
                            {{i + 1}}
                            <!-- {{row.order_transaccion_id | slice:6}} -->
                        </span>
                    </td>
                </ng-container>

                <!-- *** Fecha de la compra *** -->
                <ng-container matColumnDef="dateRequest">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Fecha de compra
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <span>{{ convertToDate(row.order_date_full) | date:'medium':'' }}</span>
                    </td>
                </ng-container>

                <!-- *** Nombre del cliente *** -->
                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Nombre del cliente
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <span>{{row.order_student_name}}</span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Nro de Productos
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <span>{{row.order_length_products}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Total Orden
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <span>{{row.order_total_to_pay | currency}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                        Ver detalles
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <span (click)="viewProducts(row)" class="state-order btn btn-primary btn-sm m-0 ml-2">
                            Ver detalles
                        </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableOrdersDelivered showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<!-- *** Modal details order selected *** -->
<div class="modal fade modal-primary" id="modalDetailsOrder" tabindex="-1" role="dialog"
    aria-labelledby="modalDetailsOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-fluid-body">
            <div class="modal-header justify-content-center \">
                <button id="modal-products" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove text-white"></i>
                </button>
                <h4 *ngIf="orderSelected" class="title title-up text-white">
                    Detalles de la orden
                    #{{orderSelected.order_transaccion_id | slice:8}}
                </h4>
            </div>
            <div class="modal-body pl-1 pr-1" *ngIf="arrayProducts">
                <div class="col-12 p-0">
                    <div class="row w-100 m-0 p-0 text-white" *ngIf="orderSelected">
                        <div class="col-12 mt-1">
                            <span>Orden: </span>#<span>{{orderSelected.order_transaccion_id | slice:8}}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Método de pago: </span><span>{{orderSelected.order_payment_method}}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Fecha de la compra: </span><span>{{convertToDate(orderSelected.order_date_full) |
                                date:'medium':''}}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Valor total de la compra: </span><span>{{orderSelected.order_total_to_pay | currency
                                }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <!-- <th scope="col" class="text-center">Imagen</th> -->
                                <th scope="col" class="text-center">Producto</th>
                                <th scope="col" class="text-center">Fecha de entrega</th>
                                <th scope="col" class="text-center">Típo de entrega</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-center">Costo(u)</th>
                                <th scope="col" class="text-center">Subtotal</th>
                                <th scope="col" class="text-center">Estado de entrega</th>
                                <th scope="col" class="text-center">Entregar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of arrayProducts , let i = index">
                                <td scope="row">{{i + 1}}</td>
                                <!-- <td>
                                    <div class="pt-1 pb-1">
                                        <div class="img-content-product-table"
                                            style="background-image: url({{product.product_images[0]}}); background-size: contain;">
                                        </div>
                                    </div>
                                </td> -->
                                <td class="text-center">{{product.product_name}} </td>
                                <!-- <td class="text-center">{{product.product_description}}</td> -->
                                <td class="text-center">{{product.product_order_delivery_date | date }}</td>
                                <td class="text-center">
                                    <span class="text-primary font-text-bold"
                                        *ngIf="product.product_delivery_method === 'i withdraw'">
                                        Retirar personalmente en el bar
                                    </span>
                                    <span class="text-primary font-text-bold"
                                        *ngIf="product.product_delivery_method === 'delivery'">
                                        Recibir el producto en el aula
                                    </span>
                                </td>

                                <td class="text-center">{{product.product_quantity_in_cart}}</td>
                                <td class="text-center">{{product.product_price | currency}}</td>
                                <td class="text-center"> {{product.product_subtotal | currency}}</td>
                                <td class="text-center">
                                    <span *ngIf="!product.product_state_in_order"
                                        class="state-order btn btn-danger btn-sm m-0">
                                        Por entregar
                                    </span>
                                    <span *ngIf="product.product_state_in_order"
                                        class="state-order btn btn-success btn-sm m-0">
                                        Entregado
                                    </span><br>
                                    <!-- <i *ngIf="product.product_state_in_order" class="fa fa-check text-success"></i> -->
                                    <!-- <i *ngIf="!product.product_state_in_order" class="fa fa-close text-danger"></i><br> -->
                                    <small>{{product.product_delivery_date}} {{product.product_dalivery_time}}</small>
                                </td>
                                <td class="text-center" *ngIf="!viewDetailProduct">
                                    <mat-checkbox [checked]="product.product_state_in_order"
                                        (change)="changeStatus($event, product)" class="example-margin">
                                    </mat-checkbox>
                                </td>
                                <td class="text-center" *ngIf="viewDetailProduct">
                                    <mat-checkbox [checked]="product.product_state_in_order"
                                        (change)="changeStatusOnlyProduct($event, product)" class="example-margin">
                                    </mat-checkbox>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer border-none">
                <div class="left-side mx-0">
                    <!-- <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button> -->
                </div>
                <!-- <div class="divider"></div> -->
                <div class="right-side mx-0">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-link">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *** #Modal details order selected *** -->

<!-- *** Modal to scan Qr code *** -->
<div class="modal fade modal-primary" style="overflow-y: hidden;" id="modalScannerQrCode" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg p-3">
        <div class="modal-content container-fluid-body p-0 m-0">
            <button hidden id="modal-scanner-close" type="button" class="btn btn-link btn-link" data-dismiss="modal">
                Close
            </button>
            <div class="modal-header justify-content-center m-0 p-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="stopScanning()">
                    <i class="nc-icon nc-simple-remove text-white"></i>
                </button>
                <h4 *ngIf="orderSelected" class="title title-up text-white">
                    Scanear QR
                </h4>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="row w-100 m-0 p-0">
                    <div class="col-sm-12 m-0 p-0 text-center justufy-align-center">
                        <button hidden id="close-scan" (click)="stopScanning()"></button>
                        <input type="hidden" #selection>
                        <div class="terminal mx-auto" [ngSwitch]="selection.value">
                            <pre *ngSwitchDefault>
                              <div class="m-0 p-0 container-camera">
                                <qr-scanner
                                  [debug]="false"
                                  [canvasWidth]="300"
                                  [canvasHeight]="300"
                                  [stopAfterScan]="true"
                                  [updateTime]="50"> 
                                </qr-scanner>    
                              </div>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>