<div class="main-content">
    <app-loading></app-loading>
    <div class="container-fluid-body p-0">

        <!-- LISTA - Lineas -->
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div>
                            <button class="btn btn-primary" (click)="newLine()">Nueva Categoría</button>
                        </div>
                    </div>
                    <div class="col-sm-6 p-3 text-right">
                        <mat-form-field class="text-white">
                            <mat-label>
                                <i class="fa fa-search"></i>
                                Buscar categoría</mat-label>
                            <input matInput (keyup)="applyFilter($event)" class="input-search-table" #input>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <table #table mat-table matSort [dataSource]="dataSource"
                        class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
                        style="min-width: 100%;">
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef class="m-0 p-0 text-center title-table">
                                Código </th>
                            <td mat-cell *matCellDef="let row" class="m-0 p-0 text-center">
                                <span>
                                    {{row.category_id | slice:10}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="m-0 p-0 text-center title-table">
                                Nombre </th>
                            <td mat-cell *matCellDef="let row" class="m-0 p-0 text-left">
                                <span>{{row.category_name}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="m-0 p-0 text-center title-table">
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let row" class="m-0 p-0 text-center">
                                <!-- <i *ngIf="row.category_state" class="fa fa-check text-primary" aria-hidden="true"></i> -->
                                <!-- <i *ngIf="!row.category_state" class="fa fa-times text-danger" aria-hidden="true"></i> -->
                                <span *ngIf="row.category_state" class="state-order btn btn-success btn-sm m-0">
                                    Activa
                                </span>
                                <span *ngIf="!row.category_state" class="state-order btn btn-danger btn-sm m-0">
                                    Inactiva
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef class="m-0 p-0 text-center title-table">
                                Editar
                            </th>
                            <td mat-cell *matCellDef="let row" class="m-0 p-0 text-center">
                                <small *ngIf="row.category_is_menu">
                                    No aplica
                                </small>
                                <i [hidden]="row.category_is_menu"
                                    class="fa fa-pencil-square cursor-pointer text-warning btn-functions  cursor-pointer"
                                    aria-hidden="true" (click)="editLine(row)"></i>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef class="m-0 p-0 text-center title-table">
                                Eliminar
                            </th>
                            <td mat-cell *matCellDef="let row" class="m-0 p-0 text-center">
                                <small *ngIf="row.category_is_menu">
                                    No aplica
                                </small>
                                <i [hidden]="row.category_is_menu"
                                    class="fa fa-trash text-danger cursor-pointer btn-functions cursor-pointer "
                                    aria-hidden="true" type="button" (click)="deleteLine(row)"></i>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns ; let i = index;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableLines showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** Modal admin *** -->
<div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid-body">
            <div class="modal-header justify-content-center text-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove text-white"></i>
                </button>
                <h4 class="card-title">{{isEditLine ? 'Editar' : 'Nueva'}} Categoría</h4>
            </div>
            <div class="modal-body">
                <form #formLine="ngForm" novalidate (ngSubmit)="saveLine(formLine.value, formLine.valid, formLine)">
                    <div class="card-body">
                        <div class="row m-0 w-100 align-items-center justify-content-center">
                            <div class="col-sm-4">
                                <label class="control-label" for="">Código (Automático):
                                    <span class="star">*</span>
                                </label>
                                <input readonly type="text" class="form-control" name="category_id"
                                    [(ngModel)]="line.category_id" required #category_id="ngModel">
                                <small [hidden]="category_id.valid || (category_id.pristine && !formLine.submitted)"
                                    class="text-danger">
                                    Código es requerido.
                                </small>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label" for="">Nombre de la categoría:
                                    <span class="star">*</span>
                                </label>
                                <input type="text" class="form-control" name="category_name"
                                    [(ngModel)]="line.category_name" required #category_name="ngModel"
                                    placeholder="Nombre de la categoría">
                                <small [hidden]="category_name.valid || (category_name.pristine && !formLine.submitted)"
                                    class="text-danger">
                                    Nombre es requerido.
                                </small>
                            </div>
                            <div class="col-sm-4 text-center">
                                <label class="control-label" for="">Estado:
                                    <span class="star">*</span>
                                </label>
                                <br>
                                <bSwitch name="category_state" [(ngModel)]="line.category_state"
                                    [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                    [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                </bSwitch>
                            </div>

                        </div>
                    </div>
                    <div class="">
                        <div class="row m-0 w-100 justify-content-center align-items-center">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Registrar
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="button" (click)="cancelViewForm()" class="btn btn-danger btn-block">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- *** #Modal New User *** -->