<div class="main-content">

    <div class="container-fluid p-0 ">

        <app-top-bar [student]="student" [student_id]="student_id"></app-top-bar>
        <div class="row m-0 ">
            <div class="col-sm-12">
                <div (click)="goBehind()"
                    class="col-1 div-content-behind d-flex justify-content-center align-items-center cursor-pointer  ">
                    <i class="fa fa-arrow-left"></i>
                </div>
            </div>


        </div>
        <div class="row m-0 mt-3">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 border-card" *ngFor="let provider of providersList">
                <div class="card card-pricing card-plain"
                    [class.card-disabled]="!representative.representative_state_confirm_by_bar">
                    <div (click)="representative.representative_state_confirm_by_bar ? selectProvider(provider) : launchModalAwaitApprobed()"
                        *ngIf="provider.provider_image" class="card-provider"
                        [ngClass]="{'cursor-disabled': !representative.representative_state_confirm_by_bar, 'cursor-pointer' : representative.representative_state_confirm_by_bar }"
                        style="background-image: url({{provider.provider_image}});"></div>
                    <div (click)="representative.representative_state_confirm_by_bar ? selectProvider(provider) : launchModalAwaitApprobed()"
                        *ngIf="!provider.provider_image" class="card-provider"
                        [ngClass]="{'cursor-disabled': !representative.representative_state_confirm_by_bar, 'cursor-pointer' : representative.representative_state_confirm_by_bar }"
                        style="background-image: url(../../../../assets/img/image_placeholder.jpg)"> </div>
                    <div class="card-footer"
                        [ngClass]="{'cursor-disabled': !representative.representative_state_confirm_by_bar, 'cursor-pointer' : representative.representative_state_confirm_by_bar }"
                        (click)="representative.representative_state_confirm_by_bar ? selectProvider(provider) : launchModalAwaitApprobed()">
                        <p class="btn btn-round btn-name">{{provider.provider_business_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>