<div class="main-content">
    <app-loading></app-loading>

    <div class="row m-0 p-0 w-100">
        <div class="col-sm-8">
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 m-0 p-0">
            <div class="card card-stats container-fluid-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total de países</p>
                                <p class="card-title mt-4 mb-5">
                                    {{ arrayInstruction.length }}
                                </p>
                            </div>
                        </div>
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center bg-purple-dark p-3 mx-0">
                                <img src="../../../../assets/img/icons/users.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" (click)="newInstructions()">Nuevo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 w-100">
        <div class="row w-100 m-0 p-0 mt-2 container-fluid-body">
            <div class="col-12 p-0 w-100 container-fluid-body m-0 p-0 table-responsive">
                <table mat-table matSort [dataSource]="dataSource"
                    class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
                    style="min-width: 100%;">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Código
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>
                                #{{row.instructionsCode | slice:6}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.instructionsName}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Teléfono soporte
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.instructionsDescription}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Estado
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span *ngIf="row.instructionsState" class="state-order btn btn-success btn-sm m-0 ml-2">
                                Activo
                            </span>
                            <span *ngIf="!row.instructionsState" class="state-order btn btn-danger btn-sm m-0 ml-2">
                                Inactivo
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Editar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span (click)="editInstructions(row)" class="state-order btn btn-primary btn-sm m-0 ml-2">
                                Editar
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
                            Eliminar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span (click)="deleteInstructions(row)" class="state-order btn btn-danger btn-sm m-0 ml-2">
                                Editar
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableProviders showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>


<!-- *** Modal New User *** -->
<div class="modal fade" id="modalNewInstructions" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid-body">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h4 class="card-title">
                    {{ isEdit ? "Actualizar" : "Nueva" }}
                    Instrucción
                </h4>
            </div>
            <div class="modal-body">
                <form #formInstructions="ngForm" novalidate
                    (ngSubmit)="saveInstructions(formInstructions.valid, formInstructions)">
                    <div class="row w-100 m-0 p-0">
                        <div class="col-12">
                            <div class="form-group has-label">
                                <div class="row w-100 m-0 p-0 mb-3 p-3">
                                    <input readonly type="hidden" class="form-control" name="instructionsId"
                                        placeholder="Id" [(ngModel)]="instructions.instructionsId" required
                                        #instructionsId="ngModel" />

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Código
                                        </label>
                                        <input type="text" class="form-control" name="instructionsCode"
                                            placeholder="Código" [(ngModel)]="instructions.instructionsCode" required
                                            #instructionsCode="ngModel" />
                                        <small
                                            [hidden]="instructionsCode.valid || (instructionsCode.pristine && !formInstructions.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Título
                                        </label>
                                        <input type="text" class="form-control" name="instructionsName"
                                            placeholder="Título" [(ngModel)]="instructions.instructionsName" required
                                            #instructionsName="ngModel" />
                                        <small
                                            [hidden]="instructionsName.valid || (instructionsName.pristine && !formInstructions.submitted)"
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                                        <label class="control-label" for="">
                                            <span class="star">*</span> Descripción:
                                        </label>
                                        <input type="text" class="form-control" name="instructionsTickets"
                                            [(ngModel)]="instructions.instructionsDescription" required
                                            #instructionsTickets="ngModel" pattern="" placeholder="Descripción" />
                                        <small
                                            [hidden]="instructionsTickets.valid || (instructionsTickets.pristine && !formInstructions.submitted) "
                                            class="text-danger">
                                            Campo obligatorio
                                        </small>
                                    </div>



                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3 text-center">
                                        <label class="control-label" for="">Estado:
                                            <span class="star">*</span>
                                        </label>
                                        <br />
                                        <bSwitch name="instructionsState" [(ngModel)]="instructions.instructionsState"
                                            [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                            [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                        </bSwitch>
                                    </div>



                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3">
                                        <button type="submit" class="btn btn-primary text-btn-form btn-block">
                                            {{ isEdit ? "Actualizar" : "Guardar" }}
                                        </button>
                                        <div class="category">
                                            <span class="star">*</span> Campos requeridos
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3">
                                        <button type="button" (click)="cancelViewForm(formInstructions)"
                                            class="btn btn-danger text-btn-form btn-block">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- *** #Modal New User *** -->