<div class="main-content">
  <app-loading></app-loading>

  <div class="row m-0 p-0 w-100 container-fluid-body">
    <div class="col-12 col-sm-12 col-md-12 p-2">
      <!-- *** Title: student name *** -->
      <div class="row m-0 p-0 w-100">
        <div class="col-12 update ml-auto mr-auto">
          <div class="badge badge-secondary border-none btn-block p-4">
            Ordenes de: {{student.student_name}} {{student.student_lastname}}
          </div>
        </div>
      </div>
      <!-- *** Filters: by state, by state pay *** -->
      <div class="row mb-3 align-items-end">

        <!-- Estado de la Orden -->
        <!-- <div class="col-md-3"> -->
        <!-- <label for="estadoOrden" class="form-label text-white">Estado de la orden</label>
          <select [(ngModel)]="filters.status" (change)="loadFilteredOrders()">
            <option value="Todos">Todos</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Entregada">Entregada</option>
          </select>
          <mat-select [(ngModel)]="filtroEstadoOrden" placeholder="Seleccionar estado" class="w-100" appearance="fill">
            <mat-option value="">Todos</mat-option>
            <mat-option value="true">Pendiente</mat-option>
            <mat-option value="false">Entregada</mat-option>
          </mat-select> -->
        <!-- </div> -->

        <!-- Estado del Pago -->
        <!-- <div class="col-md-3">
          <label for="estadoPago" class="form-label text-white">Estado del pago</label>
          <mat-select [(ngModel)]="filtroEstadoPago"Fecha de entrega: *
 placeholder="Seleccionar pago" class="w-100" appearance="fill">
            <mat-option value="">Todos</mat-option>
            <mat-option value="aprobado">Aprobado</mat-option>
            <mat-option value="proceso">En proceso</mat-option>
            <mat-option value="rechazado">Rechazado</mat-option>
          </mat-select>
        </div> -->

        <!-- Rango de Fechas -->
        <div class="col-md-4">
          <label class="form-label text-white m-0 p-0 pb-1">Seleccionar el rango de fechas</label>
          <mat-form-field appearance="fill" class="form-control" style="height: 37px;">
            <mat-date-range-input [rangePicker]="picker">
              <input disabled matStartDate placeholder="Desde" [(ngModel)]="filters.startDate" name="startDate"
                (dateChange)="validateDate('start', $event)">
              <input disabled matEndDate placeholder="Hasta" [(ngModel)]="filters.endDate" name="endDate"
                (dateChange)="validateDate('end', $event)">
            </mat-date-range-input>
            <mat-datepicker-toggle disabled="false" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker disabled="false" #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <!-- *** Aplicar filtro *** -->
        <div class="col-md-4">
          <label class="form-label text-white m-0 p-0 pb-1">Aplicar filtros</label>
          <button class="btn btn-primary btn-block m-0" (click)="applyFilters()">Filtrar fechas</button>
        </div>

        <!-- Buscar por número de orden -->
        <div class="col-md-4">
          <!-- <label class="form-label text-white">Nro. orden</label>
          <input type="text" [(ngModel)]="busquedaOrden" class="form-control" placeholder="Buscar..." /> -->
        </div>





      </div>

    </div>
  </div>



  <!-- *** Data: orders list by student *** -->
  <div class="row w-100 m-0 p-0 mt-2 container-fluid-body">
    <div class="col-12 p-0 w-100 container-fluid-body m-0 p-0">
      <div *ngIf="arrayOrders && arrayOrders.length === 0" class="col-12 p-1 text-center text-muted my-4">
        <p class="mb-0">No se encontraron compras generadas</p>
        <p class="mb-0">
          Desde:
          {{filters.startDate | date:'mediumDate':''}}
          Hasta:
          {{filters.endDate | date:'mediumDate':''}}.
        </p>
        <small>Por favor, elige otro rango de fechas o revisa más tarde.</small>
      </div>
      <table *ngIf="arrayOrders && arrayOrders.length > 0" #table mat-table matSort [dataSource]="dataSource"
        class="mat-elevation-z8 table-reponsive table-bordered container-fluid-body text-white"
        style="min-width: 100%;">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Nro de orden
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <span>
              #{{row.order_transaccion_id | slice:8}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="dateOrder">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Fecha de compra
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <span>{{ convertToDate(row.order_date_full) | date:'medium':'' }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="methodPay">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Método de pago
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <span>{{ row.order_payment_method }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="statusPay">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Estado del pago
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <span *ngIf="!row.order_state_payment_method_string" class="state-order btn btn-warning btn-sm m-0">
              En espera
            </span>
            <span *ngIf="row.order_state_payment_method_string === 'Rechazada'"
              class="state-order btn btn-danger btn-sm m-0">
              Rechazado
            </span>
            <span *ngIf="row.order_state_payment_method_string === 'Aceptada'"
              class="state-order btn btn-success btn-sm m-0">
              Aprobado
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="statusOrder">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Estado de la orden
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <span *ngIf="row.order_state" class="state-order btn btn-success btn-sm m-0">
              Entregada
            </span>
            <span *ngIf="!row.order_state" class="state-order btn btn-danger btn-sm m-0">
              Pendiente
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Valor
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            {{row.order_total_to_pay | currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef class="text-center title-table m-0 p-0">
            Opciones
          </th>
          <td mat-cell *matCellDef="let row" class="text-center m-0 p-0">
            <button (click)="viewProducts(row)" class="btn btn-primary btn-sm mt-0">
              Detalles
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns ; let i = index;"></tr>
      </table>
      <mat-paginator *ngIf="arrayOrders && arrayOrders.length > 0" [pageSizeOptions]="[10, 25, 50]" #tableOrders
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>


  <!-- <div class="container-fluid">
    <div class="">
      <div class="row w-100 m-0 p-0">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-plain card-subcategories">
            <div class="card-body ">
              <div class="row">
                <div class="col-sm-2">
                  <div (click)="goBehind()"
                    class="col-1 div-content-behind d-flex justify-content-center align-items-center cursor-pointer  ">
                    <i class="fa fa-arrow-left"></i>
                  </div>
                </div>
                <div class="col-sm-10">
                  <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#pending" role="tablist">
                        <i class="now-ui-icons objects_umbrella-13"></i> Pendiente
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#delivered" role="tablist">
                        <i class="now-ui-icons ui-2_settings-90"></i> Entregados
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="pending">
                  <div class="col-12 p-0 w-100 alert alert-danger text-center"
                    *ngIf="arrayOrders && arrayOrders.length === 0">
                    <i class="fa fa-info-circle"></i><br>
                    <span>No hay ordenes pendientes.</span>
                  </div>
                  <div class="card p-3" *ngFor="let order of arrayOrders">
                    <div class="row justify-content-center">
                      <div class="col-sm-2">
                        <h3>Orden</h3>
                        #{{order.order_transaccion_id | slice:8}}
                      </div>
                      <div class="col-sm-2">
                        <h3>Total</h3>
                        ${{order.order_total_to_pay.toFixed(2)}}
                      </div>
                      <div class="col-sm-3">
                        <h3>Fecha de la orden</h3>
                        {{order.order_date}}
                      </div>
                      <div class="col-sm-3">
                        <h3>Estado del pago</h3>
                        <span class="state-order" *ngIf="!order.order_state_payment_method_string">
                          <i class="nc-icon nc-refresh-69 text-warning font-bold">
                          </i> &nbsp; En espera
                        </span>
                        <span *ngIf="order.order_state_payment_method_string === 'Rechazada'" class="state-order">
                          <i class="nc-icon nc-simple-remove text-danger font-bold"></i> Rechazado
                        </span>
                        <span *ngIf="order.order_state_payment_method_string === 'Aceptada'" class="state-order">
                          <i class="nc-icon nc-check-2 text-success font-bold"></i> Aprobado
                        </span>
                      </div>
                      <div class="col-sm-2">
                        <h3>Detalles</h3>
                        <button (click)="viewProducts(order)" class="btn btn-primary btn-sm mt-0">
                          Detalles
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="delivered">
                  <div class="col-12 p-0 w-100 alert alert-danger text-center"
                    *ngIf="arrayOrdersDelivered && arrayOrdersDelivered.length === 0">
                    <i class="fa fa-info-circle"></i><br>
                    <span>No hay ordenes entregadas.</span>
                  </div>
                  <div class="card p-3" *ngFor="let order of arrayOrdersDelivered">
                    <div class="row">
                      <div class="col-sm-3">
                        <h3>Orden</h3>
                        #{{order.order_transaccion_id | slice:8}}
                      </div>
                      <div class="col-sm-3">
                        <h3>Total</h3>
                        ${{order.order_total_to_pay.toFixed(2)}}
                      </div>
                      <div class="col-sm-3">
                        <h3>Fecha de la orden</h3>
                        {{order.order_date}}
                      </div>
                      <div class="col-sm-3">
                        <h3>Detalles</h3>
                        <button (click)="viewProducts(order)" class="btn btn-primary">
                          Detalles
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- small modal -->
  <div class="modal fade modal-primary" id="modalDetailsOrder" tabindex="-1" role="dialog"
    aria-labelledby="modalDetailsOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container-fluid-body">
        <div class="modal-header justify-content-center \">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 *ngIf="order_detail" class="title title-up text-white">Detalles de la orden
            #{{order_detail.order_transaccion_id | slice:8}}</h4>
        </div>
        <div class="modal-body pl-1 pr-1" *ngIf="array_products">
          <div class="col-12 p-0">
            <div class="row w-100 m-0 p-0 text-white" *ngIf="order_detail">
              <div class="col-12 mt-1">
                <span>Orden: </span>#<span>{{order_detail.order_transaccion_id | slice:8}}</span>
              </div>
              <div class="col-12 mt-1">
                <span>Método de pago: </span><span>{{order_detail.order_payment_method}}</span>
              </div>
              <div class="col-12 mt-1">
                <span>Fecha de la compra: </span><span>{{convertToDate(order_detail.order_date_full) |
                  date:'medium':''}}</span>
              </div>
              <div class="col-12 mt-1">
                <span>Valor total de la compra: </span><span>{{order_detail.order_total_to_pay | currency }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 p-0 table-responsive">
            <table class="table table-bordered ">
              <thead>
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">Imagen</th>
                  <th scope="col" class="text-center">Producto</th>
                  <th scope="col" class="text-center">Descripción</th>
                  <th scope="col" class="text-center">Fecha de entrega</th>
                  <th scope="col" class="text-center">Típo de entrega</th>
                  <th scope="col" class="text-center">Cant</th>
                  <th scope="col" class="text-center">P.U</th>
                  <th scope="col" class="text-center">Subtotal</th>
                  <th scope="col" class="text-center">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of array_products , let i = index">
                  <td scope="row">{{i + 1}}</td>
                  <td>
                    <div class="pt-1 pb-1">
                      <div class="img-ontent-product-table avatar-mini-details"
                        style="background-image: url({{product.product_images[0]}}); background-size: cover;">
                      </div>
                    </div>
                  </td>
                  <td class="text-center">{{product.product_name}} </td>
                  <td class="text-center">{{product.product_description}}</td>
                  <td class="text-center">{{product.product_order_delivery_date | date }}</td>
                  <td class="text-center">
                    <span class="text-primary font-text-bold" *ngIf="product.product_delivery_method === 'i withdraw'">
                      Retirar personalmente en el bar
                    </span>
                    <span class="text-primary font-text-bold" *ngIf="product.product_delivery_method === 'delivery'">
                      Recibir el producto en el aula
                    </span>

                  </td>

                  <td class="text-center">{{product.product_quantity_in_cart}}</td>
                  <td class="text-center">{{product.product_price | currency}}</td>
                  <td class="text-center"> {{product.product_subtotal | currency}}</td>
                  <td class="text-center">
                    <span *ngIf="!product.product_state_in_order" class="state-order btn btn-danger btn-sm m-0">
                      Pendiente
                    </span>
                    <span *ngIf="product.product_state_in_order" class="state-order btn btn-success btn-sm m-0">
                      Entregado
                    </span><br>
                    <!-- <i *ngIf="product.product_state_in_order" class="fa fa-check text-success"></i> -->
                    <!-- <i *ngIf="!product.product_state_in_order" class="fa fa-close text-danger"></i><br> -->
                    <small>{{product.product_delivery_date}} {{product.product_dalivery_time}}</small>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
        <div class="modal-footer border-none">
          <div class="left-side mx-0">
            <!-- <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button> -->
          </div>
          <!-- <div class="divider"></div> -->
          <div class="right-side mx-0">
            <button type="button" data-dismiss="modal" class="btn btn-danger btn-link">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modalDetailsOrder1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title title-up">Modal title</h4>
        </div>
        <div class="modal-body">
          <!-- {{product.product_order_delivery_date}} -->
        </div>
        <div class="modal-footer">
          <div class="left-side mx-0">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
          </div>
          <div class="divider"></div>
          <div class="right-side mx-0">
            <button type="button" class="btn btn-danger btn-link">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>