<div class="main-content">
    <div class="row" class="collapse multi-collapse " id="multiCollapseSchool">
        <div class="col-sm-12 p-0">
            <div class="card">
                <form #formSchool="ngForm" novalidate (ngSubmit)="saveSchool(formSchool.valid, formSchool)">
                    <div class="card-header ">
                        <h4 class="card-title">{{isEdit ? 'Editar' : 'Nueva'}} unidad educativa</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="col-sm-12 text-center">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div *ngIf="!school.school_image && !previe_url_image  " class="thumbnail">
                                            <img src="./assets/img/image_placeholder.jpg" alt="school_image">
                                        </div>
                                        <div *ngIf="previe_url_image && school.school_image" class="thumbnail">
                                            <img src="{{previe_url_image}}" alt="school_image">
                                        </div>
                                        <div *ngIf="previe_url_image &&  !school.school_image" class="thumbnail">
                                            <img src="{{previe_url_image}}" alt="school_image">
                                        </div>
                                        <div class=" thumbnail" *ngIf="school.school_image && !previe_url_image ">
                                            <img src="{{school.school_image}}" alt="school_image">
                                        </div>
                                        <div>
                                            <span class="btn btn-rose btn-file">
                                                <span class="fileinput-new "
                                                    *ngIf="!school.school_image && !previe_url_image">Seleccionar
                                                    imagen</span>
                                                <span *ngIf="school.school_image || previe_url_image">Cambiar</span>
                                                <input accept="image/*" type="file" id="school_image"
                                                    name="school_image" (change)="fileProgress($event)" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group has-label">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Código:
                                                <span class="star">*</span>
                                            </label>
                                            <input readonly type="text" class="form-control" name="school_id"
                                                [(ngModel)]="school.school_id" required #school_id="ngModel">
                                            <small
                                                [hidden]="school_id.valid || (school_id.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Código es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Nombre:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="school_name"
                                                [(ngModel)]="school.school_name" required #school_name="ngModel">
                                            <small
                                                [hidden]="school_name.valid || (school_name.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Nombre es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Ruc:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="school_ruc"
                                                [(ngModel)]="school.school_ruc" required #school_ruc="ngModel" maxlength="13"
                                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                                            <small
                                                [hidden]="school_ruc.valid || (school_ruc.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Ruc es requerido.
                                            </small>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Dirección:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="school_address"
                                                [(ngModel)]="school.school_address" required #school_address="ngModel">
                                            <small
                                                [hidden]="school_address.valid || (school_address.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Dirección es requerida.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Teléfono:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="number" class="form-control" name="school_phone"
                                                [(ngModel)]="school.school_phone" required #school_phone="ngModel">
                                            <small
                                                [hidden]="school_phone.valid || (school_phone.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Teléfono es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Email:
                                                <span class="star">*</span>
                                            </label>
                                            <input  type="email" class="form-control"
                                            name="representative_email"
                                            [(ngModel)]="school.school_email" required
                                            #school_email="ngModel"
                                            pattern="^[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$"
                                            placeholder="Email">
                                            <small
                                                [hidden]="school_email.valid || (school_email.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Email  inválido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">País:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="school_country"
                                                [(ngModel)]="school.school_country" required #school_country="ngModel">
                                            <small
                                                [hidden]="school_country.valid || (school_country.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                País es requerido.
                                            </small>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Ciudad:
                                                <span class="star">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="school_city"
                                                [(ngModel)]="school.school_city" required #school_city="ngModel">
                                            <small
                                                [hidden]="school_city.valid || (school_city.pristine && !formSchool.submitted)"
                                                class="text-danger">
                                                Ciudad es requerido.
                                            </small>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label" for="">Estado:
                                                <span class="star">*</span>
                                            </label>
                                            <br>
                                            <bSwitch name="category_state" [(ngModel)]="school.school_state"
                                                [switch-on-color]="'primary'" [switch-off-color]="'primary'"
                                                [switch-off-text]="'&#x2715;'" [switch-on-text]="'&#x2714;'">
                                            </bSwitch>
                                        </div>
	                                      <div class="col-sm-3">
			                                      <div class="form-group">
				                                        <button type="button" class="btn btn-success" (click)="adminLectiveYear()">
					                                        <i class="fa fa-plus"></i>
				                                        </button>
					                                      <label for="lectiveYear">Año Lectivo</label>
					                                      <select class="custom-select" id="lectiveYear" name="lectiveYear" #lectiveYear="ngModel"
					                                              [(ngModel)]="school.school_active_lective_year">
						                                        <option *ngFor="let year of lectiveYears" [value]="year.lective_year_id">{{year.lective_year_name}}</option>
					                                      </select>
					                                      <!--<small
							                                      [hidden]="lectiveYear.valid || (lectiveYear.pristine && !formSchool.submitted)"
							                                      class="text-danger">
						                                        Es obligatorio determinar el año lectivo activo.
					                                      </small>-->
			                                      </div>
	                                      </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="category"> <span class="star">*</span> Campos requeridos</div>

                                </div>
                                <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary text-btn-form">Registrar</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" (click)="cancelViewForm()"
                                            class="btn btn-danger text-btn-form">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="card">
        <div class="row m-0">
            <div class="col-sm-6 d-flex justify-content-start">
                <div>
                    <button class="btn btn-primary" (click)="newSchool()">Nueva Unidad Educativa</button>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <mat-form-field>
                    <label class="control-label" for="">Buscar:
                    </label>
                    <input matInput (keyup)="applyFilter($event)" class="" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="p-4">
            <div class="responsive-table">
                <table class="table table-bordered" mat-table matSort [dataSource]="dataSource"
                    class="mat-elevation-z8 table-reponsive table-bordered " style="min-width: 100%;">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Código </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>#{{row.school_id | slice:8}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Nombre </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_name}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Dirección </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_address}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Teléfono </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_phone}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Email. </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_email}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            País. </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_country}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Ciudad. </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <span>{{row.school_city}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Estado </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <i *ngIf="row.school_state" class="fa fa-check text-primary" aria-hidden="true"></i>
                            <i *ngIf="!row.school_state" class="fa fa-times text-danger" aria-hidden="true"></i>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Editar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <i class="fa fa-pencil-square cursor-pointer text-warning btn-functions  cursor-pointer"
                                aria-hidden="true" (click)="editSchool(row)"></i>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Administrar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <i class="fa fa-cogs cursor-pointer text-info btn-functions cursor-pointer"
                                aria-hidden="true" (click)="adminSchool(row)"></i>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="text-center title-table">
                            Eliminar
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <i class="fa fa-trash text-danger cursor-pointer btn-functions cursor-pointer "
                                aria-hidden="true" type="button" (click)="deleteSchool(row)"></i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" #tableschools showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h4 class="title title-up">Administrar niveles y paralelos <i class="fa fa-arrow-right"></i>
                    {{school.school_name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="my-tab-content" class="tab-content text-center">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                                <form #formLevel="ngForm" novalidate
                                    (ngSubmit)="saveLevel(formLevel.value, formLevel.valid, formLevel)">
                                    <div class="form-group has-label">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control" name="level_id_school"
                                                    [(ngModel)]="level.level_id_school" required
                                                    #level_id_school="ngModel">
                                                <input type="text" class="form-control" name="level_name"
                                                    placeholder="Nombre del Nivel" [(ngModel)]="level.level_name"
                                                    required #level_name="ngModel">
                                                <small
                                                    [hidden]="level_name.valid || (level_name.pristine && !formLevel.submitted)"
                                                    class="text-danger">
                                                    Nombre del nivel requerido.
                                                </small>
                                            </div>
                                            <div class="col-sm-4 pt-0 ">
                                                <button type="submit"
                                                    class="m-0 btn {{isEditLevel ? 'btn-info' : 'btn-primary' }} text-btn-form">
                                                    {{isEditLevel ? 'Editar nivel' : 'Agregar nivel'}}</button>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Nivel</th>
                                                    <th>Paralelo</th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let level of array_levels">
                                                    <td>{{level.level_id | slice:8}}</td>
                                                    <td>{{level.level_name}}</td>
                                                    <td class="td-parallel text-right">
                                                        <i class="fa fa-plus cursor-pointer text-warning btn-functions cursor-pointer"
                                                            aria-hidden="true" (click)="addParallel(level)"></i>
                                                        <div class="row m-0 p-0"
                                                            *ngFor="let parallel of array_parallels[level.level_id]">
                                                            <div class="col-sm-10 m-0 p-0">
                                                                <!-- {{parallel.parallel_id}} -->
                                                                <input (keyup)="saveParallel(level, parallel)"
                                                                    class="form-control"
                                                                    [(ngModel)]="parallel.parallel_name"
                                                                    placeholder="Paralelo" #parallel_name="ngModel">
                                                            </div>
                                                            <div class="col-sm-2 m-0 p-0">
                                                                <i *ngIf="parallel.parallel_state"
                                                                    class="fa fa-minus-circle cursor-pointer text-danger btn-functions cursor-pointer"
                                                                    aria-hidden="true"
                                                                    (click)="deleteParallel(level, parallel)"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-pencil-square cursor-pointer text-warning btn-functions cursor-pointer"
                                                            aria-hidden="true" (click)="editLevel(level)"></i>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-trash text-danger cursor-pointer btn-functions cursor-pointer"
                                                            aria-hidden="true" (click)="deleteLevel(level)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<!-- Modal Lective Year -->
<div class="modal fade" id="modalAdminLectiveYear" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="nc-icon nc-simple-remove"></i>
				</button>
				<h4 class="title title-up">Administrar años lectivos <i class="fa fa-arrow-right"></i>
					{{school.school_name}}</h4>
			</div>
			<div class="modal-body">
				<app-lective-year [schoolR]="school" *ngIf="school.hasOwnProperty('school_id')"></app-lective-year>
			</div>
		</div>
	</div>
</div>
<!--  End Modal -->
