.navbar-transparent {
    background-color: var(--secondary) !important;
    border: none !important;
}

.navbar-brand {
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 18px;
}

.btn-icon {
    background-color: var(--primary) !important;
}

.visible-on-sidebar-mini,
.visible-on-sidebar-regular {
    color: white !important;
}

.span-email {
    text-transform: lowercase !important;
}