>>>.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    border-color: rgb(191, 191, 191);
    background-color: #e4e4e4 !important; 
    color: #2ca9cd;
}

>>>.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    border-color: rgb(191, 191, 191);
    background-color: #e4e4e4 !important; 
    color: #2ca9cd;
    
}

>>>a {
    color: #32322f !important;
}

>>>.fc-h-event .fc-event-title {
    background-color: #def1f8;
    border-color: #e3f6ea;
    color: #32322f !important;
    cursor: pointer;
}
>>>.fc-h-event .fc-event-title-container {
    background-color: #def1f8;
}
>>>.fc .fc-toolbar-title {
    color: #616161;
}

.font-bold {
    font-weight: bold;
    font-size: 18px;
}

.text-title-table {
    font-size: 12px;
    color: gray;
}